@page "/components/progress-stepper"

<ComponentShowcase Title="Progress stepper" Name="progress-stepper">
  <Description>
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          <JumpLinksItem Href="#basic-with-descriptions">Basic with descriptions</JumpLinksItem>
          <JumpLinksItem Href="#center-aligned-with-descriptions">Center aligned with descriptions</JumpLinksItem>
          <JumpLinksItem Href="#vertical-with-descriptions">Vertical with descriptions</JumpLinksItem>
          <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
          <JumpLinksItem Href="#basic-with-an-issue">Basic with an issue</JumpLinksItem>
          <JumpLinksItem Href="#basic-with-a-failure">Basic with a failure</JumpLinksItem>
          <JumpLinksItem Href="#basic-with-patternfly-icons">Basic with Patternfly icons</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <ComponentExample id="basic" Title="Basic">
      <ProgressStepperBasic />
    </ComponentExample>

    <ComponentExample id="basic-with-descriptions" Title="Basic with descriptions">
      <Title Size="TitleSizes.Large"></Title>
      <ProgressStepperBasicWithDescriptions />
    </ComponentExample>

    <ComponentExample id="center-aligned-with-descriptions" Title="Center aligned with descriptions">
      <ProgressStepperCenterAlignedWithDescriptions />
    </ComponentExample>

    <ComponentExample id="vertical-with-descriptions" Title="Vertical with descriptions">
      <ProgressStepperVerticalWithDescriptions />
    </ComponentExample>

    <ComponentExample id="compact" Title="Compact">
      <ProgressStepperCompact />
    </ComponentExample>

    <ComponentExample id="basic-with-an-issue" Title="Basic with an issue">
      <ProgressStepperBasicWithAnIssue />
    </ComponentExample>

    <ComponentExample id="basic-with-a-failure" Title="Basic with a failure">
      <ProgressStepperBasicWithAFailure />
    </ComponentExample>

    <ComponentExample id="basic-with-patternfly-icons" Title="Basic with PatternFly icons">
      <ProgressStepperBasicWithPatternFlyIcons />
    </ComponentExample>
  </Examples>
</ComponentShowcase>