<DescriptionList>
  <DescriptionListGroup>
    <DescriptionListTerm>
      <Icon><CubeIcon /></Icon>
      <ChildContent>Name</ChildContent>
    </DescriptionListTerm>
    <DescriptionListDescription>Example</DescriptionListDescription>
  </DescriptionListGroup>
  <DescriptionListGroup>
    <DescriptionListTerm>
      <Icon><BookIcon /></Icon>
      <ChildContent>Namespace</ChildContent>
    </DescriptionListTerm>
    <DescriptionListDescription>
      <a href="#">mary-test</a>
    </DescriptionListDescription>
  </DescriptionListGroup>
  <DescriptionListGroup>
    <DescriptionListTerm>
      <Icon><KeyIcon /></Icon>
      <ChildContent>Labels</ChildContent>
    </DescriptionListTerm>
    <DescriptionListDescription>example</DescriptionListDescription>
  </DescriptionListGroup>
  <DescriptionListGroup>
    <DescriptionListTerm>
      <Icon><GlobeIcon /></Icon>
      <ChildContent>Pod selector</ChildContent>
    </DescriptionListTerm>
    <DescriptionListDescription>
      <Button Variant="ButtonVariant.Link" IsInline>
        <Icon><PlusCircleIcon /></Icon>
        <ChildContent>app=MyApp</ChildContent>
      </Button>
    </DescriptionListDescription>
  </DescriptionListGroup>
  <DescriptionListGroup>
    <DescriptionListTerm>
      <Icon><FlagIcon /></Icon>
      <ChildContent>Annotation</ChildContent>
    </DescriptionListTerm>
    <DescriptionListDescription>2 Annotations</DescriptionListDescription>
  </DescriptionListGroup>
</DescriptionList>
