@page "/components/description-list"

<ComponentShowcase Title="Description list" Name="description-list">
  <Description>
    A <strong>description list</strong> contains terms and their corresponding descriptions.
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          <JumpLinksItem Href="#default-2-col">Default 2 col</JumpLinksItem>
          <JumpLinksItem Href="#default-3-col-on-lg">Default 3 col on lg</JumpLinksItem>
          <JumpLinksItem Href="#horizontal">Horizontal</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-2-col">Horizontal 2 col</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-3-col-on-lg">Horizontal 3 col on lg</JumpLinksItem>
          <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
          <JumpLinksItem Href="#compact-horizontal">Compact horizontal</JumpLinksItem>
          <JumpLinksItem Href="#fluid-horizontal">Fluid horizontal</JumpLinksItem>
          <JumpLinksItem Href="#column-fill">Column fill</JumpLinksItem>
          <JumpLinksItem Href="#icons-on-terms">Icons on terms</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#responsive-column-definitions">
      <ChildContent>Responsive column definitions</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-responsive-columns">Default responsive columns</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-responsive-columns">Horizontal responsive columns</JumpLinksItem>
          <JumpLinksItem Href="#responsive-horizontal-vertical-group-layout">Responsive horizontal, vertical group layout</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#auto-column-width">
      <ChildContent>Auto-column-width</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-auto-column-width">Default auto column width</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-auto-column-width">Horizontal auto column width</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#inline-grid">
      <ChildContent>Inline grid</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#Default inline grid">Default inline grid</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#auto-fit">
      <ChildContent>Auto fit</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#auto-fit-basic">Auto-fit basic</JumpLinksItem>
          <JumpLinksItem Href="#auto-fit-min-width-modified-grid-template-columns">Auto-fit, min width modified grid template columns</JumpLinksItem>
          <JumpLinksItem Href="#auto-fit-min-width-modified-responsive-grid-template-columns">Auto-fit, min width modified, responsive grid template columns</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <Snippet id="basic" Title="Basic">
      <DescriptionListBasic />
    </Snippet>

    <Snippet id="default-2-col" Title="Default 2 col">
      <DescriptionListDefaultTwoCols />
    </Snippet>

    <Snippet id="default-3-col-on-lg" Title="Default 3 col on lg">
      <DescriptionListDefaultThreeColsOnLg />
    </Snippet>

    <Snippet id="horizontal" Title="Horizontal">
      <DescriptionListHorizontal />
    </Snippet>

    <Snippet id="horizontal-2-col" Title="Horizontal 2 col">
      <DescriptionListHorizontalTwoCols />
    </Snippet>

    <Snippet id="horizontal-3-col-on-lg" Title="Horizontal 3 col on lg">
      <DescriptionListHorizontalThreeColsOnLg />
    </Snippet>

    <Snippet id="compact" Title="Compact">
      <DescriptionListCompact />
    </Snippet>

    <Snippet id="compact-horizontal" Title="Compact horizontal">
      <DescriptionListCompactHorizontal />
    </Snippet>

    <Snippet id="fluid-horizontal" Title="Fluid horizontal">
      <DescriptionListFluidHorizontal />
    </Snippet>

    <Snippet id="column-fill" Title="Column fill">
      <DescriptionListColumnFill />
    </Snippet>

    <Snippet id="icons-on-terms" Title="Icons on terms">
      <DescriptionListIconsOnTerms />
    </Snippet>

    <Title id="responsive-column-definitions">Responsive column definitions</Title>

    <Snippet id="default-responsive-columns" Title="Default responsive columns">
      <DescriptionListDefaultResponsiveColumns />
    </Snippet>

    <Snippet id="horizontal-responsive-columns" Title="Horizontal responsive columns">
      <DescriptionListHorizontalResponsiveColumns />
    </Snippet>

    <Snippet id="responsive-horizontal-vertical-group-layout" Title="Responsive horizontal, vertical group layout">
      <DescriptionListHorizontalVerticalGroupLayout />
    </Snippet>

    <Title id="auto-column-width">Auto-column-width</Title>

    <Snippet id="default-auto-column-width" Title="Default auto column width">
      <DescriptionListDefaultAutoColumnWidth />
    </Snippet>

    <Snippet id="horizontal-auto-column-width" Title="Horizontal auto column width">
      <DescriptionListHorizontalAutoColumnWidth />
    </Snippet>

    <Title id="inline-grid">Inline grid</Title>

    <Snippet id="default-inline-grid" Title="Default inline grid">
      <DescriptionListDefaultInlineGrid />
    </Snippet>

    <Title id="auto-fit">Auto fit</Title>

    <Snippet id="auto-fit-basic" Title="Auto-fit basic">
      <DescriptionListAutoFitBasic />
    </Snippet>

    <Snippet id="auto-fit-min-width-modified-grid-template-columns" Title="Auto-fit, min width modified grid template columns">
      <DescriptionListAutoFitMinWidthModifiedGridTemplateColumns />
    </Snippet>

    <Snippet id="auto-fit-min-width-modified-responsive-grid-template-columns" Title="Auto-fit, min width modified, responsive grid template columns">
      <DescriptionListAutoFitMinWidthModifiedResponsiveGridTemplateColumns />
    </Snippet>
  </Examples>
</ComponentShowcase>
