@page "/components/description-list"

<ComponentShowcase Title="Description list" Name="description-list">
  <Description>
    A <strong>description list</strong> contains terms and their corresponding descriptions.
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          <JumpLinksItem Href="#default-2-col">Default 2 col</JumpLinksItem>
          <JumpLinksItem Href="#default-3-col-on-lg">Default 3 col on lg</JumpLinksItem>
          <JumpLinksItem Href="#horizontal">Horizontal</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-using-custom-term-width-modifier">Horizontal using custom term width modifier</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-2-col">Horizontal 2 col</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-3-col-on-lg">Horizontal 3 col on lg</JumpLinksItem>
          <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
          <JumpLinksItem Href="#compact-horizontal">Compact horizontal</JumpLinksItem>
          <JumpLinksItem Href="#fluid-horizontal">Fluid horizontal</JumpLinksItem>
          <JumpLinksItem Href="#column-fill">Column fill</JumpLinksItem>
          <JumpLinksItem Href="#display-size">Display size</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#responsive-column-definitions">
      <ChildContent>Responsive column definitions</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-responsive-columns">Default responsive columns</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-responsive-columns">Horizontal responsive columns</JumpLinksItem>
          <JumpLinksItem Href="#responsive-horizontal-vertical-group-layout">Responsive horizontal, vertical group layout</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#auto-column-width">
      <ChildContent>Auto-column-width</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-auto-column-width">Default auto column width</JumpLinksItem>
          <JumpLinksItem Href="#horizontal-auto-column-width">Horizontal auto column width</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#inline-grid">
      <ChildContent>Inline grid</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-inline-grid">Default inline grid</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#card-variants">
      <ChildContent>Card variants</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#description-list-with-card">Description list with card</JumpLinksItem>
        </JumpLinksList>
        <JumpLinksList>
          <JumpLinksItem Href="#description-list-with-display-size-and-card">Description list with display size and card</JumpLinksItem>
        </JumpLinksList>
        <JumpLinksList>
          <JumpLinksItem Href="#display-size-with-card-three-column-on-large-breakpoint">Display size with card, three column on large breakpoint</JumpLinksItem>
        </JumpLinksList>
        <JumpLinksList>
          <JumpLinksItem Href="#display-size-with-card-horizontal-modified-term-width">Display size with card, horizontal, modified term width</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#auto-fit">
      <ChildContent>Auto fit</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#auto-fit-basic">Auto-fit basic</JumpLinksItem>
          <JumpLinksItem Href="#auto-fit-min-width-modified-grid-template-columns">Auto-fit, min width modified grid template columns</JumpLinksItem>
          <JumpLinksItem Href="#auto-fit-min-width-modified-responsive-grid-template-columns">Auto-fit, min width modified, responsive grid template columns</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#with-icons">
      <ChildContent>Auto fit</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#icons-on-terms">Icons on terms</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <ComponentExample id="basic" Title="Basic" ResourceName="DescriptionListBasic">
      <DescriptionListBasic />
    </ComponentExample>

    <ComponentExample id="default-2-col" Title="Default 2 col" ResourceName="DescriptionListDefaultTwoCols">
      <DescriptionListDefaultTwoCols />
    </ComponentExample>

    <ComponentExample id="default-3-col-on-lg" Title="Default 3 col on lg" ResourceName="DescriptionListDefaultThreeColsOnLg">
      <DescriptionListDefaultThreeColsOnLg />
    </ComponentExample>

    <ComponentExample id="horizontal" Title="Horizontal" ResourceName="DescriptionListHorizontal">
      <DescriptionListHorizontal />
    </ComponentExample>

    <ComponentExample id="horizontal-using-custom-term-width-modifier" Title="Horizontal using custom term width modifier" ResourceName="DescriptionListHorizontalTermWidthModifier">
      <DescriptionListHorizontalTermWidthModifier />
    </ComponentExample>

    <ComponentExample id="horizontal-2-col" Title="Horizontal 2 col" ResourceName="DescriptionListHorizontalTwoCols">
      <DescriptionListHorizontalTwoCols />
    </ComponentExample>

    <ComponentExample id="horizontal-3-col-on-lg" Title="Horizontal 3 col on lg" ResourceName="DescriptionListHorizontalThreeColsOnLg">
      <DescriptionListHorizontalThreeColsOnLg />
    </ComponentExample>

    <ComponentExample id="compact" Title="Compact" ResourceName="DescriptionListCompact">
      <DescriptionListCompact />
    </ComponentExample>

    <ComponentExample id="compact-horizontal" Title="Compact horizontal" ResourceName="DescriptionListCompactHorizontal">
      <DescriptionListCompactHorizontal />
    </ComponentExample>

    <ComponentExample id="fluid-horizontal" Title="Fluid horizontal" ResourceName="DescriptionListFluidHorizontal">
      <DescriptionListFluidHorizontal />
    </ComponentExample>

    <ComponentExample id="column-fill" Title="Column fill" ResourceName="DescriptionListColumnFill">
      <DescriptionListColumnFill />
    </ComponentExample>

    <ComponentExample id="display-size" Title="Display size" ResourceName="DescriptionListWithDisplaySize">
      <DescriptionListWithDisplaySize />
    </ComponentExample>

    <Title id="responsive-column-definitions">Responsive column definitions</Title>

    <ComponentExample id="default-responsive-columns" Title="Default responsive columns" ResourceName="DescriptionListDefaultResponsiveColumns">
      <DescriptionListDefaultResponsiveColumns />
    </ComponentExample>

    <ComponentExample id="horizontal-responsive-columns" Title="Horizontal responsive columns" ResourceName="DescriptionListHorizontalResponsiveColumns">
      <DescriptionListHorizontalResponsiveColumns />
    </ComponentExample>

    <ComponentExample id="responsive-horizontal-vertical-group-layout" Title="Responsive horizontal, vertical group layout" ResourceName="DescriptionListHorizontalVerticalGroupLayout">
      <DescriptionListHorizontalVerticalGroupLayout />
    </ComponentExample>

    <Title id="auto-column-width">Auto-column-width</Title>

    <ComponentExample id="default-auto-column-width" Title="Default auto column width" ResourceName="DescriptionListDefaultAutoColumnWidth">
      <DescriptionListDefaultAutoColumnWidth />
    </ComponentExample>

    <ComponentExample id="horizontal-auto-column-width" Title="Horizontal auto column width" ResourceName="DescriptionListHorizontalAutoColumnWidth">
      <DescriptionListHorizontalAutoColumnWidth />
    </ComponentExample>

    <Title id="inline-grid">Inline grid</Title>

    <ComponentExample id="default-inline-grid" Title="Default inline grid" ResourceName="DescriptionListDefaultInlineGrid">
      <DescriptionListDefaultInlineGrid />
    </ComponentExample>

    <Title id="auto-fit">Card variants</Title>

    <ComponentExample id="description-list-with-card" Title="Description list with card" ResourceName="DescriptionListWithCard">
      <DescriptionListWithCard />
    </ComponentExample>

    <ComponentExample id="description-list-with-display-size-and-card" Title="Description list with display size and card" ResourceName="DescriptionListDisplaySizeAndCard">
      <DescriptionListDisplaySizeAndCard />
    </ComponentExample>

    <ComponentExample id="display-size-with-card-three-column-on-large-breakpoint" Title="Display size with card, three column on large breakpoint" ResourceName="DescriptionListDisplaySizeAndCardThreeColumn">
      <DescriptionListDisplaySizeAndCardThreeColumn />
    </ComponentExample>

    <ComponentExample id="display-size-with-card-horizontal-modified-term-width" Title="Display size with card, horizontal, modified term width" ResourceName="DescriptionListDisplaySizeAndCardHorizontalTermWidth">
      <DescriptionListDisplaySizeAndCardHorizontalTermWidth />
    </ComponentExample>

    <Title id="auto-fit">Auto fit</Title>

    <ComponentExample id="auto-fit-basic" Title="Auto-fit basic" ResourceName="DescriptionListAutoFitBasic">
      <DescriptionListAutoFitBasic />
    </ComponentExample>

    <ComponentExample id="auto-fit-min-width-modified-grid-template-columns" Title="Auto-fit, min width modified grid template columns" ResourceName="DescriptionListAutoFitMinWidthModifiedGridTemplateColumns">
      <DescriptionListAutoFitMinWidthModifiedGridTemplateColumns />
    </ComponentExample>

    <ComponentExample id="auto-fit-min-width-modified-responsive-grid-template-columns" Title="Auto-fit, min width modified, responsive grid template columns" ResourceName="DescriptionListAutoFitMinWidthModifiedResponsiveGridTemplateColumns">
      <DescriptionListAutoFitMinWidthModifiedResponsiveGridTemplateColumns />
    </ComponentExample>

    <Title id="with-icons">With icons</Title>

    <ComponentExample id="icons-on-terms" Title="Icons on terms" ResourceName="DescriptionListIconsOnTerms">
      <DescriptionListIconsOnTerms />
    </ComponentExample>
  </Examples>
</ComponentShowcase>
