<DescriptionList DisplaySize="DescriptionListDisplaySize.Large" ColumnModifier="@(new () { Large = DescriptionListColumn.Col3 })">
  <Card Component="div">
    <DescriptionListTerm>Name</DescriptionListTerm>
    <DescriptionListDescription>Example</DescriptionListDescription>
  </Card>
  <Card Component="div">
    <DescriptionListTerm>Namespace</DescriptionListTerm>
    <DescriptionListDescription>
      <a href="#">mary-test</a>
    </DescriptionListDescription>
  </Card>
  <Card Component="div">
    <DescriptionListTerm>Labels</DescriptionListTerm>
    <DescriptionListDescription>example</DescriptionListDescription>
  </Card>
  <Card Component="div">
    <DescriptionListTerm>Pod selector</DescriptionListTerm>
    <DescriptionListDescription>
      <Button Variant="ButtonVariant.Link" IsInline>
        <Icon><PlusCircleIcon /></Icon>
        <ChildContent>app=MyApp</ChildContent>
      </Button>
    </DescriptionListDescription>
  </Card>
  <Card Component="div">
    <DescriptionListTerm>Annotation</DescriptionListTerm>
    <DescriptionListDescription>2 Annotations</DescriptionListDescription>
  </Card>
</DescriptionList>