@page "/components/action-list"

<TextContent>
  <Title class="pf-u-mb-md">Action list</Title>
  <Text class="pf-u-mb-md">
    An <strong>action list</strong> is a group of actions with set spacing.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/action-list/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#action-list-single-group">Action list single group</JumpLinksItem>
            <JumpLinksItem Href="#action-list-with-icons">Action list with icons</JumpLinksItem>
            <JumpLinksItem Href="#action-list-multiple-groups">Action list multiple groups</JumpLinksItem>
            <JumpLinksItem Href="#action-list-with-cancel-button">Action list with cancel button</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="action-list-single-group" Title="Action list single group">
      <ActionLlistSingleGroup />
    </Snippet>

    <Snippet id="action-list-with-icons" Title="Action list with icons">
      <ActionListWithIcons />
    </Snippet>

    <Snippet id="action-list-multiple-groups" Title="Action list multiple groups">
      <ActionListMultipleGroups />
    </Snippet>

    <Snippet id="action-list-with-cancel-button" Title="Action list with cancel button">
      <ActionListWithCancelButton />
    </Snippet>
  </FlexItem>
</Flex>
