<ActionList>
  <ActionListItem>
    <Button Variant="ButtonVariant.Primary" id="next-button">Next</Button>
  </ActionListItem>
  <ActionListItem>
    <Button Variant="ButtonVariant.Secondary" id="back-button">Back</Button>
  </ActionListItem>
</ActionList>
<br />
With kebab
<ActionList>
  <ActionListItem>
    <Button Variant="ButtonVariant.Primary" id="next-button1">Next</Button>
  </ActionListItem>
  <ActionListItem>
    <Button Variant="ButtonVariant.Secondary" id="back-button1">Back</Button>
  </ActionListItem>
  <ActionListItem>
    <Dropdown
      IsPlain="true"
      Position="DropdownPosition.Right"
    >
      <Toggle>
        <KebabToggle />
      </Toggle>
      <DropdownItems>
        <DropdownItem @key="1">Link</DropdownItem>
        <DropdownItem @key="2" Component="button">
          Action
        </DropdownItem>
        <DropdownItem @key="3" IsDisabled="true">
          Disabled Link
        </DropdownItem>
        <DropdownItem @key="4" IsDisabled="true" Component="button">
          Disabled Action
        </DropdownItem>
        <DropdownSeparator @key="5" />
        <DropdownItem @key="6">Separated Link</DropdownItem>
        <DropdownItem @key="7" Component="button">
          Separated Action
        </DropdownItem>
      </DropdownItems>
    </Dropdown>
  </ActionListItem>
</ActionList>
