<ActionList IsIconList>
  <ActionListItem>
    <Button Variant="ButtonVariant.Plain" id="times-button" aria-label="times icon button">
      <TimesIcon />
    </Button>
  </ActionListItem>
  <ActionListItem>
    <Button Variant="ButtonVariant.Plain" id="check-button" aria-label="check icon button">
      <CheckIcon />
    </Button>
  </ActionListItem>
</ActionList>
