In modals, forms, data lists
<ActionList>
  <ActionListItem>
    <Button Variant="ButtonVariant.Primary" id="save-button">Save</Button>
  </ActionListItem>
  <ActionListItem>
    <Button Variant="ButtonVariant.Link" id="cancel-button2">Cancel</Button>
  </ActionListItem>
</ActionList>
<br />
In wizards
<ActionList>
  <ActionListGroup>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="next-button3">Next</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Secondary" id="back-button3">Back</Button>
    </ActionListItem>
  </ActionListGroup>
  <ActionListGroup>
    <ActionListItem>
      <Button Variant="ButtonVariant.Link" id="cancel-button3">Cancel</Button>
    </ActionListItem>
  </ActionListGroup>
</ActionList>
