<ActionList>
  <ActionListGroup>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="next-button2">Next</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Secondary" id="back-button2">Back</Button>
    </ActionListItem>
  </ActionListGroup>
  <ActionListGroup>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="submit-button">Submit</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Link" id="cancel-button1">Cancel</Button>
    </ActionListItem>
  </ActionListGroup>
</ActionList>
