@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  /// Indicates if there should be padding around the drawer content body.
  [Parameter] public bool HasPadding { get; set; }

  private string CssClass => new CssBuilder("pf-c-drawer__body")
    .AddClass("pf-m-padding", HasPadding)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}