@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  <Button Variant="ButtonVariant.Plain" OnClick="@OnClose" AriaLabel="@AriaLabel">
    <TimesIcon/>
  </Button>
</div>

@code {
  /// Accessible label for the drawer close button.
  [Parameter] public string AriaLabel { get; set; } = "Close drawer panel";

  /// A callback for when the close button is clicked.
  [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }

  private string CssClass => new CssBuilder("pf-c-drawer__close")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}