@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <Button Variant="ButtonVariant.Plain" OnClick="@OnClose" AriaLabel="@AriaLabel">
    <TimesIcon/>
  </Button>
</div>