@namespace Blatternfly.Components

<DrawerPanelBody HasNoPadding="@HasNoPadding">
  <div @attributes="AdditionalAttributes" class="@CssClass">
    @ChildContent
  </div>
</DrawerPanelBody>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Indicates if there should be no padding around the drawer panel body of the head.
  [Parameter] public bool HasNoPadding { get; set; }

  private string CssClass => new CssBuilder("pf-c-drawer__head")
      .AddClassFromAttributes(AdditionalAttributes)
      .Build();
}