@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  hidden="@IsHidden"
>
  @ChildContent
</div>

@code {
  [CascadingParameter] public Drawer Parent { get; set; }

  /// Flag indicating that the drawer panel should have a border.
  [Parameter] public bool HasNoBorder { get; set; }

  /// Color variant of the background of the drawer panel.
  [Parameter] public DrawerColorVariant ColorVariant { get; set; } = DrawerColorVariant.Default;

  /// Width for drawer panel at various breakpoints. Overriden by resizable drawer minSize and defaultSize.
  [Parameter] public DrawerWidth Widths { get; set; }

  private string CssClass => new CssBuilder("pf-c-drawer__panel")
    .AddClass(Widths?.WidthClass)
    .AddClass("pf-m-light-200", ColorVariant == DrawerColorVariant.Light200)
    .AddClass("pf-m-no-border", HasNoBorder)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private bool IsHidden { get => !Parent.IsStatic && !Parent.IsExpanded; }
}