@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass" @attributes="AdditionalAttributes">
  @ChildContent
</div>

@code {
  /// Indicates if there should be padding around the drawer content body.
  [Parameter] public bool HasPadding { get; set; }

  private CssBuilder CssClass => new CssBuilder("pf-c-drawer__body")
    .AddClass("pf-m-padding", HasPadding);
}