@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass" @attributes="AdditionalAttributes">
  @ChildContent
</div>

@code {
  /// Indicates if there should be no padding around the drawer panel body.
  [Parameter] public bool HasNoPadding { get; set; }

  private string CssClass => new CssBuilder("pf-c-drawer__body")
    .AddClass("pf-m-no-padding", HasNoPadding)
    .Build();
}