@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code  {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Color variant of the background of the drawer Section.
  [Parameter] public DrawerColorVariant ColorVariant { get; set; } = DrawerColorVariant.Default;

  private string CssClass => new CssBuilder("pf-c-drawer__section")
    .AddClass("pf-m-light-200", ColorVariant is DrawerColorVariant.Light200)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}