@namespace Blatternfly.Components
@inherits BaseComponent

<DrawerMain>
  <div @attributes="AdditionalAttributes" class="@CssClass" >@ChildContent</div>
  @PanelContent
</DrawerMain>

@code {
  /// Content rendered in the drawer panel.
  [Parameter] public RenderFragment PanelContent { get; set; }

  /// Color variant of the background of the drawer panel.
  [Parameter] public DrawerColorVariant ColorVariant { get; set; } = DrawerColorVariant.Default;

  private string CssClass => new CssBuilder("pf-c-drawer__content")
    .AddClass("pf-m-light-200", ColorVariant == DrawerColorVariant.Light200)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}