<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  <Button Variant="ButtonVariant.Link" IsInline Component="span">
    This is long button text that needs to be a span so that it will wrap inline with the text around it.
  </Button> Sed hendrerit nisi in cursus maximus. Ut malesuada nisi turpis, in condimentum velit elementum non.
</p>
