<Button Component="a" href="https://pf4.patternfly.org/" target="_blank" Variant="ButtonVariant.Primary">
  Link to core docs
</Button>
<Button Component="a" href="https://pf4.patternfly.org/" target="_blank" Variant="ButtonVariant.Secondary">
  Secondary link to core docs
</Button>
<Button IsDisabled Component="a" href="https://pf4.patternfly.org/" target="_blank" Variant="ButtonVariant.Tertiary">
  Tertiary link to core docs
</Button>
<Button Component="a" href="https://pf4.patternfly.org/contribution/#modifiers" Variant="ButtonVariant.Link">
  Jump to modifiers in contribution guidelines
</Button>
