<Button Variant="ButtonVariant.Primary" IsSmall>
  Primary
</Button>
<Button Variant="ButtonVariant.Secondary" IsSmall>
  Secondary
</Button>
<Button Variant="ButtonVariant.Tertiary" IsSmall>
  Tertiary
</Button>
<Button Variant="ButtonVariant.Danger" IsSmall>
  Danger
</Button>
<Button Variant="ButtonVariant.Warning" IsSmall>
  Warning
</Button>
