@page "/components/button"

<TextContent>
  <Title class="pf-u-mb-md">Button</Title>
  <Text class="pf-u-mb-md">
    A <strong>button</strong> is a box area or text that communicates and triggers user actions when clicked or selected.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/button/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#variations">Variations</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#aria-disabled">Aria Disabled</JumpLinksItem>
            <JumpLinksItem Href="#links-as-buttons">Links as buttons</JumpLinksItem>
            <JumpLinksItem Href="#inline-link-as-span">Inline link as span</JumpLinksItem>
            <JumpLinksItem Href="#block-level">Block level</JumpLinksItem>
            <JumpLinksItem Href="#types">Types</JumpLinksItem>
            <JumpLinksItem Href="#small">Small</JumpLinksItem>
            <JumpLinksItem Href="#call-to-action">Call to action</JumpLinksItem>
            <JumpLinksItem Href="#progress">Progress</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="variations" class="example-section">
      <Title Size="TitleSizes.Large">Variations</Title>
      <ButtonVariations />
    </section>

    <section id="disabled" class="example-section">
      <Title Size="TitleSizes.Large">Disabled</Title>
      <ButtonDisabled />
    </section>

    <section id="aria-disabled" class="example-section">
      <Title Size="TitleSizes.Large">Aria Disabled</Title>
      <ButtonAriaDisabled />
    </section>

    <section class="example-section">
      <Title Size="TitleSizes.Large">Links as buttons</Title>
      <ButtonLinksAsButton />
    </section>

    <section id="inline-link-as-span" class="example-section">
      <Title Size="TitleSizes.Large">Inline link as span</Title>
      <ButtonInlineLinkAsSpan />
    </section>

    <section id="block-level" class="example-section">
      <Title Size="TitleSizes.Large">Block level</Title>
      <ButtonBlockLevel />
    </section>

    <section id="types" class="example-section">
      <Title Size="TitleSizes.Large">Types</Title>
      <ButtonTypes />
    </section>

    <section id="small" class="example-section">
      <Title Size="TitleSizes.Large">Small</Title>
      <ButtonSmall />
    </section>

    <section id="call-to-action" class="example-section">
      <Title Size="TitleSizes.Large">Call to action</Title>
      <ButtonCallToAction />
    </section>

    <section id="progress" class="example-section">
      <Title Size="TitleSizes.Large">Progress</Title>
      <ButtonProgress Variant="ButtonVariant.Primary" />
      <ButtonProgress Variant="ButtonVariant.Secondary" />
      <ButtonUploadingSpinner />
    </section>
  </FlexItem>
</Flex>