@page "/components/button"

<TextContent>
  <Title class="pf-u-mb-md">Button</Title>
  <Text class="pf-u-mb-md">
    A <strong>button</strong> is a box area or text that communicates and triggers user actions when clicked or selected.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/button/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#variations">Variations</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#aria-disabled">Aria Disabled</JumpLinksItem>
            <JumpLinksItem Href="#links-as-buttons">Links as buttons</JumpLinksItem>
            <JumpLinksItem Href="#inline-link-as-span">Inline link as span</JumpLinksItem>
            <JumpLinksItem Href="#block-level">Block level</JumpLinksItem>
            <JumpLinksItem Href="#types">Types</JumpLinksItem>
            <JumpLinksItem Href="#small">Small</JumpLinksItem>
            <JumpLinksItem Href="#call-to-action">Call to action</JumpLinksItem>
            <JumpLinksItem Href="#progress">Progress</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="variations" Title="Variations">
      <ButtonVariations />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <ButtonDisabled />
    </Snippet>

    <Snippet id="aria-disabled" Title="Aria Disabled">
      <ButtonAriaDisabled />
    </Snippet>

    <Snippet Title="Links as buttons">
      <ButtonLinksAsButton />
    </Snippet>

    <Snippet id="inline-link-as-span" Title="Inline link as span">
      <ButtonInlineLinkAsSpan />
    </Snippet>

    <Snippet id="block-level" Title="Block level">
      <ButtonBlockLevel />
    </Snippet>

    <Snippet id="types" Title="Types">
      <ButtonTypes />
    </Snippet>

    <Snippet id="small" Title="Small">
      <ButtonSmall />
    </Snippet>

    <Snippet id="call-to-action" Title="Call to action">
      <ButtonCallToAction />
    </Snippet>

    <Snippet id="progress" Title="Progress">
      <ButtonProgress Variant="ButtonVariant.Primary" />
      <ButtonProgress Variant="ButtonVariant.Secondary" />
      <ButtonUploadingSpinner />
    </Snippet>
  </FlexItem>
</Flex>