<Button Variant="ButtonVariant.Primary">Primary</Button>
<Button Variant="ButtonVariant.Secondary">Secondary</Button>
<Button Variant="ButtonVariant.Secondary" IsDanger>
  Danger Secondary
</Button>
<Button Variant="ButtonVariant.Tertiary">Tertiary</Button>
<Button Variant="ButtonVariant.Danger">Danger</Button>
<Button Variant="ButtonVariant.Warning">Warning</Button>
<br />
<br />
<Button Variant="ButtonVariant.Link">
  <Icon><PlusCircleIcon /></Icon>
  <ChildContent>Link</ChildContent>
</Button>
<Button Variant="ButtonVariant.Link" IconPosition="Alignments.Right">
  <Icon><ExternalLinkSquareAltIcon /></Icon>
  <ChildContent>Link</ChildContent>
</Button>
<Button Variant="ButtonVariant.Link" IsInline>
  Inline link
</Button>
<Button Variant="ButtonVariant.Link" IsDanger>
  Danger link
</Button>
<br />
<br />
<Button Variant="ButtonVariant.Plain" AriaLabel="Action">
  <TimesIcon />
</Button>
<br />
<br />
<Button Variant="ButtonVariant.Control">Control</Button>
<Button Variant="ButtonVariant.Control" AriaLabel="Copy">
  <CopyIcon />
</Button>
