<Button Variant="ButtonVariant.Primary" IsLarge>
  Call to action
</Button>
<Button Variant="ButtonVariant.Secondary" IsLarge>
  Call to action
</Button>
<Button Variant="ButtonVariant.Tertiary" IsLarge>
  Call to action
</Button>
<Button Variant="ButtonVariant.Link" IsLarge>
  Call to action <ArrowRightIcon />
</Button>
