@namespace Blatternfly.Components
@inherits BaseComponent

@if (Variant == EmptyStateIconVariant.Icon)
{
  <CascadingValue Value="@CssClass" Name="ClassName" IsFixed="true">
    <CascadingValue Value="@InternalId" Name="IconId" IsFixed="true">
      @ChildContent
    </CascadingValue>
  </CascadingValue>
}
else
{
  <div @attributes="AdditionalAttributes" class="@CssClass">
    @ChildContent   
  </div>
}

@code {
  /// Adds empty state icon variant styles.
  [Parameter] public EmptyStateIconVariant Variant { get; set; } = EmptyStateIconVariant.Icon;
  
  private string CssClass => new CssBuilder("pf-c-empty-state__icon")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}