@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  private CssBuilder CssClass => new CssBuilder("pf-c-empty-state__secondary")
    .AddClassFromAttributes(AdditionalAttributes);
}
