@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-empty-state__content">@ChildContent</div>
</div>

@code {
  /// Modifies EmptyState max-width.
  [Parameter] public EmptyStateVariant Variant { get; set; } = EmptyStateVariant.Full;

  /// Cause component to consume the available height of its container.
  [Parameter] public bool IsFullHeight { get; set; }

  private string CssClass => new CssBuilder("pf-c-empty-state")
    .AddClass("pf-m-xs"         , Variant == EmptyStateVariant.ExtraSmall)
    .AddClass("pf-m-sm"         , Variant == EmptyStateVariant.Small)
    .AddClass("pf-m-lg"         , Variant == EmptyStateVariant.Large)
    .AddClass("pf-m-xl"         , Variant == EmptyStateVariant.ExtraLarge)
    .AddClass("pf-m-full-height", IsFullHeight)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}