@page "/components/action-list"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Action list</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Action list single group</Title>
  <ActionList>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="next-button">Next</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Secondary" id="back-button">Back</Button>
    </ActionListItem>
  </ActionList>
  <br />
  With kebab
  <ActionList>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="next-button2">Next</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Secondary" id="back-button2">Back</Button>
    </ActionListItem>
    <ActionListItem>
      !PENDING!
      @*
      <Dropdown
        onSelect={this.onSelect}
        toggle={<KebabToggle onToggle={this.onToggle} />}
        isOpen={this.state.isOpen}
        isPlain
        dropdownItems={dropdownItems}
        position="right"
      />
      *@
    </ActionListItem>
  </ActionList>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Action list with icons</Title>
  <ActionList isIconList>
    <ActionListItem>
      <Button Variant="ButtonVariant.Plain" id="times-button" aria-label="times icon button">
        <TimesIcon />
      </Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Plain" id="check-button" aria-label="check icon button">
        <CheckIcon />
      </Button>
    </ActionListItem>
  </ActionList>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Action list multiple groups</Title>
  <ActionList>
    <ActionListGroup>
      <ActionListItem>
        <Button Variant="ButtonVariant.Primary" id="next-button">Next</Button>
      </ActionListItem>
      <ActionListItem>
        <Button Variant="ButtonVariant.Secondary" id="back-button">Back</Button>
      </ActionListItem>
    </ActionListGroup>
    <ActionListGroup>
      <ActionListItem>
        <Button Variant="ButtonVariant.Primary" id="submit-button">Submit</Button>
      </ActionListItem>
      <ActionListItem>
        <Button Variant="ButtonVariant.Link" id="cancel-button">Cancel</Button>
      </ActionListItem>
    </ActionListGroup>
  </ActionList>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Action list with cancel button</Title>
  In modals, forms, data lists
  <ActionList>
    <ActionListItem>
      <Button Variant="ButtonVariant.Primary" id="save-button">Save</Button>
    </ActionListItem>
    <ActionListItem>
      <Button Variant="ButtonVariant.Link" id="cancel-button">Cancel</Button>
    </ActionListItem>
  </ActionList>
  <br />
  In wizards
  <ActionList>
    <ActionListGroup>
      <ActionListItem>
        <Button Variant="ButtonVariant.Primary" id="next-button">Next</Button>
      </ActionListItem>
      <ActionListItem>
        <Button Variant="ButtonVariant.Secondary" id="back-button">Back</Button>
      </ActionListItem>
    </ActionListGroup>
    <ActionListGroup>
      <ActionListItem>
        <Button Variant="ButtonVariant.Link" id="cancel-button2">Cancel</Button>
      </ActionListItem>
    </ActionListGroup>
  </ActionList>
</section>