@page "/components/avatar"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Avatar</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Avatar Source="/assets/images/img_avatar.svg" AlternateText="Avatar" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Bordered - light</Title>
  <Avatar Source="/assets/images/img_avatar.svg" AlternateText="Avatar" Border="AvatarBorder.Light" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Bordered - dark</Title>
  <Avatar Source="/assets/images/img_avatar-dark.svg" AlternateText="Avatar" Border="AvatarBorder.Dark" />
</section>