@page "/components/avatar"

<TextContent>
  <Title class="pf-u-mb-md">Avatar</Title>
  <Text class="pf-u-mb-md">
    An <strong>avatar</strong> is a visual used to represent a user.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/avatar/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Avatar Source="assets/images/img_avatar.svg" AlternateText="Avatar" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Bordered - light</Title>
  <Avatar Source="assets/images/img_avatar.svg" AlternateText="Avatar" Border="AvatarBorder.Light" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Bordered - dark</Title>
  <Avatar Source="assets/images/img_avatar-dark.svg" AlternateText="Avatar" Border="AvatarBorder.Dark" />
</section>