@page "/components/backdrop"

<TextContent>
  <Title class="pf-u-mb-md">Backdrop</Title>
  <Text class="pf-u-mb-md">
    A <strong>backdrop</strong> is used to screen the main content of a page when a modal overlay is opened.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/backdrop/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>

  <NavLink href="components/backdrop/basic" Match="NavLinkMatch.All">Open</NavLink>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With spinner</Title>

  <NavLink href="components/backdrop/with-spinner" Match="NavLinkMatch.All">Open</NavLink>
</section>