@page "/components/background-image"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Background image</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>

  <NavLink target="_blank" href="components/background-image-basic" Match="NavLinkMatch.All">Open</NavLink>
</section>