@page "/components/badge"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Badge</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Read</Title>
  <Badge IsRead="true">7</Badge>
  <Badge IsRead="true">24</Badge>
  <Badge IsRead="true">240</Badge>
  <Badge IsRead="true">999+</Badge>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Unread</Title>
  <Badge IsRead="false">7</Badge>
  <Badge IsRead="false">24</Badge>
  <Badge IsRead="false">240</Badge>
  <Badge IsRead="false">999+</Badge>
</section>