@page "/components/banner"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Banner</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Banner>Default banner</Banner>
  <br />
  <Banner Variant="BannerVariant.Info">Info banner</Banner>
  <br />
  <Banner Variant="BannerVariant.Danger">Danger banner</Banner>
  <br />
  <Banner Variant="BannerVariant.Success">Success banner</Banner>
  <br />
  <Banner Variant="BannerVariant.Warning">Warning banner</Banner>
</section>
