@page "/components/brand"

<TextContent>
  <Title class="pf-u-mb-md">Brand</Title>
  <Text class="pf-u-mb-md">
    A <strong>brand</strong> is used to place a product logotype on a screen.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/brand/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Brand Src="assets/images/brand.svg" Alt="Brand" />
</section>