@page "/components/calendar-month"

<TextContent>
  <Title class="pf-u-mb-md">Calendar month</Title>
  <Text class="pf-u-mb-md">
    A <strong>calendar month</strong> month component allows users to select and navigate between days, months and/or years.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/calendar-month/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Default</Title>
  <CalendarMonth />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Selectable date</Title>
  <pre>Selected date: @Date?.ToLongDateString()</pre>
  <CalendarMonth Date="Date" OnChange="@OnChange" />
</section>

@code {
  private DateTime? Date { get; set; } = new DateTime(2020, 10, 24);

  private void OnChange(DateTime newValue)
  {
    Date = newValue;
  }
}