@page "/components/checkbox"

<TextContent>
  <Title class="pf-u-mb-md">Checkbox</Title>
  <Text class="pf-u-mb-md">
    A <strong>checkbox</strong> is used to select a single item or multiple items, typically to choose elements to perform an action or to reflect a binary setting.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/checkbox/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#controlled-checkbox">Controlled checkbox</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="controlled-checkbox" class="example-section">
      <Title Size="TitleSizes.Large">Controlled checkbox</Title>
      <Checkbox
          Label="Parent CheckBox"
          @bind-Value="_check1"
          AriaLabel="controlled checkbox example"
          id="check-1"
          name="check1"
      />
      <Checkbox
          class="nested"
          Label="Child CheckBox 1"
          @bind-Value="_check2"
          AriaLabel="controlled checkbox example"
          id="check-2"
          name="check2"
      />
      <Checkbox
          class="nested"
          Label="Child CheckBox 2"
          @bind-Value="_check3"
          AriaLabel="controlled checkbox example"
          id="check-3"
          name="check3"
      />
      <Checkbox
          Label="Controlled CheckBox"
          @bind-Value="_check4"
          AriaLabel="controlled checkbox example"
          id="check-4"
          name="check4"
      />
    </section>
  </FlexItem>
</Flex>

@code {
    private bool _check1;
    private bool _check2;
    private bool _check3;
    private bool _check4;
}