@page "/components/hint"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Hint</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic with title</Title>
  <Hint>
    <Actions>
      <Dropdown Position="DropdownPosition.Right" IsPlain>
        <Toggle>
          <KebabToggle id="hint-kebab-toggle-1" />
        </Toggle>
        <DropdownItems>
          <DropdownItem @key="1">Link</DropdownItem>
          <DropdownItem @key="2" Component="button">
            Action
          </DropdownItem>
          <DropdownItem @key="3" IsDisabled>
            Disabled Link
          </DropdownItem>
          <DropdownItem @key="4" IsDisabled Component="button">
            Disabled Action
          </DropdownItem>
          <DropdownSeparator @key="5" />
          <DropdownItem @key="6">Separated Link</DropdownItem>
          <DropdownItem @key="7" Component="button">
            Separated Action
          </DropdownItem>
        </DropdownItems>
      </Dropdown>
    </Actions>
    <ChildContent>
      <HintTitle>Do more with Find it Fix it capabilities</HintTitle>
      <HintBody>
        Upgrade to Red Hat Smart Management to remediate all your systems across regions and geographies.
      </HintBody>
      <HintFooter>
        <Button Variant="ButtonVariant.Link" IsInline>Try it for 90 days</Button>
      </HintFooter>
    </ChildContent>
  </Hint>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic without title</Title>
  <Hint>
    <HintBody>
      Welcome to the new documentation experience.
      <Button Variant="ButtonVariant.Link" IsInline>
        Learn more about the improved features.
      </Button>
    </HintBody>
  </Hint>
  <br />
  <Hint>
    <Actions>
      <Dropdown Position="DropdownPosition.Right" IsPlain>
        <Toggle>
          <KebabToggle id="hint-kebab-toggle-2" />
        </Toggle>
        <DropdownItems>
          <DropdownItem @key="1">Link</DropdownItem>
          <DropdownItem @key="2" Component="button">
            Action
          </DropdownItem>
          <DropdownItem @key="3" IsDisabled>
            Disabled Link
          </DropdownItem>
          <DropdownItem @key="4" IsDisabled Component="button">
            Disabled Action
          </DropdownItem>
          <DropdownSeparator @key="5" />
          <DropdownItem @key="6">Separated Link</DropdownItem>
          <DropdownItem @key="7" Component="button">
            Separated Action
          </DropdownItem>
        </DropdownItems>
      </Dropdown>
    </Actions>
    <ChildContent>
      <HintBody>
        Upgrade to Red Hat Smart Management to remediate all your systems across regions and geographies.
      </HintBody>
      <HintFooter>
        <Button Variant="ButtonVariant.Link" IsInline>
          Try it for 90 days
        </Button>
      </HintFooter>
    </ChildContent>
  </Hint>
</section>
