@page "/components/login-page"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Login page</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>

  <NavLink target="_blank" href="/components/login-page/basic" Match="NavLinkMatch.All">Open</NavLink>
</section>