@page "/components/overflow-menu"

<TextContent>
  <Title class="pf-u-mb-md">Overflow menu</Title>
  <Text class="pf-u-mb-md">
    An <strong>overflow menu</strong> groups a set of actions in a responsive horizontal list.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/overflow-menu/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#simple-responsive">Simple (responsive)</JumpLinksItem>
            <JumpLinksItem Href="#group-types">Group types</JumpLinksItem>
            <JumpLinksItem Href="#multiple-groups">Multiple groups</JumpLinksItem>
            <JumpLinksItem Href="#persistent">Persistent</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="simple-responsive" class="example-section">
      <Title Size="TitleSizes.Large">Simple (responsive)</Title>
      <OverflowMenu Breakpoint="Breakpoints.Large">
        <OverflowMenuContent>
          <OverflowMenuItem>Item</OverflowMenuItem>
          <OverflowMenuItem>Item</OverflowMenuItem>
          <OverflowMenuGroup>
            <OverflowMenuItem>Item</OverflowMenuItem>
            <OverflowMenuItem>Item</OverflowMenuItem>
            <OverflowMenuItem>Item</OverflowMenuItem>
          </OverflowMenuGroup>
        </OverflowMenuContent>
        <OverflowMenuControl>
          <Dropdown IsPlain>
          <Toggle>
              <KebabToggle />
            </Toggle>
            <DropdownItems>
              <OverflowMenuDropdownItem @key="1" IsShared>Item 1</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="2" IsShared>Item 2</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="3" IsShared>Item 3</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="4" IsShared>Item 4</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="5" IsShared>Item 5</OverflowMenuDropdownItem>
            </DropdownItems>
          </Dropdown>
        </OverflowMenuControl>
      </OverflowMenu>
    </section>

    <section id="group-types" class="example-section">
      <Title Size="TitleSizes.Large">Group types</Title>
      <OverflowMenu Breakpoint="Breakpoints.Large">
        <OverflowMenuContent>
          <OverflowMenuGroup>
            <OverflowMenuItem>Item</OverflowMenuItem>
            <OverflowMenuItem>Item</OverflowMenuItem>
            <OverflowMenuItem>Item</OverflowMenuItem>
          </OverflowMenuGroup>
          <OverflowMenuGroup GroupType="OverflowMenuGroupType.Button">
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Primary">Primary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Secondary">Secondary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Tertiary">Tertiary</Button>
            </OverflowMenuItem>
          </OverflowMenuGroup>
          <OverflowMenuGroup GroupType="OverflowMenuGroupType.Icon">
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align left">
                <AlignLeftIcon />
              </Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align center">
                <AlignCenterIcon />
              </Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align right">
                <AlignRightIcon />
              </Button>
            </OverflowMenuItem>
          </OverflowMenuGroup>
        </OverflowMenuContent>
        <OverflowMenuControl>
          <Dropdown IsPlain>
            <Toggle>
              <KebabToggle />
            </Toggle>
            <DropdownItems>
              <OverflowMenuDropdownItem @key="1" IsShared>Item 1</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="2" IsShared>Item 2</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="3" IsShared>Item 3</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="4" IsShared>Primary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="5" IsShared>Secondary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="6" IsShared>Tertiary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="7" IsShared>Action 1</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="8" IsShared>Action 2</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="9" IsShared>Action 3</OverflowMenuDropdownItem>
            </DropdownItems>
          </Dropdown>
        </OverflowMenuControl>
      </OverflowMenu>
    </section>

    <section id="multiple-groups" class="example-section">
      <Title Size="TitleSizes.Large">Multiple groups</Title>
      <OverflowMenu Breakpoint="Breakpoints.Large">
        <OverflowMenuContent>
          <OverflowMenuGroup GroupType="OverflowMenuGroupType.Button">
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Primary">Primary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Secondary">Secondary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Tertiary">Tertiary</Button>
            </OverflowMenuItem>
          </OverflowMenuGroup>
          <OverflowMenuGroup GroupType="OverflowMenuGroupType.Icon">
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align left">
                <AlignLeftIcon />
              </Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align center">
                <AlignCenterIcon />
              </Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Plain" AriaLabel="Align right">
                <AlignRightIcon />
              </Button>
            </OverflowMenuItem>
          </OverflowMenuGroup>
        </OverflowMenuContent>
        <OverflowMenuControl HasAdditionalOptions>
          <Dropdown IsPlain>
            <Toggle>
              <KebabToggle />
            </Toggle>
            <DropdownItems>
              <OverflowMenuDropdownItem @key="1" IsShared>Primary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="2" IsShared>Secondary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="3" IsShared>Tertiary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="4" IsShared>Action 4</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="5" IsShared>Action 5</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="6" IsShared>Action 6</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="7">Action 7</OverflowMenuDropdownItem>
            </DropdownItems>
          </Dropdown>
        </OverflowMenuControl>
      </OverflowMenu>
    </section>

    <section id="persistent" class="example-section">
      <Title Size="TitleSizes.Large">Persistent</Title>
      <OverflowMenu Breakpoint="Breakpoints.Large">
        <OverflowMenuContent IsPersistent>
          <OverflowMenuGroup GroupType="OverflowMenuGroupType.Button" IsPersistent>
            <OverflowMenuItem IsPersistent>
              <Button Variant="ButtonVariant.Primary">Primary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Secondary">Secondary</Button>
            </OverflowMenuItem>
            <OverflowMenuItem>
              <Button Variant="ButtonVariant.Tertiary">Tertiary</Button>
            </OverflowMenuItem>
          </OverflowMenuGroup>
        </OverflowMenuContent>
        <OverflowMenuControl HasAdditionalOptions>
          <Dropdown IsPlain>
            <Toggle>
              <KebabToggle />
            </Toggle>
            <DropdownItems>
              <OverflowMenuDropdownItem @key="1" IsShared>Secondary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="2" IsShared>Tertiary</OverflowMenuDropdownItem>
              <OverflowMenuDropdownItem @key="3">Action 4</OverflowMenuDropdownItem>
            </DropdownItems>
          </Dropdown>
        </OverflowMenuControl>
      </OverflowMenu>
    </section>
  </FlexItem>
</Flex>