@page "/components/sidebar"

<TextContent>
  <Title class="pf-u-mb-md">Backdrop</Title>
  <Text class="pf-u-mb-md">
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/sidebar/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>

  <Sidebar>
    <SidebarPanel>
      Sidebar panel
    </SidebarPanel>
    <SidebarContent>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Stack</Title>

  <Sidebar Orientation="SidebarOrientation.Stack">
    <SidebarPanel>
      Sidebar panel stacked on top
    </SidebarPanel>
    <SidebarContent>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Panel right with gutter</Title>
 
  <Sidebar IsPanelRight HasGutter>
    <SidebarPanel>
      Sidebar panel on the right
    </SidebarPanel>
    <SidebarContent>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Sticky panel</Title>

  <TextContent>
    <Text class="pf-u-mb-md">
      A `tabindex` should be added to the `Sidebar` when there is scrollable content in order for the  overflow content to be accessible by keyboard.
    </Text>
  </TextContent>

  <Sidebar style="height:200px; overflow: auto" tabindex="0">
    <SidebarPanel Variant="SidebarVariant.Sticky">
      Sticky sidebar panel
    </SidebarPanel>
    <SidebarContent>
      <p>Scroll me!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Static panel</Title>

  <TextContent>
    <Text class="pf-u-mb-md">
      A `tabindex` should be added to the `Sidebar` when there is scrollable content in order for the  overflow content to be accessible by keyboard.
    </Text>
  </TextContent>
  
  <Sidebar style="height:200px; overflow: auto" tabindex="0">
    <SidebarPanel Variant="SidebarVariant.Static">
      Sticky sidebar panel
    </SidebarPanel>
    <SidebarContent>
      <p>Scroll me!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Responsive panel width</Title>

  <TextContent>
    <Text class="pf-u-mb-md">
      A `tabindex` should be added to the `Sidebar` when there is scrollable content in order for the  overflow content to be accessible by keyboard.
    </Text>
  </TextContent>
  
  <Sidebar style="height:200px; overflow: auto" tabindex="0">
    <SidebarPanel Width="@(new SidebarWidth { Default = SidebarWidths.W50, Large = SidebarWidths.W33, ExtraLarge = SidebarWidths.W75})">
      Sidebar panel
    </SidebarPanel>
    <SidebarContent>
      <p>Resize me!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus nulla id augue dictum commodo. Donec mollis arcu massa, sollicitudin venenatis est rutrum vitae. Integer pulvinar ligula at augue mollis, ac pulvinar arcu semper. Maecenas nisi lorem, malesuada ac lectus nec, porta pretium neque. Ut convallis libero sit amet metus mattis, vel facilisis lorem malesuada. Duis consectetur ante sit amet magna efficitur, a interdum leo vulputate.</p>
      <p>Praesent at odio nec sapien ultrices tincidunt in non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis consectetur nisl quis facilisis faucibus. Sed eu bibendum risus. Suspendisse porta euismod tortor, at elementum odio suscipit sed. Cras eget ultrices urna, ac feugiat lectus. Integer a pharetra velit, in imperdiet mi. Phasellus vel hendrerit velit. Vestibulum ut augue vitae erat vulputate bibendum a ut magna.</p>
    </SidebarContent>
  </Sidebar>
</section>
