@page "/components/switch"

<TextContent>
  <Title class="pf-u-mb-md">Switch</Title>
  <Text class="pf-u-mb-md">
    A <strong>switch</strong> toggles the state of a setting (between on and off).
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/switch/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Switch
    id="simple-switch"
    @bind-Value="_switch1"
  >
    <Label>Message when on</Label>
    <LabelOff>Message when off</LabelOff>
  </Switch>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Reversed Layout</Title>
  <Switch
    id="reversed-switch"
    @bind-Value="_switch2"
    IsReversed
  >
    <Label>Message when on</Label>
    <LabelOff>Message when off</LabelOff>
  </Switch>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Without label</Title>
  <Switch id="no-label-switch-on" AriaLabel="Message when on" @bind-Value="_switch3" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Disabled</Title>
  <Switch id="disabled-switch-on" AriaLabel="Message when on" Value="true" IsDisabled>
    <Label>Message when on</Label>
    <LabelOff>Message when off</LabelOff>
  </Switch>
  <br />
  <Switch
    id="disabled-switch-off"
    AriaLabel="Message when on"
    Value="false"
    IsDisabled
  >
    <Label>Message when on</Label>
    <LabelOff>Message when off</LabelOff>
  </Switch>
  <br />
  <Switch id="disabled-no-label-switch-on" AriaLabel="Message when on" Value="true" IsDisabled />
  <br />
  <Switch id="disabled-no-label-switch-off" AriaLabel="Message when on" Value="false" IsDisabled />
</section>

@code {
    private bool _switch1 = true;
    private bool _switch2 = true;
    private bool _switch3 = true;
}