@page "/components/tile"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Tile</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Tile Title="Default" />
  <Tile Title="Selected" IsSelected />
  <Tile Title="Disabled" IsDisabled />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With subtext</Title>
  <Tile Title="Default">Subtext goes here</Tile>
  <Tile Title="Selected" IsSelected>
    Subtext goes here
  </Tile>
  <Tile Title="Disabled" IsDisabled>
    Subtext goes here
  </Tile>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With subtext</Title>
  <Tile Title="Default">
    <Icon><PlusIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Selected" IsSelected>
    <Icon><PlusIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Disabled" IsDisabled>
    <Icon><PlusIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Stacked</Title>
  <Tile Title="Default" IsStacked>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Selected" IsStacked IsSelected>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Disabled" IsStacked IsDisabled>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Stacked with large icons</Title>
  <Tile Title="Default" IsStacked IsDisplayLarge>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Selected" IsStacked IsDisplayLarge IsSelected>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Disabled" IsStacked IsDisplayLarge IsDisabled>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
</section>