@page "/components/title"

<TextContent>
  <Title class="pf-u-mb-md">Title</Title>
  <Text class="pf-u-mb-md">
    A <strong>title</strong> component applies top and bottom margins, font-weight, font-size, and line-height to titles.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/title/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#title-sizes">Title sizes</JumpLinksItem>
            <JumpLinksItem Href="#default-size-mappings">Default size mappings</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="title-sizes" class="example-section">
      <Title Size="TitleSizes.Large">Title sizes</Title>
      <Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">4xl Title</Title>
      <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge3">3xl Title</Title>
      <Title HeadingLevel="HeadingLevel.h3" Size="TitleSizes.ExtraLarge2">2xl Title</Title>
      <Title HeadingLevel="HeadingLevel.h4" Size="TitleSizes.ExtraLarge">xl Title</Title>
      <Title HeadingLevel="HeadingLevel.h5" Size="TitleSizes.Large">lg Title</Title>
      <Title HeadingLevel="HeadingLevel.h6" Size="TitleSizes.Medium">md Title</Title>
    </section>

    <section id="default-size-mappings" class="example-section">
      <Title Size="TitleSizes.Large">Default size mappings</Title>
      <Title HeadingLevel="HeadingLevel.h1">h1 default to 2xl</Title>
      <Title HeadingLevel="HeadingLevel.h2">h2 defaults to xl</Title>
      <Title HeadingLevel="HeadingLevel.h3">h3 defaults to lg</Title>
      <Title HeadingLevel="HeadingLevel.h4">h4 defaults to md</Title>
      <Title HeadingLevel="HeadingLevel.h5">h5 defaults to md</Title>
      <Title HeadingLevel="HeadingLevel.h6">h6 defaults to md</Title>
    </section>
  </FlexItem>
</Flex>

