@page "/components/tooltip"

<TextContent>
  <Title class="pf-u-mb-md">Tooltip</Title>
  <Text class="pf-u-mb-md">
    A <strong>tooltip</strong> is in-app messaging used to identify elements on a page with short, clarifying text.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/tooltip/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <div style="margin: 100px">
        <Tooltip id="basic-tooltip" Reference="tooltip-reference" Position="TooltipPosition.Top" IsVisible="@IsTooltipVisible">
          <Content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id feugiat augue, nec fringilla turpis.
          </Content>
          <ChildContent>
            <button id="tooltip-reference" @onmouseover="HandleMouseOver" @onmouseout="HandleMouseOut">Tooltip</button>
          </ChildContent>
        </Tooltip>
      </div>
    </section>
  </FlexItem>
</Flex>

@code {
  private bool IsTooltipVisible { get; set; }

  private void HandleMouseOver(MouseEventArgs _)
  {
    IsTooltipVisible = true;
  }

  private void HandleMouseOut(MouseEventArgs _)
  {
    IsTooltipVisible = false;
  }
}