@page "/components/nav"

<TextContent>
  <Title class="pf-u-mb-md">Navigation</Title>
  <Text class="pf-u-mb-md">
    A <strong>navigation</strong> organizes an application’s structure and content, making it easy to find information and accomplish tasks.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/navigation/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#default">Default</JumpLinksItem>
            <JumpLinksItem Href="#grouped">Grouped</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#expandable-w-subnavigation-titles">Expandable (w/subnavigation titles)</JumpLinksItem>
            <JumpLinksItem Href="#mixed">Mixed</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-only-in-page-header">Horizontal (only in PageHeader)</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-subnav">Horizontal subnav</JumpLinksItem>
            <JumpLinksItem Href="#legacy-tertiary">legacy-tertiary</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="default" class="example-section">
      <Title Size="TitleSizes.Large">Default</Title>
      <NavDefault />
    </section>

    <section id="grouped" class="example-section">
      <Title Size="TitleSizes.Large">Grouped</Title>
      <NavGrouped />
    </section>

    <section id="expandable" class="example-section">
      <Title Size="TitleSizes.Large">Expandable</Title>
      <NavExpandableDefault />
    </section>

    <section id="expandable-w-subnavigation-titles" class="example-section">
      <Title Size="TitleSizes.Large">Expandable (w/subnavigation titles)</Title>
      <NavExpandableWithSubnavigationTitles />
    </section>

    <section id="mixed" class="example-section">
      <Title Size="TitleSizes.Large">Mixed</Title>
    </section>

    <section id="horizontal-only-in-page-header" class="example-section">
      <Title Size="TitleSizes.Large">Horizontal (only in PageHeader)</Title>
      <NavHorizontal />
    </section>

    <section id="horizontal-subnav" class="example-section">
      <Title Size="TitleSizes.Large">Horizontal subnav</Title>
      <NavHorizontalSubnav />
    </section>

    <section class="example-section">
      <Title Size="TitleSizes.Large">Legacy tertiary</Title>
      <NavLegacyTertiary />
    </section>
  </FlexItem>
</Flex>
