<div class="dark">
  <Nav>
    <NavList>
      <NavItem id="default-link1" To="#default-link1" ItemId="0">Link 1</NavItem>
      <NavItem id="default-link2" To="#default-link2" ItemId="1">Link 2</NavItem>
      <NavItem id="default-link3" To="#default-link3" ItemId="2">Link 3</NavItem>
      <NavItem id="default-link4" To="#default-link4" ItemId="3">Link 4</NavItem>
    </NavList>
  </Nav>
</div>
