<div class="dark">
  <Nav AriaLabel="Expandable with subnav global nav">
    <NavList>
      <NavExpandable Title="Expandable with subnav group 1" SrText="SR Link" GroupId="grp-1" IsExpanded="true">
        <NavItem To="#sr-expandable-1" GroupId="grp-1" ItemId="grp-1_itm-1">Expandable 1 Link 1</NavItem>
        <NavItem To="#sr-expandable-2" GroupId="grp-1" ItemId="grp-1_itm-2">Expandable 1 Link 2</NavItem>
        <NavItem To="#sr-expandable-3" GroupId="grp-1" ItemId="grp-1_itm-3">Expandable 1 Link 3</NavItem>
      </NavExpandable>
      <NavExpandable Title="Expandable with subnav group 2" SrText="SR Link 2" GroupId="grp-2">
        <NavItem To="#sr-expandable-4" GroupId="grp-2" ItemId="grp-2_itm-1">Expandable 2 Link 1</NavItem>
        <NavItem To="#sr-expandable-5" GroupId="grp-2" ItemId="grp-2_itm-2">Expandable 2 Link 2</NavItem>
        <NavItem To="#sr-expandable-6" GroupId="grp-2" ItemId="grp-2_itm-3">Expandable 2 Link 3</NavItem>
      </NavExpandable>
    </NavList>
  </Nav>
</div>
