<div class="dark">
  <Nav>
    <NavList>
      <NavExpandable Title="Link 1" GroupId="grp-1" IsExpanded="true">
        <NavItem To="#expandable-1" GroupId="grp-1" ItemId="grp-1_itm-1">Subnav Link 1</NavItem>
        <NavItemSeparator />
        <NavItem To="#expandable-2" GroupId="grp-1" ItemId="grp-1_itm-2">Subnav Link 2</NavItem>
        <NavItem To="#expandable-3" GroupId="grp-1" ItemId="grp-1_itm-3">Subnav Link 3</NavItem>
      </NavExpandable>
      <NavExpandable Title="Link 2" GroupId="grp-2" IsExpanded="true">
        <NavItem GroupId="grp-2" ItemId="own-item-handler">Custom onClick</NavItem>
        <NavItem To="#expandable-4" GroupId="grp-2" ItemId="grp-2_itm-1">Subnav Link 1</NavItem>
        <NavItem To="#expandable-5" GroupId="grp-2" ItemId="grp-2_itm-2">Subnav Link 2</NavItem>
        <NavItem To="#expandable-6" GroupId="grp-2" ItemId="grp-2_itm-3">Subnav Link 3</NavItem>
      </NavExpandable>
    </NavList>
  </Nav>
</div>
