<div class="dark">
  <Nav>
    <NavGroup Title="Section title 1">
      <NavItem To="#grouped-1" ItemId="grp-1_itm-1">Link 1</NavItem>
      <NavItem To="#grouped-2" ItemId="grp-1_itm-2">Link 2</NavItem>
      <NavItem To="#grouped-3" ItemId="grp-1_itm-3">Link 3</NavItem>
    </NavGroup>
    <NavGroup Title="Section title 2">
      <NavItem To="#grouped-4" ItemId="grp-2_itm-1">Link 1</NavItem>
      <NavItem To="#grouped-5" ItemId="grp-2_itm-2">Link 2</NavItem>
      <NavItem To="#grouped-6" ItemId="grp-2_itm-3">Link 3</NavItem>
    </NavGroup>
  </Nav>
</div>
