<div class="dark">
  <Nav Variant="NavVariant.Tertiary">
    <NavList>
      @for (int i = 1; i <= 10; ++i)
      {
        <NavItem @key="i" ItemId="i" To="#">
          Tertiary nav item @i
        </NavItem>
      }
    </NavList>
  </Nav>
</div>