<div class="dark">
  <Nav>
    <NavList>
      <NavItem To="#mixed-1" ItemId="itm-1">Link 1 (not expandable)</NavItem>
      <NavExpandable Title="Link 2 - expandable" GroupId="grp-1">
        <NavItem To="#mixed-2" GroupId="grp-1" ItemId="grp-1_itm-1">Link 1</NavItem>
        <NavItem To="#mixed-3" GroupId="grp-1" ItemId="grp-1_itm-2">Link 2</NavItem>
        <NavItem To="#mixed-4" GroupId="grp-1" ItemId="grp-1_itm-3">Link 3</NavItem>
      </NavExpandable>
      <NavExpandable Title="Link 3 - expandable" GroupId="grp-2">
        <NavItem To="#mixed-5" GroupId="grp-2" ItemId="grp-2_itm-1">Link 1</NavItem>
        <NavItem To="#mixed-6" GroupId="grp-2" ItemId="grp-2_itm-2">Link 2</NavItem>
        <NavItem To="#mixed-7" GroupId="grp-2" ItemId="grp-2_itm-3">Link 3</NavItem>
      </NavExpandable>
    </NavList>
  </Nav>
</div>
