<Title Size="TitleSizes.Large">Flex modifiers - example 2</Title>
<DataList AriaLabel="Width modifier data list example 2">
  <DataListItem AriaLabelledBy="width-ex2-item1">
    <DataListItemRow>
      <DataListCheck AriaLabelledBy="width-ex2-item1" name="width-ex2-item1" />
      <DataListItemCells>
        <DataListCell Width="2" @key="1">
          <div style="@PreviewPlaceholder">
            <b id="width-ex2-item1">width 2</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </DataListCell>
        <DataListCell Width="4" @key="2">
          <div style="@PreviewPlaceholder">
            <b>width 4</b>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </DataListCell>
      </DataListItemCells>
      <DataListAction
        aria-labelledby="width-ex2-item1 width-ex2-action1"
        id="width-ex2-action1"
        IsPlainButtonAction
      >
        <Dropdown IsPlain Position="DropdownPosition.Right">
          <Toggle>
            <KebabToggle AriaLabel="Actions" />
          </Toggle>
          <DropdownItems>
            <DropdownItem @key="1">Link</DropdownItem>
            <DropdownItem @key="2" Component="button">
              Action
            </DropdownItem>
            <DropdownItem @key="3" IsDisabled>
              Disabled Link
            </DropdownItem>
          </DropdownItems>
        </Dropdown>
      </DataListAction>
    </DataListItemRow>
  </DataListItem>
</DataList>

@code {
  private string PreviewPlaceholder { get; } = "display: block; width: 100%; padding: 0.25rem 0.5rem; color: rgb(0, 78, 138); background-color: rgb(222, 243, 255); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 4px;";
}