<DataList AriaLabel="Simple data list example" GridBreakpoint="DataListGridBreakpoint.Small">
  <DataListItem AriaLabelledBy="simple-item1">
    <DataListItemRow>
      <DataListItemCells>
        <DataListCell @key="1">
          <span id="smg-simple-item1">Primary content</span>
        </DataListCell>
        <DataListCell @key="2">
          Really really really really really really really really really really really really really really long
          description that should be truncated before it ends
        </DataListCell>
      </DataListItemCells>
    </DataListItemRow>
  </DataListItem>
</DataList>
