@page "/components/data-list"

<TextContent>
  <Title class="pf-u-mb-md">Data list</Title>
  <Text class="pf-u-mb-md">
    A <strong>data list</strong> is used to display large data sets when you need a flexible layout or need to include interactive content like charts.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/data-list/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
            <JumpLinksItem Href="#checkboxes-actions-and-additional-cells">Checkboxes, actions and additional cells</JumpLinksItem>
            <JumpLinksItem Href="#actions-single-and-multiple">Actions: single and multiple</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#with-modifiers">With modifiers</JumpLinksItem>
            <JumpLinksItem Href="#selectable-rows">Selectable rows</JumpLinksItem>
            <JumpLinksItem Href="#controlling-text">Controlling text</JumpLinksItem>
            <JumpLinksItem Href="#small-grid-breakpoint">Small grid breakpoint</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <DataListBasic />
    </section>

    <section id="compact" class="example-section">
      <Title Size="TitleSizes.Large">Compact</Title>
      <DataListCompact />
    </section>

    <section id="checkboxes-actions-and-additional-cells" class="example-section">
      <Title Size="TitleSizes.Large">Checkboxes, actions and additional cells</Title>
      <DataListCheckboxesActionsAndAdditionalCells />
    </section>

    <section id="actions-single-and-multiple" class="example-section">
      <Title Size="TitleSizes.Large">Actions: single and multiple</Title>
      <DataListSingleAndMultipleActions />
    </section>

    <section id="expandable" class="example-section">
      <Title Size="TitleSizes.Large">Expandable</Title>
      <DataListExpandable />
    </section>

    <section id="with-modifiers" class="example-section">
      <Title Size="TitleSizes.Large">With modifiers</Title>
      <DataListWithModifiers1 />
      <DataListWithModifiers2 />
      <DataListWithModifiers3 />
    </section>

    <section id="selectable-rows" class="example-section">
      <Title Size="TitleSizes.Large">Selectable rows</Title>
      <DataListSelectableRows />
    </section>

    <section id="controlling-text" class="example-section">
      <Title Size="TitleSizes.Large">Controlling text</Title>
      <DataListControllingText />
    </section>

    <section id="small-grid-breakpoint" class="example-section">
      <Title Size="TitleSizes.Large">Small grid breakpoint</Title>
      <DataListSmallGridBreakpoint />
    </section>
  </FlexItem>
</Flex>