@page "/components/page"

<TextContent>
  <Title class="pf-u-mb-md">Page</Title>
  <Text class="pf-u-mb-md">
    The <strong>page</strong> component is used to define the basic layout of a page with either vertical or horizontal navigation.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/page/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#vertical-nav">Vertical nav</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-nav">Horizontal nav</JumpLinksItem>
            <JumpLinksItem Href="#tertiary-nav">Tertiary nav</JumpLinksItem>
            <JumpLinksItem Href="#with-or-without-fill">With or without fill</JumpLinksItem>
            <JumpLinksItem Href="#main-section-padding">Main Section Padding</JumpLinksItem>
            <JumpLinksItem Href="#group-section">Group section</JumpLinksItem>
            <JumpLinksItem Href="#vertical-nav-using-page-header-component">Vertical nav using PageHeader component</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="vertical-nav" class="example-section">
      <Title Size="TitleSizes.Large">Vertical nav</Title>
      <PageVerticalNav />
    </section>

    <section id="horizontal-nav" class="example-section">
      <Title Size="TitleSizes.Large">Horizontal nav</Title>
      <PageHorizontalNav />
    </section>

    <section id="tertiary-nav" class="example-section">
      <Title Size="TitleSizes.Large">Tertiary nav</Title>
      <PageTertiaryNav />
    </section>

    <section id="with-or-without-fill" class="example-section">
      <Title Size="TitleSizes.Large">With or without fill</Title>
      <PageWithOrWithoutFill />
    </section>

    <section id="main-section-padding" class="example-section">
      <Title Size="TitleSizes.Large">Main Section Padding</Title>
      <PageMainSectionPadding />
    </section>

    <section id="group-section" class="example-section">
      <Title Size="TitleSizes.Large">Group section</Title>
      <PageGroupSection />
    </section>

    <section id="vertical-nav-using-page-header-component" class="example-section">
      <Title Size="TitleSizes.Large">Vertical nav using PageHeader component</Title>
      <PageVerticalNavUsingPageHeaderComponent />
    </section>
  </FlexItem>
</Flex>
