@page "/components/page"

<TextContent>
  <Title class="pf-u-mb-md">Page</Title>
  <Text class="pf-u-mb-md">
    The <strong>page</strong> component is used to define the basic layout of a page with either vertical or horizontal navigation.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/page/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#vertical-nav">Vertical nav</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-nav">Horizontal nav</JumpLinksItem>
            <JumpLinksItem Href="#tertiary-nav">Tertiary nav</JumpLinksItem>
            <JumpLinksItem Href="#with-or-without-fill">With or without fill</JumpLinksItem>
            <JumpLinksItem Href="#main-Snippet-padding">Main Section Padding</JumpLinksItem>
            <JumpLinksItem Href="#group-Snippet">Group Snippet</JumpLinksItem>
            <JumpLinksItem Href="#vertical-nav-using-page-header-component">Vertical nav using PageHeader component</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="vertical-nav" Title="Vertical nav">
      <PageVerticalNav />
    </Snippet>

    <Snippet id="horizontal-nav" Title="Horizontal nav">
      <PageHorizontalNav />
    </Snippet>

    <Snippet id="tertiary-nav" Title="Tertiary nav">
      <PageTertiaryNav />
    </Snippet>

    <Snippet id="with-or-without-fill" Title="With or without fill">
      <PageWithOrWithoutFill />
    </Snippet>

    <Snippet id="main-Snippet-padding" Title="Main section padding">
      <PageMainSectionPadding />
    </Snippet>

    <Snippet id="group-Snippet" Title="Group section">
      <PageGroupSection />
    </Snippet>

    <Snippet id="vertical-nav-using-page-header-component" Title="Vertical nav using PageHeader component">
      <PageVerticalNavUsingPageHeaderComponent />
    </Snippet>
  </FlexItem>
</Flex>
