@namespace Blatternfly.Components

<div class="pf-c-about-modal-box__header">
  <Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4" @attributes="AdditionalAttributes">
    @ProductName
  </Title>
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Name of the Product.
  [Parameter] public string ProductName { get; set; }
}