@namespace Blatternfly.Components

<div class="pf-c-about-modal-box__header">
  <Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4" @attributes="AdditionalAttributes">
    @ProductName
  </Title>
</div>