@namespace Blatternfly.Components

<div class="pf-c-about-modal-box__close" @attributes="AdditionalAttributes">
  <Button Variant="ButtonVariant.Plain" AriaLabel="@AriaLabel" OnClick="OnClose">
    <TimesIcon />
  </Button>
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Set close button aria label.
  [Parameter] public string AriaLabel { get; set; }

  /// A callback for when the close button is clicked.
  [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }
}