@namespace Blatternfly.Components
@inherits BaseComponent

<div class="pf-c-about-modal-box__close" @attributes="AdditionalAttributes">
  <Button Variant="ButtonVariant.Plain" AriaLabel="@AriaLabel" OnClick="OnClose">
    <TimesIcon />
  </Button>
</div>

@code {
  /// Set close button aria label.
  [Parameter] public string AriaLabel { get; set; }

  /// A callback for when the close button is clicked.
  [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }
}