@namespace Blatternfly.Components

<div class="pf-c-about-modal-box__content" @attributes="AdditionalAttributes">
  <div class="pf-c-about-modal-box__body">
    @if (NoAboutModalBoxContentContainer)
    {
      @ChildContent
    }
    else
    {
      <div class="pf-c-content">@ChildContent</div>
    }
  </div>
  <p class="pf-c-about-modal-box__strapline">@Trademark</p>
</div>