@namespace Blatternfly.Components

<div class="pf-c-about-modal-box__close" @attributes="AdditionalAttributes">
  <Button Variant="ButtonVariant.Plain" AriaLabel="@AriaLabel" OnClick="OnClose">
    <TimesIcon />
  </Button>
</div>