<PageHeader IsNavOpen="@IsNavOpen" ShowNavToggle OnNavToggle="@NavToggleHandler" LogoComponent="LogoComponent.div">
  <Logo>
    <Title HeadingLevel="HeadingLevel.h1">B L A T T E R N F L Y</Title> 
  </Logo>
</PageHeader>

@code {
  [Parameter] public bool IsNavOpen { get; set; }
  [Parameter] public bool IsManagedSidebar { get; set; }
  [Parameter] public EventCallback<bool> OnNavToggle { get; set; }

  private async Task NavToggleHandler(bool isNavOpen)
  {
    IsNavOpen = isNavOpen;
    await OnNavToggle.InvokeAsync(IsNavOpen);
  }
}