@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <nav
    @attributes="AdditionalAttributes"
    class="@CssClass"
    aria-label="@InternalAriaLabel"
  >
    @ChildContent
  </nav>
</CascadingValue>