@namespace Blatternfly.Components
@inherits BaseComponent

<li @attributes="AdditionalAttributes" class="pf-c-nav__item @InternalCssClass" @onclick="ClickHandler" @onclick:stopPropagation="true">
  <NavLink class="@NavLinkClass" ActiveClass="pf-m-current" href="@To" Match="NavLinkMatch.All" aria-current="@AriaCurrent">
    @ChildContent
  </NavLink>
</li>

@code {
  /// Parent Nav control
  [CascadingParameter] public Nav Parent { get; set; }

  /// Target navigation link.
  [Parameter] public string To { get; set; }
  
  /// Group identifier, will be returned with the onToggle and onSelect callback passed to the Nav component.
  [Parameter] public string GroupId { get; set; }

  /// Item identifier, will be returned with the onToggle and onSelect callback passed to the Nav component.
  [Parameter] public string ItemId { get; set; }

  private bool   IsActive     { get => !string.IsNullOrEmpty(Parent.ActiveItemId) && ItemId == Parent.ActiveItemId; }
  private string AriaCurrent  { get => IsActive ? "page" : null; }
  private string NavLinkClass { get => $"pf-c-nav__link {InternalCssClass}"; }

  private async Task ClickHandler(MouseEventArgs args)
  {
    await Parent.Select(this);
  }
}