@namespace Blatternfly.Components

@if (Variant is ToolbarItemVariant.Separator)
{
  <Divider @attributes="AdditionalAttributes" IsVertical />
}
else
{
  <div
    @attributes="AdditionalAttributes"
    class="@CssClass"
    aria-hidden="@AriaHidden"
    id="@InternalId"
    style="@WidthsStyle"
  >
    @ChildContent
  </div>
}