@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  <ToolbarGroup />
  @if (Parent.NumberOfFilters > 0)
  {
    <ToolbarGroup class="pf-m-chip-container">
      <ToolbarGroup />
      @if (@ShowClearFiltersButton && Parent.CustomChipGroupContent is null)
      {
        <ToolbarItem>
          <Button Variant="ButtonVariant.Link" OnClick="@ClearAllFilters" IsInline>
            @ClearFiltersButtonText
          </Button>
        </ToolbarItem>
      }
    </ToolbarGroup>
  }
</div>

@code {
  [CascadingParameter] public Toolbar Parent { get; set; }

  /// Flag indicating the expandable content is expanded.
  [Parameter] public bool IsExpanded { get; set; }

  /// optional callback for clearing all filters in the toolbar.
  [Parameter] public EventCallback ClearAllFilters { get; set; }

  /// Text to display in the clear all filters button.
  [Parameter] public string ClearFiltersButtonText { get; set; } = "Clear all filters";

  /// Flag indicating that the clear all filters button should be visible.
  [Parameter] public bool ShowClearFiltersButton { get; set; }

  private string CssClass => new CssBuilder("pf-c-toolbar__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}
