@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <ToolbarGroup />
  @if (Parent.NumberOfFilters > 0)
  {
    <ToolbarGroup class="pf-m-chip-container">
      <ToolbarGroup />
      @if (@ShowClearFiltersButton && Parent.CustomChipGroupContent is null)
      {
        <ToolbarItem>
          <Button Variant="ButtonVariant.Link" OnClick="@ClearAllFilters" IsInline>
            @ClearFiltersButtonText
          </Button>
        </ToolbarItem>
      }
    </ToolbarGroup>
  }
</div>