@namespace Blatternfly.Components
@inherits BaseComponent

@if (Variant == ToolbarItemVariant.Separator)
{
  <Divider @attributes="AdditionalAttributes" IsVertical />
}
else
{
  <div
    class="@CssClass"
    aria-hidden="@AriaHidden"
    id="@InternalId"
    style="@WidthsStyle"
    @attributes="AdditionalAttributes"
  >
    @ChildContent
  </div>
}

@code {
  /// A type modifier which modifies spacing specifically depending on the type of item.
  [Parameter] public ToolbarItemVariant? Variant { get; set; }

  /// Visibility at various breakpoints.
  [Parameter] public Visibility Visibility { get; set; }

  /// Alignment at various breakpoints.
  [Parameter] public Alignment Alignment { get; set; }

  /// Spacers at various breakpoints.
  [Parameter] public ToolbarSpacer ToolbarSpacer { get; set;}

  /// Widths at various breakpoints.
  [Parameter] public ToolbarItemWidths Widths { get; set; }

  /// Flag indicating if the expand-all variant is expanded or not.
  [Parameter] public bool IsAllExpanded { get; set; }

  private string CssClass => new CssBuilder("pf-c-toolbar__item")
    .AddClass(VariantClass)
    .AddClass("pf-m-expanded", IsAllExpanded)
    .AddClass(Visibility?.CssClass)
    .AddClass(Alignment?.CssClass)
    .AddClass(ToolbarSpacer?.CssClass)
    .Build();

  private string AriaHidden  { get => Variant == ToolbarItemVariant.Label ? "true" : null; }
  private string WidthsStyle { get => Widths?.CssStyle; }
  private string VariantClass
  {
    get => Variant switch
    {
      ToolbarItemVariant.Separator    => "",
      ToolbarItemVariant.BulkSelect   => "pf-m-bulk-select",
      ToolbarItemVariant.OverflowMenu => "pf-m-overflow-menu",
      ToolbarItemVariant.Pagination   => "pf-m-pagination",
      ToolbarItemVariant.SearchFilter => "pf-m-search-filter",
      ToolbarItemVariant.Label        => "pf-m-label",
      ToolbarItemVariant.ChipGroup    => "pf-c-chip-group",
      ToolbarItemVariant.ExpandAll    => "pf-m-expand-all",
      _                               => null
    };
  }
}
