@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass" @attributes="AdditionalAttributes">
  @ChildContent
</div>

@code {
  [CascadingParameter] public Page ParentPage { get; set; }

  /// A type modifier which modifies spacing specifically depending on the type of group.
  [Parameter] public ToolbarGroupVariant? Variant { get; set; }

  /// Visibility at various breakpoints.
  [Parameter] public Visibility Visibility { get; set; }

  /// Alignment at various breakpoints..
  [Parameter] public Alignment Alignment { get; set; }

  /// Spacers at various breakpoints..
  [Parameter] public ToolbarSpacer ToolbarSpacer { get; set; }

  /// Space items at various breakpoints..
  [Parameter] public ToolbarSpaceItem ToolbarSpaceItems { get; set; }

  private string CssClass => new CssBuilder("pf-c-toolbar__group")
    .AddClass("pf-m-filter-group"     , Variant == ToolbarGroupVariant.FilterGroup)
    .AddClass("pf-m-icon-button-group", Variant == ToolbarGroupVariant.IconButtonGroup)
    .AddClass("pf-m-button-group"     , Variant == ToolbarGroupVariant.ButtonGroup)
    .AddClass(Visibility?.CssClass(ParentPage?.Breakpoint))
    .AddClass(Alignment?.CssClass(ParentPage?.Breakpoint))
    .AddClass(ToolbarSpacer?.CssClass(ParentPage?.Breakpoint))
    .AddClass(ToolbarSpaceItems?.CssClass(ParentPage?.Breakpoint))
    .Build();
}