<InputGroup>
  <Button id="textAreaButton1" Variant="ButtonVariant.Control">
    Button
  </Button>
  <TextArea name="textarea1" id="textarea1" AriaLabel="textarea with buttons" />
  <Button Variant="ButtonVariant.Control">Button</Button>
</InputGroup>
<br />
<InputGroup>
  <Button id="textAreaButton3" Variant="ButtonVariant.Control">
    Button
  </Button>
  <Button Variant="ButtonVariant.Control">Button</Button>
  <TextArea name="textarea3" id="textarea3" AriaLabel="textarea with 3 buttons" />
  <Button Variant="ButtonVariant.Control">Button</Button>
</InputGroup>
<br />
<InputGroup>
  <InputGroupText>
    <DollarSignIcon />
  </InputGroupText>
  <TextInput id="textInput5" Type="TextInputTypes.Number" AriaLabel="Dollar amount input example" />
  <InputGroupText>.00</InputGroupText>
</InputGroup>
