@page "/components/input-group"

<TextContent>
  <Title class="pf-u-mb-md">Input group</Title>
  <Text class="pf-u-mb-md">
    An <strong>input group</strong> includes multiple input types, like a text input and a button, in one control.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/input-group/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-textarea">With textarea</JumpLinksItem>
            <JumpLinksItem Href="#with-dropdown">With dropdown</JumpLinksItem>
            <JumpLinksItem Href="#with-multiple-group-siblings">With multiple group siblings</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <InputGroupBasic />
    </Snippet>

    <Snippet id="with-textarea" Title="With textarea">
      <InputGroupWithTextArea />
    </Snippet>

    <Snippet id="with-dropdown" Title="With dropdown">
      <InputGroupWithDropdown />
    </Snippet>

    <Snippet id="with-multiple-group-siblings" Title="With multiple group siblings">
      <InputGroupWithMultipleGroupSiblings />
    </Snippet>
  </FlexItem>
</Flex>