@page "/components/sidebar"

<TextContent>
  <Title class="pf-u-mb-md">Backdrop</Title>
  <Text class="pf-u-mb-md">
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/sidebar/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#stack">Stack</JumpLinksItem>
            <JumpLinksItem Href="#panel-right-with-gutter">Panel right with gutter</JumpLinksItem>
            <JumpLinksItem Href="#sticky-panel">Sticky panel</JumpLinksItem>
            <JumpLinksItem Href="#static-panel">Static panel</JumpLinksItem>
            <JumpLinksItem Href="#responsive-panel-width">Responsive panel width</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <SidebarBasic />
    </section>

    <section id="stack" class="example-section">
      <Title Size="TitleSizes.Large">Stack</Title>
      <SidebarStack />
    </section>

    <section id="panel-right-with-gutter" class="example-section">
      <Title Size="TitleSizes.Large">Panel right with gutter</Title>
      <SidebarPanelRightWithGutter />
    </section>

    <section id="sticky-panel" class="example-section">
      <Title Size="TitleSizes.Large">Sticky panel</Title>
      <SidebarStickyPanel />
    </section>

    <section id="static-panel" class="example-section">
      <Title Size="TitleSizes.Large">Static panel</Title>
      <SidebarStaticPanel />
    </section>

    <section id="responsive-panel-width" class="example-section">
      <Title Size="TitleSizes.Large">Responsive panel width</Title>
      <SidebarResponsivePanelWidth />
    </section>
  </FlexItem>
</Flex>