@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <table
    @attributes="AdditionalAttributes"
    aria-label="@AriaLabel"
    role="@TableRole"
    class="@CssClass"
    @ref="Element"
  >
    @if (NestedHeaderColumnSpans is { Length: > 0 })
    {
      @for (int i = 0; i < NestedHeaderColumnSpans.Length; ++i)
      {
        if (NestedHeaderColumnSpans[i] == 1)
        {
          <col @key="i" />
        }
        else
        {
          <colgroup @key="i" span="@NestedHeaderColumnSpans[i]" />
        }
      }
    }
    @if (HasSelectableRowCaption && HasSelectableRows)
    {
      <caption>
        <div class="pf-screen-reader">
          @SelectableRowsScreenReaderText
        </div>
      </caption>
    }
    @ChildContent
  </table>
</CascadingValue>