@page "/components/form-select"

<TextContent>
  <Title class="pf-u-mb-md">Form select</Title>
  <Text class="pf-u-mb-md">
    A <strong>form select</strong> embeds browser native select lists into a form.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/form-select/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#validated">Validated</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#grouped">Grouped</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <FormSelectBasic />
    </section>

    <section id="invalid" class="example-section">
      <Title Size="TitleSizes.Large">Invalid</Title>
      <FormSelectInvalid />
    </section>

    <section id="validated" class="example-section">
      <Title Size="TitleSizes.Large">Validated</Title>
      <FormSelectValidated />
    </section>

    <section id="disabled" class="example-section">
      <Title Size="TitleSizes.Large">Disabled</Title>
      <FormSelectDisabled />
    </section>

    <section id="grouped" class="example-section">
      <Title Size="TitleSizes.Large">Grouped</Title>
      <FormSelectGrouped />
    </section>
  </FlexItem>
</Flex>