@page "/components/form-select"

<TextContent>
  <Title class="pf-u-mb-md">Form select</Title>
  <Text class="pf-u-mb-md">
    A <strong>form select</strong> embeds browser native select lists into a form.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/form-select/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#validated">Validated</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#grouped">Grouped</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <FormSelectBasic />
    </Snippet>

    <Snippet id="invalid" Title="Invalid">
      <FormSelectInvalid />
    </Snippet>

    <Snippet id="validated" Title="Validated">
      <FormSelectValidated />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <FormSelectDisabled />
    </Snippet>

    <Snippet id="grouped" Title="Grouped">
      <FormSelectGrouped />
    </Snippet>
  </FlexItem>
</Flex>