@namespace Blatternfly.Components

<nav @attributes="AdditionalAttributes" aria-label="@AriaLabel" class="@CssClass">
  <ol class="pf-c-breadcrumb__list">
    <CascadingValue Value="this" IsFixed="true">
      @ChildContent
    </CascadingValue>
  </ol>
</nav>