@page "/components/table"

<TextContent>
  <Title class="pf-u-mb-md">Table</Title>
  <Text class="pf-u-mb-md">
    A <strong>table</strong> is used to display large data sets that can be easily laid out in a simple grid with column headers.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/table/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#empty-state">Empty state</JumpLinksItem>
            <JumpLinksItem Href="#sortable-and-wrapping-headers">Sortable & wrapping headers</JumpLinksItem>
            <JumpLinksItem Href="#selectable">Selectable</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#sticky-column">Sticky column</JumpLinksItem>
            <JumpLinksItem Href="#nested-column-headers">Nested column headers</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <TableBasic />
    </Snippet>

    <Snippet id="empty-state" Title="Empty state">
      <TableEmptyState />
    </Snippet>

    <Snippet id="sortable-and-wrapping-headers" Title="Sortable & wrapping headers">
      <TableSortableAndWrappingHeaders />
    </Snippet>

    <Snippet id="selectable" Title="Selectable">
      <TableSelectable />
    </Snippet>

    <Snippet id="expandable" Title="Expandable">
      <TableExpandable />
    </Snippet>

    <Snippet id="sticky-column" Title="Sticky column">
      <TableStickyColumn />
    </Snippet>

    <Snippet id="nested-column-headers" Title="Nested column headers">
      <TableNestedColumnHeaders />
    </Snippet>
  </FlexItem>
</Flex>