@page "/components/table"

<ComponentShowcase Title="Table" Name="table">
  <Description>
    A <strong>table</strong> is used to display large data sets that can be easily laid out in a simple grid with column headers.
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          <JumpLinksItem Href="#empty-state">Empty state</JumpLinksItem>
          <JumpLinksItem Href="#sortable-and-wrapping-headers">Sortable & wrapping headers</JumpLinksItem>
          <JumpLinksItem Href="#selectable">Selectable</JumpLinksItem>
          <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
          <JumpLinksItem Href="#sticky-column">Sticky column</JumpLinksItem>
          <JumpLinksItem Href="#nested-column-headers">Nested column headers</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#striped">
      <ChildContent>Striped</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#striped">Striped</JumpLinksItem>
          <JumpLinksItem Href="#striped-expandable">Striped expandable</JumpLinksItem>
          <JumpLinksItem Href="#striped-multiple-tbody">Striped multiple tbody</JumpLinksItem>
          <JumpLinksItem Href="#striped-tr">Striped tr</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <ComponentExample id="basic" Title="Basic" ResourceName="TableBasic">
      <TableBasic />
    </ComponentExample>

    <ComponentExample id="empty-state" Title="Empty state" ResourceName="TableEmptyState">
      <TableEmptyState />
    </ComponentExample>

    <ComponentExample id="sortable-and-wrapping-headers" Title="Sortable & wrapping headers" ResourceName="TableSortableAndWrappingHeaders">
      <TableSortableAndWrappingHeaders />
    </ComponentExample>

    <ComponentExample id="selectable" Title="Selectable" ResourceName="TableSelectable">
      <TableSelectable />
    </ComponentExample>

    <ComponentExample id="expandable" Title="Expandable" ResourceName="TableExpandable">
      <TableExpandable />
    </ComponentExample>

    <ComponentExample id="sticky-column" Title="Sticky column" ResourceName="TableStickyColumn">
      <TableStickyColumn />
    </ComponentExample>

    <ComponentExample id="nested-column-headers" Title="Nested column headers" ResourceName="TableNestedColumnHeaders">
      <TableNestedColumnHeaders />
    </ComponentExample>

    <Title id="responsive-column-definitions">Responsive column definitions</Title>

    <ComponentExample id="striped" Title="Striped" ResourceName="TableStriped">
      <TableStriped />
    </ComponentExample>

    <ComponentExample id="striped-expandable" Title="Striped expandable" ResourceName="TableStripedExpandable">
      <TableStripedExpandable />
    </ComponentExample>

    <ComponentExample id="striped-multiple-tbody" Title="Striped multiple tbody" ResourceName="TableStripedMultipleTbody">
      <TableStripedMultipleTbody />
    </ComponentExample>

    <ComponentExample id="striped-tr" Title="Striped tr" ResourceName="TableStripedTr">
      <TableStripedTr />
    </ComponentExample>
  </Examples>
</ComponentShowcase>