@page "/components/progress"

<TextContent>
  <Title class="pf-u-mb-md">Progress</Title>
  <Text class="pf-u-mb-md">
    A <strong>progress bar</strong> informs users about the completion status of an ongoing process or task.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/progress/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#small">Small</JumpLinksItem>
            <JumpLinksItem Href="#large">Large</JumpLinksItem>
            <JumpLinksItem Href="#outside">Outside</JumpLinksItem>
            <JumpLinksItem Href="#inside">Inside</JumpLinksItem>
            <JumpLinksItem Href="#success">Success</JumpLinksItem>
            <JumpLinksItem Href="#failure">Failure</JumpLinksItem>
            <JumpLinksItem Href="#warning">Warning</JumpLinksItem>
            <JumpLinksItem Href="#inside-success">Inside success</JumpLinksItem>
            <JumpLinksItem Href="#outside-failure">Outside failure</JumpLinksItem>
            <JumpLinksItem Href="#single-line">Single line</JumpLinksItem>
            <JumpLinksItem Href="#without-measure">Without measure</JumpLinksItem>
            <JumpLinksItem Href="#failure-without-measure">Failure without measure</JumpLinksItem>
            <JumpLinksItem Href="#finite-step">Finite step</JumpLinksItem>
            <JumpLinksItem Href="#progress-step-instruction">Progress (step instruction)</JumpLinksItem>
            <JumpLinksItem Href="#truncate-title">Truncate title</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <ProgressBasic />
    </Snippet>

    <Snippet id="small" Title="Small">
      <ProgressSmall />
    </Snippet>

    <Snippet id="large" Title="Large">
      <ProgressLarge />
    </Snippet>

    <Snippet id="outside" Title="Outside">
      <ProgressOutside />
    </Snippet>

    <Snippet id="inside" Title="Inside">
      <ProgressInside />
    </Snippet>

    <Snippet id="success" Title="Success">
      <ProgressSuccess />
    </Snippet>

    <Snippet id="failure" Title="Failure">
      <ProgressFailure />
    </Snippet>

    <Snippet id="warning" Title="Warning">
      <ProgressWarning />
    </Snippet>

    <Snippet id="inside-success" Title="Inside success">
      <ProgressInsideSuccess />
    </Snippet>

    <Snippet id="outside-failure" Title="Outside failure">
      <ProgressOutsideFailure />
    </Snippet>

    <Snippet id="single-line" Title="Single line">
      <ProgressSingleLine />
    </Snippet>

    <Snippet id="without-measure" Title="Without measure">
      <ProgressWithoutMeasure />
    </Snippet>

    <Snippet id="failure-without-measure" Title="Failure without measure">
      <ProgressFailureWithoutMeasure />
    </Snippet>

    <Snippet id="finite-step" Title="Finite step">
      <ProgressFiniteStep />
    </Snippet>

    <Snippet id="progress-step-instruction" Title="Progress (step instruction)">
      <ProgressSstepInstruction />
    </Snippet>

    <Snippet class="example-section" Title="Truncate title">
      <ProgressTruncateTitle />
    </Snippet>
  </FlexItem>
</Flex>
