@namespace Blatternfly.Components
@inherits BaseComponent

<span class="@CssClass">
  @ChildContent
</span>

@code {
  /// Adds toggle group item variant styles.
  [Parameter] public ToggleGroupItemVariant? Variant { get; set; }

  private string CssClass => new CssBuilder()
    .AddClass("pf-c-toggle-group__icon", Variant == ToggleGroupItemVariant.Icon)
    .AddClass("pf-c-toggle-group__text", Variant == ToggleGroupItemVariant.Text)
    .Build();
}