@namespace Blatternfly.Components
@inherits BaseComponent

<div
  class="@CssClass"
  role="group"
  aria-label="@AriaLabel"
  @attributes="AdditionalAttributes"
>
  @ChildContent
</div>

@code {
  /// Modifies the toggle group to include compact styling.
  [Parameter] public bool IsCompact { get; set; }

  /// Accessible label for the toggle group.
  [Parameter] public string AriaLabel { get; set; }
  
  private CssBuilder CssClass => new CssBuilder("pf-c-toggle-group")
    .AddClass("pf-m-compact", IsCompact);
}