@namespace Blatternfly.Components
@inherits BaseComponent

<span class="@VariantClass">
  @ChildContent
</span>

@code {
  /// Adds toggle group item variant styles.
  [Parameter] public ToggleGroupItemVariant? Variant { get; set; }
  
  private string VariantClass
  {
    get => Variant switch
    {
      ToggleGroupItemVariant.Icon => "pf-c-toggle-group__icon",
      ToggleGroupItemVariant.Text => "pf-c-toggle-group__text",
      _                           => null
    };
  }
}