@page "/components/hint"

<TextContent>
  <Title class="pf-u-mb-md">Hint</Title>
  <Text class="pf-u-mb-md">
    A <strong>hint</strong> is in-app messaging that provides a one-step reminder, explanation, or call to action for a page or modal.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/hint/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic-with-title">Basic with title</JumpLinksItem>
            <JumpLinksItem Href="#basic-without-title">Basic without title</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic-with-title" class="example-section">
      <Title Size="TitleSizes.Large">Basic with title</Title>
      <Hint>
        <Actions>
          <Dropdown Position="DropdownPosition.Right" IsPlain>
            <Toggle>
              <KebabToggle id="hint-kebab-toggle-1" />
            </Toggle>
            <DropdownItems>
              <DropdownItem @key="1">Link</DropdownItem>
              <DropdownItem @key="2" Component="button">
                Action
              </DropdownItem>
              <DropdownItem @key="3" IsDisabled>
                Disabled Link
              </DropdownItem>
              <DropdownItem @key="4" IsDisabled Component="button">
                Disabled Action
              </DropdownItem>
              <DropdownSeparator @key="5" />
              <DropdownItem @key="6">Separated Link</DropdownItem>
              <DropdownItem @key="7" Component="button">
                Separated Action
              </DropdownItem>
            </DropdownItems>
          </Dropdown>
        </Actions>
        <ChildContent>
          <HintTitle>Do more with Find it Fix it capabilities</HintTitle>
          <HintBody>
            Upgrade to Red Hat Smart Management to remediate all your systems across regions and geographies.
          </HintBody>
          <HintFooter>
            <Button Variant="ButtonVariant.Link" IsInline>Try it for 90 days</Button>
          </HintFooter>
        </ChildContent>
      </Hint>
    </section>

    <section id="basic-without-title" class="example-section">
      <Title Size="TitleSizes.Large">Basic without title</Title>
      <Hint>
        <HintBody>
          Welcome to the new documentation experience.
          <Button Variant="ButtonVariant.Link" IsInline>
            Learn more about the improved features.
          </Button>
        </HintBody>
      </Hint>
      <br />
      <Hint>
        <Actions>
          <Dropdown Position="DropdownPosition.Right" IsPlain>
            <Toggle>
              <KebabToggle id="hint-kebab-toggle-2" />
            </Toggle>
            <DropdownItems>
              <DropdownItem @key="1">Link</DropdownItem>
              <DropdownItem @key="2" Component="button">
                Action
              </DropdownItem>
              <DropdownItem @key="3" IsDisabled>
                Disabled Link
              </DropdownItem>
              <DropdownItem @key="4" IsDisabled Component="button">
                Disabled Action
              </DropdownItem>
              <DropdownSeparator @key="5" />
              <DropdownItem @key="6">Separated Link</DropdownItem>
              <DropdownItem @key="7" Component="button">
                Separated Action
              </DropdownItem>
            </DropdownItems>
          </Dropdown>
        </Actions>
        <ChildContent>
          <HintBody>
            Upgrade to Red Hat Smart Management to remediate all your systems across regions and geographies.
          </HintBody>
          <HintFooter>
            <Button Variant="ButtonVariant.Link" IsInline>
              Try it for 90 days
            </Button>
          </HintFooter>
        </ChildContent>
      </Hint>
    </section>
  </FlexItem>
</Flex>