@page "/components/select"

<TextContent>
  <Title class="pf-u-mb-md">Select</Title>
  <Text class="pf-u-mb-md">
    A <strong>select list</strong> enables users to select one or more items from a list.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/select/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#single">Single</JumpLinksItem>
            <JumpLinksItem Href="#with-a-style-applied-to-the-placeholder-text">With a style applied to the placeholder text</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="single" Title="Single">
      <SelectSingle />
    </Snippet>

    <Snippet id="with-a-style-applied-to-the-placeholder-text" Title="With a style applied to the placeholder text">
      <SelectWithStyledPlaceholder />
    </Snippet>
  </FlexItem>
</Flex>