@page "/components/pagination"

<TextContent>
  <Title class="pf-u-mb-md">Pagination</Title>
  <Text class="pf-u-mb-md">
    A <strong>pagination</strong> component gives users more navigational capability on pages with content views.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/pagination/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#top">Top</JumpLinksItem>
            <JumpLinksItem Href="#bottom">Bottom</JumpLinksItem>
            <JumpLinksItem Href="#indeterminate">Indeterminate</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#no-items">No items</JumpLinksItem>
            <JumpLinksItem Href="#one-page">One page</JumpLinksItem>
            <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
            <JumpLinksItem Href="#sticky">Sticky</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="top" Title="Top">
      <PaginationTop />
    </Snippet>

    <Snippet id="bottom" Title="Bottom">
      <PaginationBottom />
    </Snippet>

    <Snippet id="indeterminate" Title="Indeterminate">
      <PaginationIndeterminate />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <PaginationDisabled />
    </Snippet>

    <Snippet id="no-items" Title="No items">
      <PaginationNoItems />
    </Snippet>

    <Snippet id="one-page" Title="One page">
      <PaginationOnePage />
    </Snippet>

    <Snippet id="compact" Title="Compact">
      <PaginationCompact />
    </Snippet>

    <Snippet id="sticky" Title="Sticky">
      <PaginationSticky />
    </Snippet>
 </FlexItem>
</Flex>