<Radio id="radio-disabled" IsDisabled name="radio-5">
  <Label>Disabled radio example</Label>
</Radio>
<Radio id="radio-disabled-checked" DefaultChecked="true" IsDisabled name="radio-6">
  <Label>Disabled and checked radio example</Label>
</Radio>
