@page "/components/radio"

<TextContent>
  <Title class="pf-u-mb-md">Radio</Title>
  <Text class="pf-u-mb-md">
    A <strong>radio button</strong> is used to present the user with mutually exclusive choices.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/radio/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#reversed">Reversed</JumpLinksItem>
            <JumpLinksItem Href="#label-wraps">Label wraps</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#with-description">With description</JumpLinksItem>
            <JumpLinksItem Href="#with-body">With body</JumpLinksItem>
            <JumpLinksItem Href="#with-description-and-body">With description and body</JumpLinksItem>
            <JumpLinksItem Href="#standalone-input">Standalone input</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <RadioBasic />
    </Snippet>

    <Snippet id="reversed" Title="Reversed">
      <RadioReversed />
    </Snippet>

    <Snippet id="label-wraps" Title="Label wraps">
      <RadioLabelWraps />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <RadioDisabled />
    </Snippet>

    <Snippet id="with-description" Title="With description">
      <RadioWithDescription />
    </Snippet>

    <Snippet id="with-body" Title="With body">
      <RadioWithBody />
    </Snippet>

    <Snippet id="with-description-and-body" Title="With description and body">
      <RadioWithDescriptionAndBody />
    </Snippet>

    <Snippet id="standalone-input" Title="Standalone input">
      <RadioStandaloneInput />
    </Snippet>
  </FlexItem>
</Flex>