<Masthead
  id="stack-inline-masthead"
  Display="@DisplayOptions"
>
  <MastheadToggle>
    <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
      <BarsIcon />
    </Button>
  </MastheadToggle>
  <MastheadMain>
    <MastheadBrand>Logo</MastheadBrand>
  </MastheadMain>
  <MastheadContent>
    <span>Content</span>
  </MastheadContent>
</Masthead>

@code {
  public MastheadDisplayModifiers DisplayOptions = new ()
  {
    Default     = MastheadDisplay.Stack,
    Large       = MastheadDisplay.Inline,
    ExtraLarge2 = MastheadDisplay.Inline
  };
}