<Masthead id="inline-masthead" Display="@(new MastheadDisplay { Default = MastheadDisplayType.Inline })">
  <MastheadToggle>
    <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
      <BarsIcon />
    </Button>
  </MastheadToggle>
  <MastheadMain>
    <MastheadBrand>Logo</MastheadBrand>
  </MastheadMain>
  <MastheadContent>
    <span>Content</span>
  </MastheadContent>
</Masthead>
A