<Masthead id="basic-mixed">
  <MastheadToggle>
    <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
      <BarsIcon />
    </Button>
  </MastheadToggle>
  <MastheadMain>
    <MastheadBrand>Logo</MastheadBrand>
  </MastheadMain>
  <MastheadContent>
    <Flex>
      <span>Testing text color</span>
      <Button>testing</Button>
      <FlexItem AlignSelf="@(new () { Default = AlignSelf.FlexEnd })">
        <Button>testing</Button>
      </FlexItem>
    </Flex>
  </MastheadContent>
</Masthead>
