@page "/components/masthead"

<TextContent>
  <Title class="pf-u-mb-md">Masthead</Title>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/masthead/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#basic-with-mixed-content">Basic with mixed content</JumpLinksItem>
            <JumpLinksItem Href="#display-inline">Display inline</JumpLinksItem>
            <JumpLinksItem Href="#display-stack">Display stack</JumpLinksItem>
            <JumpLinksItem Href="#display-stack-display-inline-responsive">Display stack, display inline responsive</JumpLinksItem>
            <JumpLinksItem Href="#light-variant">Light variant</JumpLinksItem>
            <JumpLinksItem Href="#light-200-variant">Light 200 variant</JumpLinksItem>
            <JumpLinksItem Href="#inset">Inset</JumpLinksItem>
            <JumpLinksItem Href="#with-icon-router-link">With icon router link</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <MastheadBasic />
    </Snippet>

    <Snippet id="basic-with-mixed-content" Title="Basic with mixed content">
      <MastheadBasicWithMixedContent />
    </Snippet>

    <Snippet id="display-inline" Title="Display inline">
      <MastheadDisplayInline />
    </Snippet>

    <Snippet id="display-stack" Title="Display stack">
      <MastheadDisplayStack />
    </Snippet>

    <Snippet id="display-stack-display-inline-responsive" Title="Display stack, display inline responsive">
      <MastheadDisplayStackDisplayInlineResponsive />
    </Snippet>

    <Snippet id="light-variant" Title="Light variant">
      <MastheadLightVariant />
    </Snippet>

    <Snippet id="light-200-variant" Title="Light 200 variant">
      <MastheadLight200Variant />
    </Snippet>

    <Snippet id="inset" Title="Inset">
      <MastheadInset />
    </Snippet>

    <Snippet id="with-icon-router-link" Title="With icon router link">
      <MastheadWithIconRouterLink />
    </Snippet>
  </FlexItem>
</Flex>