<Masthead id="with-router-link-masthead">
  <MastheadToggle>
    <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
      <BarsIcon />
    </Button>
  </MastheadToggle>
  <MastheadMain>
    <MastheadBrand Component="MastheadBrandComponent.div" to="#">
      <NavLink href="#" Match="NavLinkMatch.All">
        <img src="assets/images/pf-logo-small.svg" alt="Patternfly Logo" />
      </NavLink>
    </MastheadBrand>
  </MastheadMain>
  <MastheadContent>
    <span>Content</span>
  </MastheadContent>
</Masthead>
