@page "/components/masthead"

<TextContent>
  <Title class="pf-u-mb-md">Masthead</Title>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/masthead/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#basic-with-mixed-content">Basic with mixed content</JumpLinksItem>
            <JumpLinksItem Href="#display-inline">Display inline</JumpLinksItem>
            <JumpLinksItem Href="#display-stack">Display stack</JumpLinksItem>
            <JumpLinksItem Href="#display-stack-display-inline-responsive">Display stack, display inline responsive</JumpLinksItem>
            <JumpLinksItem Href="#light-variant">Light variant</JumpLinksItem>
            <JumpLinksItem Href="#light-200-variant">Light 200 variant</JumpLinksItem>
            <JumpLinksItem Href="#inset">Inset</JumpLinksItem>
            <JumpLinksItem Href="#with-icon-router-link">With icon router link</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <MastheadBasic />
    </section>

    <section id="basic-with-mixed-content" class="example-section">
      <Title Size="TitleSizes.Large">Basic with mixed content</Title>
      <MastheadBasicWithMixedContent />
    </section>

    <section id="display-inline" class="example-section">
      <Title Size="TitleSizes.Large">Display inline</Title>
      <MastheadDisplayInline />
    </section>

    <section id="display-stack" class="example-section">
      <Title Size="TitleSizes.Large">Display stack</Title>
      <MastheadDisplayStack />
    </section>

    <section id="display-stack-display-inline-responsive" class="example-section">
      <Title Size="TitleSizes.Large">Display stack, display inline responsive</Title>
      <MastheadDisplayStackDisplayInlineResponsive />
    </section>

    <section id="light-variant" class="example-section">
      <Title Size="TitleSizes.Large">Light variant</Title>
      <MastheadLightVariant />
    </section>

    <section id="light-200-variant" class="example-section">
      <Title Size="TitleSizes.Large">Light 200 variant</Title>
      <MastheadLight200Variant />
    </section>

    <section id="inset" class="example-section">
      <Title Size="TitleSizes.Large">Inset</Title>
      <MastheadInset />
    </section>

    <section id="with-icon-router-link" class="example-section">
      <Title Size="TitleSizes.Large">With icon router link</Title>
      <MastheadWithIconRouterLink />
    </section>
  </FlexItem>
</Flex>