@namespace Blatternfly.Components
@inherits BaseComponent

<span @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</span>

@code {
  private string CssClass => new CssBuilder("pf-c-popover__title-text")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}