@namespace Blatternfly.Components

<Button
  @attributes="AdditionalAttributes"
  Variant="ButtonVariant.Plain"
  AriaLabel="@AriaLabel"
  style="pointer-events:auto"
  OnClick="@OnClose"
>
  <TimesIcon />
</Button>