@namespace Blatternfly.Components
@inherits BaseComponent

<Button
  @attributes="AdditionalAttributes"
  Variant="ButtonVariant.Plain"
  AriaLabel="@AriaLabel"
  style="pointer-events:auto"
  OnClick="@OnClose"
>
  <TimesIcon />
</Button>

@code {
  /// PopoverCloseButton onClose function.
  [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }

  /// Aria label for the Close button.
  [Parameter] public string AriaLabel { get; set; }
}