@namespace Blatternfly.Components

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  role="dialog"
  aria-modal="true"
>
  @ChildContent
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// PopoverDialog position.
  [Parameter] public PopoverDialogPosition? Position { get; set; } = PopoverDialogPosition.Top;

  private string CssClass => new CssBuilder("pf-c-popover")
    .AddClass("pf-m-top"   , Position is null or PopoverDialogPosition.Top)
    .AddClass("pf-m-bottom", Position is PopoverDialogPosition.Bottom)
    .AddClass("pf-m-left"  , Position is PopoverDialogPosition.Left)
    .AddClass("pf-m-right" , Position is PopoverDialogPosition.Right)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}