@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  role="dialog"
  aria-modal="true"
>
  @ChildContent
</div>

@code {
  /// PopoverDialog position.
  [Parameter] public PopoverDialogPosition? Position { get; set; } = PopoverDialogPosition.Top;

  private string CssClass => new CssBuilder("pf-c-popover")
    .AddClass("pf-m-top"   , Position is null || Position is PopoverDialogPosition.Top)
    .AddClass("pf-m-bottom", Position is not null && Position is PopoverDialogPosition.Bottom)
    .AddClass("pf-m-left"  , Position is not null && Position is PopoverDialogPosition.Left)
    .AddClass("pf-m-right" , Position is not null && Position is PopoverDialogPosition.Right)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}