@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="pf-c-select__menu-group">
  <div class="pf-c-select__menu-group-title" id="@TitleId" aria-hidden="true">
    @Label
  </div>
  <ul role="listbox">@ChildContent</ul>
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Group label.
  [Parameter] public string Label { get; set; }

  /// ID for title label.
  [Parameter] public string TitleId { get; set; }
}