@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
  @ChildContent
</div>
@if (Footer is not null)
{
  <div class="pf-c-select__menu-footer">
    @Footer
  </div>
}