@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="pf-c-select__menu-group">
  <div class="pf-c-select__menu-group-title" id="@TitleId" aria-hidden="true">
    @Label
  </div>
  <ul role="listbox">@ChildContent</ul>
</div>