@namespace Blatternfly.Components
@inherits BaseComponent

<div class="pf-c-select__menu-group">
  <div class="pf-c-select__menu-group-title" id="@TitleId" aria-hidden="true">
    @Label
  </div>
  <ul role="listbox">@ChildContent</ul>
</div>

@code {
  /// Group label.
  [Parameter] public string Label { get; set; } 
  
  /// ID for title label.
  [Parameter] public string TitleId { get; set; }  
}