@namespace Blatternfly.Components
@inherits BaseComponent

<header class="@CssClass" @attributes="AdditionalAttributes">
  @if (!string.IsNullOrEmpty(Help))
  {
    <div class="pf-c-modal-box__header-main">@ChildContent</div>
    <div class="pf-c-modal-box__header-help">@Help</div>
  }
  else
  {
    @ChildContent
  }
</header>

@code {
  /// Optional help section for the Modal Header.
  [Parameter] public string Help { get; set; }
  
  private CssBuilder CssClass => new CssBuilder("pf-c-modal-box__header")
    .AddClass("pf-m-help", Help is not null);
}