@namespace Blatternfly.Components

<header @attributes="AdditionalAttributes" class="@CssClass">
  @if (!string.IsNullOrEmpty(Help))
  {
    <div class="pf-c-modal-box__header-main">@ChildContent</div>
    <div class="pf-c-modal-box__header-help">@Help</div>
  }
  else
  {
    @ChildContent
  }
</header>