<Form Model="@FormModel" IsWidthLimited>
  <FormGroup
    Label="Full name"
    IsRequired
    FieldId="simple-form-name-02"
    HelperText="Include your middle name if you have one."
  >
    <TextInput
      IsRequired
      id="simple-form-name-02"
      name="simple-form-name-02"
      aria-describedby="simple-form-name-02-helper"
      @bind-Value="FormModel.Name"
    />
  </FormGroup>
  <FormGroup
    Label="Email"
    IsRequired
    FieldId="simple-form-email-02"
  >
    <TextInput
      IsRequired
      Type="TextInputTypes.Email"
      id="simple-form-email-02"
      name="simple-form-email-02"
      @bind-Value="FormModel.Email"
    />
  </FormGroup>
  <FormGroup
    Label="Phone number"
    IsRequired
    FieldId="simple-form-number-02"
  >
    <TextInput
      IsRequired
      Type="TextInputTypes.Tel"
      id="simple-form-number-02"
      placeholder="555-555-5555"
      name="simple-form-number-02"
      @bind-Value="FormModel.Phone"
    />
  </FormGroup>
  <FormGroup
    Label="How can we contact you?"
    IsStack
    HasNoPaddingTop
    Role="group"
    FieldId="horizontal-form-checkbox-group"
  >
    <Checkbox Label="Email" id="alt-form-checkbox-1" name="alt-form-checkbox-1" @bind-Value="FormModel.ContactEmail" />
    <Checkbox Label="Phone" id="alt-form-checkbox-2" name="alt-form-checkbox-2" @bind-Value="FormModel.ContactPhone" />
    <Checkbox Label="Mail"  id="alt-form-checkbox-3" name="alt-form-checkbox-3" @bind-Value="FormModel.DisallowContact" />
  </FormGroup>
  <FormGroup Role="radiogroup" IsStack HasNoPaddingTop FieldId="horizontal-form-radio-group" Label="Time zone">
    <Radio id="horizontal-inline-radio-01" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Eastern</Label></Radio>
    <Radio id="horizontal-inline-radio-02" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Central</Label></Radio>
    <Radio id="horizontal-inline-radio-03" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Pacific</Label></Radio>
  </FormGroup>
  <FormGroup
    Label="Additional note"
    FieldId="simple-form-note-01"
  >
    <TextInput
      IsDisabled
      id="simple-form-note-02"
      name="simple-form-note-02"
      @bind-Value="FormModel.Notes"
    />
  </FormGroup>
  <FormGroup FieldId="checkbox01">
    <Checkbox
      Label="I'd like updates via email"
      id="checkbox02"
      name="checkbox02"
      AriaLabel="Update via email"
      @bind-Value="FormModel.EmailUpdates"
    />
  </FormGroup>
  <ActionGroup>
    <Button Variant="ButtonVariant.Primary">Submit</Button>
    <Button Variant="ButtonVariant.Link">Cancel</Button>
  </ActionGroup>
</Form>

@code {
  public BasicModel FormModel { get; set; } = new();
}