@page "/components/form"

<TextContent>
  <Title class="pf-u-mb-md">Form</Title>
  <Text class="pf-u-mb-md">
    A <strong>form</strong> is a group of elements used to collect information from a user in a variety of contexts including in a modal, in a wizard, or on a page.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/form/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#horizontal">Horizontal</JumpLinksItem>
            <JumpLinksItem Href="#limit-width">Limit width</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#invalid-with-form-alert">Invalid with form alert</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-stacked-no-padding-top">Horizontal stacked no padding top</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-stacked-helper-text-on-top">Horizontal stacked helper text on top</JumpLinksItem>
            <JumpLinksItem Href="#form-group-with-additional-label-info">Form group with additional label info</JumpLinksItem>
            <JumpLinksItem Href="#form-sections">Form Sections</JumpLinksItem>
            <JumpLinksItem Href="#grid-form">Grid form</JumpLinksItem>
            <JumpLinksItem Href="#field-groups">Field groups</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <FormBasic />
    </Snippet>

    <Snippet id="horizontal" Title="Horizontal">
      <FormHorizontal />
    </Snippet>

    <Snippet id="limit-width" Title="Limit width">
      <FormLimitWidth />
    </Snippet>

    <Snippet id="invalid" Title="Invalid">
      <FormInvalid />
    </Snippet>

    <Snippet id="invalid-with-form-alert" Title="Invalid with form alert">
      <FormInvalidWithFormAlert />
    </Snippet>

    <Snippet id="horizontal-stacked-no-padding-top" Title="Horizontal stacked no padding top">
      <FormHorizontalStackedNoPaddingTop />
    </Snippet>

    <Snippet id="horizontal-stacked-helper-text-on-top" Title="Horizontal stacked helper text on top">
      <FormHorizontalStackedHelperTextOnTop />
    </Snippet>

    <Snippet id="form-group-with-additional-label-info" Title="Form group with additional label info">
      <FormGroupWithAdditionalLabelInfo />
    </Snippet>

    <Snippet id="form-sections" Title="Form Sections">
      <FormSections />
    </Snippet>

    <Snippet id="grid-form" Title="Grid form">
      <FormGridForm />
    </Snippet>

    <Snippet id="field-groups" Title="Field groups">
      <FormFieldGroups />
    </Snippet>
  </FlexItem>
</Flex>