@page "/components/form"

<TextContent>
  <Title class="pf-u-mb-md">Form</Title>
  <Text class="pf-u-mb-md">
    A <strong>form</strong> is a group of elements used to collect information from a user in a variety of contexts including in a modal, in a wizard, or on a page.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/form/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#horizontal">Horizontal</JumpLinksItem>
            <JumpLinksItem Href="#limit-width">Limit width</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#invalid-with-form-alert">Invalid with form alert</JumpLinksItem>
            <JumpLinksItem Href="#horizontal-stacked-no-padding-top">Horizontal stacked no padding top</JumpLinksItem>
            <JumpLinksItem Href="#form-group-with-additional-label-info">Form group with additional label info</JumpLinksItem>
            <JumpLinksItem Href="#form-sections">Form Sections</JumpLinksItem>
            <JumpLinksItem Href="#grid-form">Grid form</JumpLinksItem>
            <JumpLinksItem Href="#field-groups">Field groups</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <FormBasic />
    </section>

    <section id="horizontal" class="example-section">
      <Title Size="TitleSizes.Large">Horizontal</Title>
      <FormHorizontal />
    </section>

    <section id="limit-width" class="example-section">
      <Title Size="TitleSizes.Large">Limit width</Title>
      <FormLimitWidth />
    </section>

    <section id="invalid" class="example-section">
      <Title Size="TitleSizes.Large">Invalid</Title>
      <FormInvalid />
    </section>

    <section id="invalid-with-form-alert" class="example-section">
      <Title Size="TitleSizes.Large">Invalid with form alert</Title>
      <FormInvalidWithFormAlert />
    </section>

    <section id="horizontal-stacked-no-padding-top" class="example-section">
      <Title Size="TitleSizes.Large">Horizontal stacked no padding top</Title>
      <FormHorizontalStackedNoPaddingTop />
    </section>

    <section class="example-section">
      <Title Size="TitleSizes.Large">Horizontal stacked helper text on top</Title>
      <FormHorizontalStackedHelperTextOnTop />
    </section>

    <section id="form-group-with-additional-label-info" class="example-section">
      <Title Size="TitleSizes.Large">Form group with additional label info</Title>
      <FormGroupWithAdditionalLabelInfo />
    </section>

    <section id="form-sections" class="example-section">
      <Title Size="TitleSizes.Large">Form Sections</Title>
      <FormSections />
    </section>

    <section id="grid-form" class="example-section">
      <Title Size="TitleSizes.Large">Grid form</Title>
      <FormGridForm />
    </section>

    <section id="field-groups" class="example-section">
      <Title Size="TitleSizes.Large">Field groups</Title>
      <FormFieldGroups />
    </section>
  </FlexItem>
</Flex>