<Form Model="@FormModel" IsHorizontal="true">
  <FormGroup
    Label="Full name"
    IsRequired
    FieldId="horizontal-form-name"
    HelperText="Include your middle name if you have one."
  >
    <TextInput
      @bind-Value="FormModel.Name"
      IsRequired
      id="horizontal-form-name"
      aria-describedby="horizontal-form-name-helper"
      name="horizontal-form-name"
    />
  </FormGroup>
  <FormGroup
    Label="Email"
    IsRequired
    FieldId="horizontal-form-email"
  >
    <TextInput
      @bind-Value="FormModel.Email"
      IsRequired
      Type="TextInputTypes.Email"
      id="horizontal-form-email"
      name="horizontal-form-email"
    />
  </FormGroup>
  <FormGroup
    Label="Your title"
    FieldId="horizontal-form-title"
  >
    <FormSelect
      @bind-Value="FormModel.Title"
      id="horizontal-form-title"
      name="horizontal-form-title"
      AriaLabel="Your title"
    >
      @foreach (var option in SelectOptions)
      {
        <FormSelectOption
          IsDisabled="@option.Item3"
          Value="@option.Item2"
          Label="@option.Item1"
        />
      }
    </FormSelect>
  </FormGroup>
  <FormGroup
    Label="Your experience"
    FieldId="horizontal-form-exp"
  >
    <TextArea
      @bind-Value="FormModel.Experience"
      name="horizontal-form-exp"
      id="horizontal-form-exp"
    />
  </FormGroup>
  <FormGroup
    Label="How can we contact you?"
    IsStack
    HasNoPaddingTop
    Role="group"
    FieldId="horizontal-form-checkbox-group"
  >
    <Checkbox Label="Email" id="alt-form-checkbox-1" name="alt-form-checkbox-1" @bind-Value="FormModel.ContactEmail" />
    <Checkbox Label="Phone" id="alt-form-checkbox-2" name="alt-form-checkbox-2" @bind-Value="FormModel.ContactPhone" />
    <Checkbox Label="Mail"  id="alt-form-checkbox-3" name="alt-form-checkbox-3" @bind-Value="FormModel.DisallowContact" />
  </FormGroup>
  <FormGroup Role="radiogroup" IsStack HasNoPaddingTop FieldId="horizontal-form-radio-group" Label="Time zone">
    <Radio id="horizontal-inline-radio-01" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Eastern</Label></Radio>
    <Radio id="horizontal-inline-radio-02" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Central</Label></Radio>
    <Radio id="horizontal-inline-radio-03" name="horizontal-inline-radio" @bind-Value="FormModel.TimeZone"><Label>Pacific</Label></Radio>
  </FormGroup>
  <ActionGroup>
    <Button Variant="ButtonVariant.Primary">Submit</Button>
    <Button Variant="ButtonVariant.Link">Cancel</Button>
  </ActionGroup>
</Form>

@code {
  public List<Tuple<string, string, bool>> SelectOptions => new()
  {
      new ("select one", "Select one", false),
      new ("mr"        , "Mr"        , false),
      new ("miss"      , "Miss"      , false),
      new ("mrs"       , "Mrs"       , false),
      new ("ms"        , "Ms"        , false),
      new ("dr"        , "Dr"        , false),
      new ("other"     , "Other"     , false)
  };

  public BasicModel FormModel { get; set; } = new();
}