@page "/components/empty-state"

<TextContent>
  <Title class="pf-u-mb-md">Empty state</Title>
  <Text class="pf-u-mb-md">
    An <strong>empty state</strong> is a screen that is not yet populated with data or information.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/empty-state/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#extra-small">Extra Small</JumpLinksItem>
            <JumpLinksItem Href="#small">Small</JumpLinksItem>
            <JumpLinksItem Href="#large">Large</JumpLinksItem>
            <JumpLinksItem Href="#extra-large">Extra large</JumpLinksItem>
            <JumpLinksItem Href="#spinner">Spinner</JumpLinksItem>
            <JumpLinksItem Href="#no-match-found">No match found</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <EmptyStateBasic />
    </section>

    <section id="extra-small" class="example-section">
      <Title Size="TitleSizes.Large">Extra Small</Title>
      <EmptyStateExtraSmall />
    </section>

    <section id="small" class="example-section">
      <Title Size="TitleSizes.Large">Small</Title>
      <EmptyStateSmall />
    </section>

    <section id="large" class="example-section">
      <Title Size="TitleSizes.Large">Large</Title>
      <EmptyStateLarge />
    </section>

    <section id="extra-large" class="example-section">
      <Title Size="TitleSizes.Large">Extra large</Title>
      <EmptyStateExtraLarge />
    </section>

    <section id="spinner" class="example-section">
      <Title Size="TitleSizes.Large">Spinner</Title>
      <EmptyStateSpinner />
    </section>

    <section id="no-match-found" class="example-section">
      <Title Size="TitleSizes.Large">No match found</Title>
      <EmptyStateNoMatchFound />
    </section>
  </FlexItem>
</Flex>