<EmptyState>
  <EmptyStateIcon>
    <SearchIcon aria-hidden="true" />
  </EmptyStateIcon>
  <Title HeadingLevel="HeadingLevel.h4" Size="TitleSizes.Large">No results found</Title>
  <EmptyStateBody>
    No results match the filter criteria. Clear all filters and try again.
  </EmptyStateBody>
  <EmptyStatePrimary>
    <Button Variant="ButtonVariant.Link">Clear all filters</Button>
  </EmptyStatePrimary>
</EmptyState>
