<EmptyState>
  <EmptyStateIcon>
    <span class="pf-c-spinner" role="progressbar" aria-valuetext="Loading...">
      <span class="pf-c-spinner__clipper" />
      <span class="pf-c-spinner__lead-ball" />
      <span class="pf-c-spinner__tail-ball" />
    </span>
  </EmptyStateIcon>
  <Title HeadingLevel="HeadingLevel.h4" Size="TitleSizes.Large">Loading</Title>
</EmptyState>
