Small circle
<Skeleton Shape="SkeletonShape.Circle" Width="15%" ScreenreaderText="Loading small circle contents" />
<br />
Medium circle
<Skeleton Shape="SkeletonShape.Circle" Width="30%" ScreenreaderText="Loading medium circle contents" />
<br />
Large circle
<Skeleton Shape="SkeletonShape.Circle" Width="50%" ScreenreaderText="Loading large circle contents" />
<br />
Small square
<Skeleton Shape="SkeletonShape.Square" Width="15%" ScreenreaderText="Loading small square contents" />
<br />
Medium square
<Skeleton Shape="SkeletonShape.Square" Width="30%" ScreenreaderText="Loading medium square contents" />
<br />
Large square
<Skeleton Shape="SkeletonShape.Square" Width="50%" ScreenreaderText="Loading large square contents" />
<br />
Small rectangle
<div style="height:200px">
  <Skeleton Height="50%" Width="50%" ScreenreaderText="Loading small rectangle contents" />
</div>
<br />
Medium rectangle
<div style="height:200px">
  <Skeleton Height="75%" Width="75%" ScreenreaderText="Loading medium rectangle contents" />
</div>
<br />
Large rectangle
<div style="height:200px">
  <Skeleton Height="100%" ScreenreaderText="Loading large rectangle contents" />
</div>