<div Style="height:400px;display:flex;align-items:flex-end;justify-content:space-between">
  <Skeleton Height="25%"  Width="15%" ScreenreaderText="Loading contents" />
  <Skeleton Height="33%"  Width="15%" />
  <Skeleton Height="50%"  Width="15%" />
  <Skeleton Height="66%"  Width="15%" />
  <Skeleton Height="75%"  Width="15%" />
  <Skeleton Height="100%" Width="15%" />
</div>