@page "/layouts/flex"

<ComponentShowcase Title="Flex" Section="layouts" Name="flex">
  <Description>
    The <strong>Flex</strong> layout is a tool to build your own custom layout that builds-in the PatternFly spacer and breakpoint systems.
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          <JumpLinksItem Href="#nesting">Nesting</JumpLinksItem>
          <JumpLinksItem Href="#nested-with-items">Nested with items</JumpLinksItem>
          <JumpLinksItem Href="#individually-spaced">Individually spaced</JumpLinksItem>
          <JumpLinksItem Href="#spacing-xl">Spacing xl</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#flex-layout-modifiers">
      <ChildContent>Flex layout modifiers</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#default-layout">Default layout</JumpLinksItem>
          <JumpLinksItem Href="#using-can-grow">Using canGrow</JumpLinksItem>
          <JumpLinksItem Href="#adjusting-width">Adjusting width</JumpLinksItem>
          <JumpLinksItem Href="#specifying-column-widths">Specifying column widths</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#column-layout-modifiers">
      <ChildContent>Column layout modifiers</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#column-layout">Column layout</JumpLinksItem>
          <JumpLinksItem Href="#stacking-elements">Stacking elements</JumpLinksItem>
          <JumpLinksItem Href="#nesting-elements-in-columns">Nesting elements in columns</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#responsive-layout-modifiers">
      <ChildContent>Responsive layout modifiers</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#switching-between-direction-column-and-row">Switching between direction column and row</JumpLinksItem>
          <JumpLinksItem Href="#controlling-width-of-text">Controlling width of text</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#flex-alignment">
      <ChildContent>Flex alignment</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#align-right">Align right</JumpLinksItem>
          <JumpLinksItem Href="#align-right-on-single-item">Align right on single item</JumpLinksItem>
          <JumpLinksItem Href="#align-right-on-multiple-groups">Align right on multiple groups</JumpLinksItem>
          <JumpLinksItem Href="#align-adjacent-content">Align adjacent content</JumpLinksItem>
          <JumpLinksItem Href="#align-self-flex-end">Align self flex end</JumpLinksItem>
          <JumpLinksItem Href="#align-self-center">Align self center</JumpLinksItem>
          <JumpLinksItem Href="#align-self-baseline">Align self baseline</JumpLinksItem>
          <JumpLinksItem Href="#align-self-stretch">Align self stretch</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#flex-justification">
      <ChildContent>Flex justification</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#justify-content-flex-end">Justify content flex end</JumpLinksItem>
          <JumpLinksItem Href="#justify-content-space-between">Justify content space between</JumpLinksItem>
          <JumpLinksItem Href="#justify-content-flex-start">Justify content flex start</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
    <JumpLinksItem Href="#flex-item-order">
      <ChildContent>Flex item order</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#first-last-ordering">First last ordering</JumpLinksItem>
          <JumpLinksItem Href="#responsive-first-last-ordering">Responsive first last ordering</JumpLinksItem>
          <JumpLinksItem Href="#ordering">Ordering</JumpLinksItem>
          <JumpLinksItem Href="#responsive-ordering">Responsive ordering</JumpLinksItem>
          <JumpLinksItem Href="#alternative-components">Alternative components</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <ComponentExample id="basic" Title="Basic" IsLayoutSection ResourceName="FlexBasic">
      <FlexBasic />
    </ComponentExample>

    <ComponentExample id="nesting" Title="Nesting" IsLayoutSection ResourceName="FlexNesting">
      <FlexNesting />
    </ComponentExample>

    <ComponentExample id="nested-with-items" Title="Nested with items" IsLayoutSection ResourceName="FlexNestedWithItems">
      <FlexNestedWithItems />
    </ComponentExample>

    <ComponentExample id="individually-spaced" Title="Individually spaced" IsLayoutSection ResourceName="FlexIndividuallySpaced">
      <FlexIndividuallySpaced />
    </ComponentExample>

    <ComponentExample id="spacing-xl" Title="Spacing xl" IsLayoutSection ResourceName="FlexSpacingExtraLarge">
      <FlexSpacingExtraLarge />
    </ComponentExample>

    <ComponentExample id="spacing-none" Title="Spacing none" IsLayoutSection ResourceName="FlexSpacingNone">
      <FlexSpacingNone />
    </ComponentExample>

    <Title id="flex-layout-modifiers" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Flex layout modifiers</Title>

    <ComponentExample id="default-layout" Title="Default layout" IsLayoutSection ResourceName="FlexDefaultLayout">
      <FlexDefaultLayout />
    </ComponentExample>

    <ComponentExample Title="Inline" IsLayoutSection ResourceName="FlexInline">
      <FlexInline />
    </ComponentExample>

    <ComponentExample id="using-can-grow" Title="Using canGrow" IsLayoutSection ResourceName="FlexUsingCanGrow">
      <FlexUsingCanGrow />
    </ComponentExample>

    <ComponentExample id="adjusting-width" Title="Adjusting width" IsLayoutSection ResourceName="FlexAdjustingWidth">
      <FlexAdjustingWidth />
    </ComponentExample>

    <ComponentExample id="specifying-column-widths" Title="Specifying column widths" IsLayoutSection ResourceName="FlexSpecifyingColumnWidths">
      <FlexSpecifyingColumnWidths />
    </ComponentExample>

    <Title id="column-layout-modifiers" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Column layout modifiers</Title>

    <ComponentExample id="column-layout" Title="Column layout" IsLayoutSection ResourceName="FlexColumnLayout">
      <FlexColumnLayout />
    </ComponentExample>

    <ComponentExample id="stacking-elements" Title="Stacking elements" IsLayoutSection ResourceName="FlexStackingElements">
      <FlexStackingElements />
    </ComponentExample>

    <ComponentExample id="nesting-elements-in-columns" Title="Nesting elements in columns" IsLayoutSection ResourceName="FlexNestingElementsInColumns">
      <FlexNestingElementsInColumns />
    </ComponentExample>

    <Title id="responsive-layout-modifiers" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Responsive layout modifiers</Title>

    <ComponentExample id="switching-between-direction-column-and-row" Title="Switching between direction column and row" IsLayoutSection ResourceName="FlexSwitchingBetweenDirectionColumnAndRow">
      <FlexSwitchingBetweenDirectionColumnAndRow />
    </ComponentExample>

    <ComponentExample id="controlling-width-of-text" Title="Controlling width of text" IsLayoutSection ResourceName="FlexControllingWidthOfText">
      <FlexControllingWidthOfText />
    </ComponentExample>

    <Title id="flex-alignment" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Flex alignment</Title>

    <ComponentExample id="align-right" Title="Align right" IsLayoutSection ResourceName="FlexAlignRight">
      <FlexAlignRight />
    </ComponentExample>

    <ComponentExample id="align-right-on-single-item" Title="Align right on single item" IsLayoutSection ResourceName="FlexAlignRightOnSingleItem">
      <FlexAlignRightOnSingleItem />
    </ComponentExample>

    <ComponentExample id="align-right-on-multiple-groups" Title="Align right on multiple groups" IsLayoutSection ResourceName="FlexAlignRightOnMultipleGroups">
      <FlexAlignRightOnMultipleGroups />
    </ComponentExample>

    <ComponentExample id="align-adjacent-content" Title="Align adjacent content" IsLayoutSection ResourceName="FlexAlignAdjacentContent">
      <FlexAlignAdjacentContent />
    </ComponentExample>

    <ComponentExample id="align-self-flex-end" Title="Align self flex end" IsLayoutSection ResourceName="FlexAlignSelfFlexEnd">
      <FlexAlignSelfFlexEnd />
    </ComponentExample>

    <ComponentExample id="align-self-center" Title="Align self center" IsLayoutSection ResourceName="FlexAlignSelfCenter">
      <FlexAlignSelfCenter />
    </ComponentExample>

    <ComponentExample id="align-self-baseline" Title="Align self baseline" IsLayoutSection ResourceName="FlexAlignSelfBaseline">
      <FlexAlignSelfBaseline />
    </ComponentExample>

    <ComponentExample id="align-self-stretch" Title="Align self stretch" IsLayoutSection ResourceName="FlexAlignSelfStretch">
      <FlexAlignSelfStretch />
    </ComponentExample>

    <Title id="flex-justification" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Flex justification</Title>

    <ComponentExample id="justify-content-flex-end" Title="Justify content flex end" IsLayoutSection ResourceName="FlexJustifyContentFlexEnd">
      <FlexJustifyContentFlexEnd />
    </ComponentExample>

    <ComponentExample id="justify-content-space-between" Title="Justify content space between" IsLayoutSection ResourceName="FlexJustifyContentSpaceBetween">
      <FlexJustifyContentSpaceBetween />
    </ComponentExample>

    <ComponentExample id="justify-content-flex-start" Title="Justify content flex start" IsLayoutSection ResourceName="FlexJustifyContentFlexStart">
      <FlexJustifyContentFlexStart />
    </ComponentExample>

    <Title id="flex-item-order" HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge2">Flex item order</Title>

    <ComponentExample id="first-last-ordering" Title="First last ordering" IsLayoutSection ResourceName="FlexFirstLastOrdering">
      <FlexFirstLastOrdering />
    </ComponentExample>

    <ComponentExample id="responsive-first-last-ordering" Title="Responsive first last ordering" IsLayoutSection ResourceName="FlexResponsiveFirstLastOrdering">
      <FlexResponsiveFirstLastOrdering />
    </ComponentExample>

    <ComponentExample id="Ordering" Title="Ordering" IsLayoutSection ResourceName="FlexOrdering">
      <FlexOrdering />
    </ComponentExample>

    <ComponentExample id="responsive-ordering" Title="Responsive ordering" IsLayoutSection ResourceName="FlexResponsiveOrdering">
      <FlexResponsiveOrdering />
    </ComponentExample>

    <ComponentExample id="alternative-components" Title="Alternative components" IsLayoutSection ResourceName="FlexAlternativeComponents">
      <FlexAlternativeComponents />
    </ComponentExample>
  </Examples>
</ComponentShowcase>
