@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  @if (IsRootMenu)
  {
    @* <KeyboardHandler
      containerRef={(this.menuRef as React.RefObject<HTMLDivElement>) || null}
      additionalKeyHandler={this.handleExtraKeys}
      createNavigableElements={this.createNavigableElements}
      isActiveElement={(element: Element) =>
        document.activeElement.parentElement === element ||
        (document.activeElement.closest('ol') && document.activeElement.closest('ol').firstChild === element)
      }
      getFocusableElement={(navigableElement: Element) => navigableElement.firstChild as Element}
      noHorizontalArrowHandling={
        document.activeElement &&
        (document.activeElement.classList.contains('pf-c-breadcrumb__link') ||
          document.activeElement.classList.contains('pf-c-dropdown__toggle'))
      }
      noEnterHandling
      noSpaceHandling
    /> *@
    <div
      @attributes="AdditionalAttributes"
      class="@CssClass"
      aria-label="@AriaLabel"
      @ref="Element"
    >
      @ChildContent
    </div>
  }
  else
  {
    <div
      @attributes="AdditionalAttributes"
      class="@CssClass"
      aria-label="@AriaLabel"
      @ref="Element"
    >
      @ChildContent
    </div>
  }
</CascadingValue>