@namespace Blatternfly.Components
@using System.Globalization
@inject IDomUtils DomUtils

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  style="@CssStyle"
  @ref="Element"
>
  @ChildContent
</div>

@code {
  public ElementReference Element { get; protected set; }

  [CascadingParameter] public Menu Parent { get; set; }

  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Height of the menu content.
  [Parameter] public string MenuHeight { get; set; }

  /// Maximum height of menu content
  [Parameter] public string MaxMenuHeight { get; set; }

  /// Callback to return the height of the menu content.
  [Parameter] public EventCallback<string> GetHeight { get; set; }

  private string CssClass => new CssBuilder("pf-c-menu__content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string CssStyle => new StyleBuilder()
    .AddStyle("--pf-c-menu__content--Height"   , MenuHeight   , !string.IsNullOrEmpty(MenuHeight))
    .AddStyle("--pf-c-menu__content--MaxHeight", MaxMenuHeight, !string.IsNullOrEmpty(MaxMenuHeight))
    .Build();

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);

    if (firstRender)
    {
      // Calc Height
      var clientHeight = await DomUtils.CalculateMenuContentHeightAsync(Parent);

      if (clientHeight.HasValue)
      {
        if (Parent is not null)
        {
          await Parent.GetMenuHeight(clientHeight.Value);
        }
        await GetHeight.InvokeAsync(clientHeight.Value.ToString(CultureInfo.InvariantCulture));
      }
    }
  }
}