@namespace Blatternfly.Components

<section @attributes="AdditionalAttributes" class="@CssClass" @ref="Element">
  @if (!string.IsNullOrEmpty(Label))
  {
    <TitleHeadingLevel class="pf-c-menu__group-title" id="@TitleId" HeadingLevel="@LabelHeadingLevel">
      @Label
    </TitleHeadingLevel>
  }
  @ChildContent
</section>