@namespace Blatternfly.Components

<button
  @attributes="AdditionalAttributes"
  class="@CssClass"
  aria-label="@AriaLabel"
  @onclick="OnClickButton"
  disabled="@DisabledValue"
  tabindex="-1"
  @ref="Element"
>
  <span class="pf-c-menu__item-action-icon">
    @if (IsFavorited.HasValue && Icon is null)
    {
      <StarIcon aria-hidden />
    }
    else
    {
      @Icon
    }
  </span>
</button>