@namespace Blatternfly.Components

<button
  @attributes="AdditionalAttributes"
  class="@CssClass"
  type="button"
  @onclick="@OnSort"
>
  <div class="pf-c-table__button-content">
    <TableText WrapModifier="@WrapModifier">@ChildContent</TableText>
    <span class="pf-c-table__sort-indicator">
      @if (IsSortedBy)
      {
        @if (SortDirection is SortByDirection.Asc)
        {
          <LongArrowAltUpIcon />
        }
        else
        {
          <LongArrowAltDownIcon />
        }
      }
      else
      {
        <ArrowsAltVIcon />
      }
    </span>
  </div>
</button>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Is the currently active column.
  [Parameter] public bool IsSortedBy { get; set; }

  /// Callback called when sortable column is clicked.
  [Parameter] public EventCallback<MouseEventArgs> OnSort { get; set;}

  /// Sort direction.
  [Parameter] public SortByDirection? SortDirection { get; set; }

  /// Determines which wrapping modifier to apply to the table text.
  [Parameter] public WrapModifier? WrapModifier { get; set; }

  private string CssClass => new CssBuilder("pf-c-table__button")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}