@namespace Blatternfly.Components

<button
  @attributes="AdditionalAttributes"
  class="@CssClass"
  type="button"
  @onclick="@OnSort"
>
  <div class="pf-c-table__button-content">
    <TableText WrapModifier="@WrapModifier">@ChildContent</TableText>
    <span class="pf-c-table__sort-indicator">
      @if (IsSortedBy)
      {
        @if (SortDirection is SortByDirection.Asc)
        {
          <LongArrowAltUpIcon />
        }
        else
        {
          <LongArrowAltDownIcon />
        }
      }
      else
      {
        <ArrowsAltVIcon />
      }
    </span>
  </div>
</button>