@page "/components/label-group"

<TextContent>
  <Title class="pf-u-mb-md">Label group</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>label group</strong> when you have multiple labels to display at once.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/label-group/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#overflow">Overflow</JumpLinksItem>
            <JumpLinksItem Href="#category">Category</JumpLinksItem>
            <JumpLinksItem Href="#category-removable">Category removable</JumpLinksItem>
            <JumpLinksItem Href="#vertical-category-overflow-removable">Vertical category overflow removable</JumpLinksItem>
            <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <LabelGroupBasic />
    </Snippet>

    <Snippet id="overflow" Title="Overflow">
      <LabelGroupOverflow />
    </Snippet>

    <Snippet id="category" Title="Category">
      <LabelGroupCategory />
    </Snippet>

    <Snippet id="category-removable" Title="Category removable">
      <LabelGroupCategoryRemovable />
    </Snippet>

    <Snippet id="vertical-category-overflow-removable" Title="Vertical category overflow removable">
      <LabelGroupVerticalCategoryOverflowRemovable />
    </Snippet>

    <Snippet id="compact" Title="Compact">
      <LabelGroupCompact />
    </Snippet>
  </FlexItem>
</Flex>