@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  /// Flag indicating the action list contains multiple icons and item padding should be removed.
  [Parameter] public bool IsIconList { get; set; }

  private string CssClass => new CssBuilder("pf-c-action-list")
    .AddClass("pf-m-icons", IsIconList)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}