@namespace Blatternfly.Components

<header @attributes="AdditionalAttributes" class="@CssClass">
  @if (HasTitle)
  {
    <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge3">@Title</Title>
  }
  @if (HasSubtitle)
  {
    <p class="pf-c-login__main-header-desc">@Subtitle</p>
  }
  @if (HeaderUtilities is not null)
  {
    <div class="pf-c-login__main-header-utilities">@HeaderUtilities</div>
  }
  @ChildContent
</header>