@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-login__container">
    @Header
    <main class="pf-c-login__main">@ChildContent</main>
    @Footer
  </div>
</div>