@namespace Blatternfly.Components

<li @attributes="AdditionalAttributes" class="@CssClass">
  <a class="pf-c-login__main-footer-links-item-link" href="@Href" target="@Target">
    @ChildContent
  </a>
</li>