@namespace Blatternfly.Components

<header @attributes="AdditionalAttributes" class="@CssClass">
  @if (HasTitle)
  {
  <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge3">@Title</Title>
  }
  @if (HasSubtitle)
  {
  <p class="pf-c-login__main-header-desc">@Subtitle</p>
  }
  @if (HeaderUtilities is not null)
  {
    <div class="pf-c-login__main-header-utilities">@HeaderUtilities</div>
  }
  @ChildContent
</header>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Title for the login main header.
  [Parameter] public string Title { get; set; }

  /// Subtitle that contains the text, URL, and URL text for the login main header.
  [Parameter] public string Subtitle { get; set; }

  /// Actions that render for the login main header.
  [Parameter] public RenderFragment HeaderUtilities { get; set; }

  private string CssClass => new CssBuilder("pf-c-login__main-header")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private bool HasTitle    { get => !string.IsNullOrEmpty(Title); }
  private bool HasSubtitle { get => !string.IsNullOrEmpty(Subtitle); }
}