@page "/layouts/stack"

<TextContent>
  <Title class="pf-u-mb-md">Stack</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Stack</strong> layout to position items vertically in a container, with one item filling the available vertical space.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/stack/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-gutters">With gutters</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic" IsLayoutSection>
      <StackBasic />
    </Snippet>

    <Snippet id="with-gutters" Title="With gutters" IsLayoutSection>
      <StackWithGutters />
    </Snippet>
  </FlexItem>
</Flex>