@page "/components/switch"

<TextContent>
  <Title class="pf-u-mb-md">Switch</Title>
  <Text class="pf-u-mb-md">
    A <strong>switch</strong> toggles the state of a setting (between on and off).
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/switch/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#reversed-layout">Reversed Layout</JumpLinksItem>
            <JumpLinksItem Href="#without-label">Without label</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <SwitchBasic />
    </Snippet>

    <Snippet id="reversed-layout" Title="Reversed Layout">
      <SwitchReversedLayout />
    </Snippet>

    <Snippet id="without-label" Title="Without label">
      <SwitchWithoutLabel />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <SwitchDisabled />
    </Snippet>
  </FlexItem>
</Flex>