<Switch id="disabled-switch-on" AriaLabel="Message when on" Value="true" IsDisabled>
  <Label>Message when on</Label>
  <LabelOff>Message when off</LabelOff>
</Switch>
<br />
<Switch
  id="disabled-switch-off"
  AriaLabel="Message when on"
  Value="false"
  IsDisabled
>
  <Label>Message when on</Label>
  <LabelOff>Message when off</LabelOff>
</Switch>
<br />
<Switch id="disabled-no-label-switch-on" AriaLabel="Message when on" Value="true" IsDisabled />
<br />
<Switch id="disabled-no-label-switch-off" AriaLabel="Message when on" Value="false" IsDisabled />
