<PageSection>
  <TextContent>
    <Title class="pf-u-mb-md">@Title</Title>
    <Text class="pf-u-mb-md">
      @Description
    </Text>
    <Text class="pf-u-mb-md">
      See the <a target="_blank" href="@Href">PatternFly design guidelines</a> for more details.
    </Text>
  </TextContent>
</PageSection>

<PageSection IsFilled="true">
  <Flex>
    <FlexItem Component="nav" class="ws-toc">
      <Title Size="TitleSizes.Large">Table of contents</Title>
      <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
        @TableOfContents
      </JumpLinks>
    </FlexItem>
    <FlexItem Grow="@(new FlexGrow { Default = true })">
      <Title id="examples" Size="TitleSizes.Large">Examples</Title>
      @Examples
    </FlexItem>
  </Flex>
</PageSection>

<PageSection class="showcase-footer">
</PageSection>

<PageSection IsFilled="false" class="showcase-footer-dark">
</PageSection>

@code {
  [Parameter] public string Title { get; set; }
  [Parameter] public string Name  { get; set; }
  [Parameter] public RenderFragment Description { get; set; }
  [Parameter] public RenderFragment TableOfContents { get; set; }
  [Parameter] public RenderFragment Examples { get; set; }

  private string Href { get => $"https://www.patternfly.org/v4/components/{Name}/design-guidelines"; }
}