@page "/components/dropdown"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Dropdown</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Dropdown>
    <Toggle>
      <DropdownToggle id="toggle-id">
        <ToggleIndicator>
          <CaretDownIcon />
        </ToggleIndicator>
        <ChildContent>Dropdown</ChildContent>
      </DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">Action</DropdownItem>
      <DropdownItem key="disabled link" href="www.google.com" IsDisabled="true">Disabled Link</DropdownItem>
      <DropdownItem key="disabled action" Component="button" IsDisabled="true">Disabled Action</DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">Separated Action</DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With groups</Title>
  <Dropdown IsGrouped="true">
    <Toggle>
      <DropdownToggle id="toggle-id-2">
        <ToggleIndicator>
          <CaretDownIcon />
        </ToggleIndicator>
        <ChildContent>Dropdown</ChildContent>
      </DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownGroup Label="Group 1" key="group_1">
        <DropdownItem key="group 1 link">Link</DropdownItem>
        <DropdownItem key="group 1 action" Component="button">
          Action
        </DropdownItem>
      </DropdownGroup>
      <DropdownGroup Label="Group 2" key="group_2">
        <DropdownItem key="group 2 link">Group 2 Link</DropdownItem>
        <DropdownItem key="group 2 action" Component="button">
          Group 2 Action
        </DropdownItem>
      </DropdownGroup>
      <DropdownGroup Label="Group 3" key="group_3">
        <DropdownItem key="group 3 link">Group 3 Link</DropdownItem>
        <DropdownItem key="group 3 action" Component="button">
          Group 3 Action
        </DropdownItem>
      </DropdownGroup>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With groups</Title>
  <Dropdown>
    <Toggle>
      <DropdownToggle IsDisabled="true">
        Dropdown
      </DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">
        Action
      </DropdownItem>
      <DropdownItem key="disabled link" IsDisabled="true">
        Disabled Link
      </DropdownItem>
      <DropdownItem key="disabled action" IsDisabled="true" Component="button">
        Disabled Action
      </DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">
        Separated Action
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Primary toggle</Title>
  <Dropdown>
    <Toggle>
      <DropdownToggle IsPrimary="true">Dropdown</DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">
        Action
      </DropdownItem>
      <DropdownItem key="disabled link" IsDisabled="true">
        Disabled Link
      </DropdownItem>
      <DropdownItem key="disabled action" IsDisabled="true" Component="button">
        Disabled Action
      </DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">
        Separated Action
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Alignments on different breakpoints</Title>
  <Dropdown Alignments="@Alignments">
    <Toggle>
      <DropdownToggle>Dropdown</DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">
        Action
      </DropdownItem>
      <DropdownItem key="disabled link" IsDisabled="true">
        Disabled Link
      </DropdownItem>
      <DropdownItem key="disabled action" IsDisabled="true" Component="button">
        Disabled Action
      </DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">
        Separated Action
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Direction up</Title>
  <Dropdown Direction="DropdownDirection.Up">
    <Toggle>
      <DropdownToggle>Dropdown</DropdownToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">
        Action
      </DropdownItem>
      <DropdownItem key="disabled link" IsDisabled="true">
        Disabled Link
      </DropdownItem>
      <DropdownItem key="disabled action" IsDisabled="true" Component="button">
        Disabled Action
      </DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">
        Separated Action
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With kebab</Title>
  <Dropdown>
    <Toggle>
      <KebabToggle id="toggle-id-6" IsPlain="true" />
    </Toggle>
    <DropdownItems>
      <DropdownItem key="link">Link</DropdownItem>
      <DropdownItem key="action" Component="button">
        Action
      </DropdownItem>
      <DropdownItem key="disabled link" IsDisabled="true">
        Disabled Link
      </DropdownItem>
      <DropdownItem key="disabled action" IsDisabled="true" Component="button">
        Disabled Action
      </DropdownItem>
      <DropdownSeparator key="separator" />
      <DropdownItem key="separated link">Separated Link</DropdownItem>
      <DropdownItem key="separated action" Component="button">
        Separated Action
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With badge</Title>
  <Dropdown>
    <Toggle>
      <BadgeToggle id="toggle-id-7" IsPlain="true">3</BadgeToggle>
    </Toggle>
    <DropdownItems>
      <DropdownItem key="edit" Component="button">
        <Icon>
          <AngleLeftIcon/>
        </Icon>
        <ChildContent>Edit</ChildContent>
      </DropdownItem>
      <DropdownItem key="action" Component="button">
        <Icon>
          <AngleLeftIcon/>
        </Icon>
        <ChildContent>Deployment</ChildContent>
      </DropdownItem>
      <DropdownItem key="apps" Component="button">
        <Icon>
          <AngleLeftIcon/>
        </Icon>
        <ChildContent>Applications</ChildContent>
      </DropdownItem>
    </DropdownItems>
  </Dropdown>
</section>

@code {
  public Alignment Alignments
  {
    get => new() 
    {
      Small       = Blatternfly.Alignments.Left,
      Medium      = Blatternfly.Alignments.Right,
      Large       = Blatternfly.Alignments.Left,
      ExtraLarge  = Blatternfly.Alignments.Right,
      ExtraLarge2 = Blatternfly.Alignments.Left
    };
  }
}