@page "/components/slider"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Slider</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Discrete</Title>
  <Text Component="TextVariants.h3">Slider value is: @DisplayValue</Text>
  <Slider Value="@Value1" CustomSteps="Steps" OnChange="@OnChange" />
</section>

@code {
  
  private decimal Value1 { get; set; } = 50.0M;
  private decimal Value2 { get; set; } = 50.0M;
  private decimal Value3 { get; set; } = 25.0M;
  private decimal Value4 { get; set; } = 50.0M;
  private decimal Value5 { get; set; } = 50.0M;  

  private SliderStepObject[] Steps = new SliderStepObject[]
  {
    new() { Value = 0.0M   , Label = "0" },
    new() { Value = 12.5M  , Label = "1", IsLabelHidden = true },
    new() { Value = 25.0M  , Label = "2" },
    new() { Value = 37.5M  , Label = "3", IsLabelHidden = true },
    new() { Value = 50.0M  , Label = "4" },
    new() { Value = 62.5M  , Label = "5", IsLabelHidden = true },
    new() { Value = 75.0M  , Label = "6" },
    new() { Value = 87.5M  , Label = "7", IsLabelHidden = true },
    new() { Value = 100.0M , Label = "8" }
  };
  
  private SliderStepObject Step { get => Steps.SingleOrDefault(step => step.Value == Value1); }
  private string DisplayValue { get => Step is not null ? Step.Label : "0"; } 
  
  private void OnChange(SliderChangedEventArgs args)
  {
    Value1 = args.Value;
  }
}