@page "/components/spinner"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Spinner</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Spinner IsVisible="true"/>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Size variations</Title>
  <Spinner IsVisible="true" Size="@SpinnerSize.Small"/>
  <Spinner IsVisible="true" Size="@SpinnerSize.Medium"/>
  <Spinner IsVisible="true" Size="@SpinnerSize.Large"/>
  <Spinner IsVisible="true" Size="@SpinnerSize.ExtraLarge"/>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Custom size</Title>
  <Spinner IsSVG="true" Diameter="80px" />
</section>