@page "/components/toggle-group"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Toggle group</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <ToggleGroup AriaLabel="Default with multiple selectable">
    <ToggleGroupItem Key="0" ButtonId="first" @bind-IsSelected="@_firstSelected">
      <Text>Option 1</Text>
    </ToggleGroupItem>
    <ToggleGroupItem Key="1" ButtonId="second" @bind-IsSelected="@_secondSelected">
      <Text>Option 2</Text>
    </ToggleGroupItem>
    <ToggleGroupItem Key="2" IsDisabled="true">
      <Text>Option 3</Text>
    </ToggleGroupItem>
  </ToggleGroup>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With icons</Title>
  <ToggleGroup aria-label="Icon variant toggle group">
    <ToggleGroupItem AriaLabel="copy icon button" ButtonId="third" @bind-IsSelected="_thirdSelected">
      <Icon><CopyIcon /></Icon>
    </ToggleGroupItem>
    <ToggleGroupItem AriaLabel="undo icon button" ButtonId="fourth" @bind-IsSelected="_fourthSelected">
      <Icon><UndoIcon /></Icon>
    </ToggleGroupItem>
    <ToggleGroupItem AriaLabel="share square icon button" ButtonId="fifth" @bind-IsSelected="_fifthSelected">
      <Icon><ShareSquareIcon /></Icon>
    </ToggleGroupItem>
  </ToggleGroup>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Text and icons</Title>
  <ToggleGroup aria-label="Icon and text variant toggle group">
    <ToggleGroupItem AriaLabel="copy icon button" ButtonId="third" @bind-IsSelected="_thirdSelected">
      <Icon><CopyIcon /></Icon>
      <Text>Copy</Text>
    </ToggleGroupItem>
    <ToggleGroupItem AriaLabel="undo icon button" ButtonId="fourth" @bind-IsSelected="_fourthSelected">
      <Icon><UndoIcon /></Icon>
      <Text>Undo</Text>
    </ToggleGroupItem>
    <ToggleGroupItem AriaLabel="share square icon button" ButtonId="fifth" @bind-IsSelected="_fifthSelected">
      <Icon><ShareSquareIcon /></Icon>
      <Text>Share</Text>
    </ToggleGroupItem>
  </ToggleGroup>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Compact variant</Title>
  <ToggleGroup IsCompact="true" AriaLabel="Compact variant toggle group">
    <ToggleGroupItem Key="0" ButtonId="first" @bind-IsSelected="@_firstSelected">
      <Text>Option 1</Text>
    </ToggleGroupItem>
    <ToggleGroupItem Key="1" ButtonId="second" @bind-IsSelected="@_secondSelected">
      <Text>Option 2</Text>
    </ToggleGroupItem>
    <ToggleGroupItem Key="2" IsDisabled="true">
      <Text>Option 3</Text>
    </ToggleGroupItem>
  </ToggleGroup>
</section>

@code {
  private bool _firstSelected = false;
  private bool _secondSelected = false;
  private bool _thirdSelected = false;
  private bool _fourthSelected = false;
  private bool _fifthSelected = false;
}