@page "/components/truncate"

<TextContent>
  <Title class="pf-u-mb-md">Truncate</Title>
  <Text class="pf-u-mb-md">
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/truncate">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#default">Default</JumpLinksItem>
            <JumpLinksItem Href="#middle">Middle</JumpLinksItem>
            <JumpLinksItem Href="#start">Start</JumpLinksItem>
            <JumpLinksItem Href="#default-with-tooltip-at-the-bottom">Default with tooltip at the bottom</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="#default" Title="Default">
      <TruncateDefault />
    </Snippet>

    <Snippet id="#middle" Title="Middle">
      <TruncateMiddle />
    </Snippet>

    <Snippet id="#start" Title="Start">
      <TruncateStart />
    </Snippet>

    <Snippet id="#default-with-tooltip-at-the-bottom" Title="Default with tooltip at the bottom">
      <TruncateDefaultWithTooltipAtTheBottom />
    </Snippet>
  </FlexItem>
</Flex>