@page "/components/calendar-month"

<TextContent>
  <Title class="pf-u-mb-md">Calendar month</Title>
  <Text class="pf-u-mb-md">
    A <strong>calendar month</strong> month component allows users to select and navigate between days, months and/or years.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/calendar-month/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#default">Default</JumpLinksItem>
            <JumpLinksItem Href="#selectable-date">Selectable date</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="default" class="example-section">
      <Title Size="TitleSizes.Large">Default</Title>
      <CalendarMonthDefault />
    </section>

    <section id="selectable-date" class="example-section">
      <Title Size="TitleSizes.Large">Selectable date</Title>
      <CalendarMonthSelectableDate />
    </section>
  </FlexItem>
</Flex>