@page "/components/text"

<ComponentShowcase Title="Text" Name="text">
  <Description>
    A <strong>text</strong> component can wrap any static HTML content you want to place on your page to provide correct formatting when using standard HTML tags.
  </Description>

  <TableOfContents>
    <JumpLinksItem Href="#examples">
      <ChildContent>Examples</ChildContent>
      <SubLists>
        <JumpLinksList>
          <JumpLinksItem Href="#headings">Headings</JumpLinksItem>
          <JumpLinksItem Href="#body">Body</JumpLinksItem>
          <JumpLinksItem Href="#unordered-list">Unordered list</JumpLinksItem>
          <JumpLinksItem Href="#ordered-list">Ordered list</JumpLinksItem>
          <JumpLinksItem Href="#data-list">Data list</JumpLinksItem>
        </JumpLinksList>
      </SubLists>
    </JumpLinksItem>
  </TableOfContents>

  <Examples>
    <ComponentExample id="headings" Title="Headings">
      <Title Size="TitleSizes.Large">Headings</Title>
      <TextHeadings />
    </ComponentExample>

    <ComponentExample id="body" Title="Body">
      <TextBody />
    </ComponentExample>

    <ComponentExample id="unordered-list" Title="Unordered list">
      <TextUnorderedList />
    </ComponentExample>

    <ComponentExample id="ordered-list" Title="Ordered list">
      <TextOrderedList />
    </ComponentExample>

    <ComponentExample id="data-list" Title="Data list">
      <TextDataList />
    </ComponentExample>
  </Examples>
</ComponentShowcase>
