@page "/components/text"

<TextContent>
  <Title class="pf-u-mb-md">Text</Title>
  <Text class="pf-u-mb-md">
    A <strong>text</strong> component can wrap any static HTML content you want to place on your page to provide correct formatting when using standard HTML tags.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/text/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#headings">Headings</JumpLinksItem>
            <JumpLinksItem Href="#body">Body</JumpLinksItem>
            <JumpLinksItem Href="#unordered-list">Unordered list</JumpLinksItem>
            <JumpLinksItem Href="#ordered-list">Ordered list</JumpLinksItem>
            <JumpLinksItem Href="#data-list">Data list</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="headings" Title="Headings">
      <Title Size="TitleSizes.Large">Headings</Title>
      <TextHeadings />
    </Snippet>

    <Snippet id="body" Title="Body">
      <TextBody />
    </Snippet>

    <Snippet id="unordered-list" Title="Unordered list">
      <TextUnorderedList />
    </Snippet>

    <Snippet id="ordered-list" Title="Ordered list">
      <TextOrderedList />
    </Snippet>

    <Snippet id="data-list" Title="Data list">
      <TextDataList />
    </Snippet>
  </FlexItem>
</Flex>