@page "/components/toggle-group"

<TextContent>
  <Title class="pf-u-mb-md">Toggle group</Title>
  <Text class="pf-u-mb-md">
    A <strong>toggle group</strong> is a group of controls that can be used to quickly switch between actions or states.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/toggle-group/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#default-with-multiple-selectable">Default with multiple selectable</JumpLinksItem>
            <JumpLinksItem Href="#with-icons">With icons</JumpLinksItem>
            <JumpLinksItem Href="#text-and-icons">Text and icons</JumpLinksItem>
            <JumpLinksItem Href="#compact-variant">Compact variant</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="default-with-multiple-selectable" class="example-section">
      <Title Size="TitleSizes.Large">Default with multiple selectable</Title>
      <ToggleGroupDefaultWithMultipleSelectable />
    </section>

    <section id="with-icons" class="example-section">
      <Title Size="TitleSizes.Large">With icons</Title>
      <ToggleGroupWithIcons />
    </section>

    <section id="text-and-icons" class="example-section">
      <Title Size="TitleSizes.Large">Text and icons</Title>
      <ToggleGroupWithTextAndIcons />
    </section>

    <section id="compact-variant" class="example-section">
      <Title Size="TitleSizes.Large">Compact variant</Title>
      <ToggleGroupCompactVariant />
    </section>
  </FlexItem>
</Flex>