@page "/icons"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Icons</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Gallery</Title>

  <NavLink target="_blank" href="/icons/gallery" Match="NavLinkMatch.All">Open</NavLink>
</section>