@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <Text Component="TextVariants.h1" class="pf-c-notification-drawer__header-title">
    @Title
  </Text>
  @if (!string.IsNullOrEmpty(CustomText) || Count.HasValue)
  {
    <span class="pf-c-notification-drawer__header-status">
      @if (!string.IsNullOrEmpty(CustomText))
      {
        @CustomText
      }
      else
      {
        @UnreadTextWithCount
      }
    </span>
  }
  @if (ChildContent is not null || OnClose.HasDelegate)
  {
    <div class="pf-c-notification-drawer__header-action">
      @ChildContent
      @if (OnClose.HasDelegate)
      {
        <div>
          <Button Variant="ButtonVariant.Plain" AriaLabel="@CloseButtonAriaLabel" OnClick="@OnClose">
            <TimesIcon aria-hidden="true" />
          </Button>
        </div>
      }
    </div>
  }
</div>