@namespace Blatternfly.Components

<li
  @ref="Element"
  @attributes="AdditionalAttributes"
  class="@CssClass"
  tabindex="@TabIndex"
  @onclick="OnClick"
  @onkeydown="OnKeyDown"
>
  @ChildContent
</li>
