@namespace Blatternfly.Components
@implements IAsyncDisposable
@inherits BaseComponent
@using System.Diagnostics.CodeAnalysis

<div 
  @attributes="AdditionalAttributes" 
  class="@InternalCssClass" 
  @onkeydown="OnKeyDown"
  @onkeydown:preventDefault="true"
  @ref="Element"
>
  @ChildContent
</div>

@code {
  private ElementReference Element { get; set; }  
  
  public async ValueTask DisposeAsync()
  {
    Console.WriteLine("FocusTrap::DisposeAsync");
    //await SourceElement.FocusAsync();
  }
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    
    if (firstRender)
    {
      await Element.FocusAsync();
    }
  }
  
  private async Task OnKeyDown(KeyboardEventArgs args)
  {
    Console.WriteLine("FocusTrap::OnKeydown");
  }
}