@namespace Blatternfly.Components
@inherits BaseComponent

@if (IsOpen.HasValue)
{
  <Button
    @attributes="AdditionalAttributes"
    class="@CssClass"
    Variant="ButtonVariant.Plain"
    AriaLabel="Details"
    OnClick="@HandleToggle"
    aria-expanded="@IsOpen"
  >
    <div class="pf-c-table__toggle-icon">
      <AngleDownIcon />
    </div>
  </Button>
}
@ChildContent

@code {
  [Parameter] public bool? IsOpen { get; set; }

  [Parameter] public EventCallback<MouseEventArgs> OnToggle { get; set; }

  private string CssClass => new CssBuilder()
    .AddClass("pf-m-expanded", IsOpen.GetValueOrDefault())
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private async Task HandleToggle(MouseEventArgs args)
  {
    IsOpen = !IsOpen;
    await OnToggle.InvokeAsync(args);
  }
}