@namespace Blatternfly.Components

@if (IsOpen.HasValue)
{
  <Button
    @attributes="AdditionalAttributes"
    class="@CssClass"
    Variant="ButtonVariant.Plain"
    AriaLabel="Details"
    OnClick="@HandleToggle"
    aria-expanded="@IsOpen"
  >
    <div class="pf-c-table__toggle-icon">
      <AngleDownIcon />
    </div>
  </Button>
}
@ChildContent