@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="pf-c-notification-drawer__list-item-description @InternalCssClass">
  @ChildContent
</div>
@if (Timestamp is not null)
{
  <div class="pf-c-notification-drawer__list-item-timestamp">@Timestamp</div>
}

@code {
  ///  List item timestamp.
  [Parameter] public RenderFragment Timestamp { get; set; }
}