@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  private CssBuilder CssClass => new CssBuilder("pf-c-notification-drawer__body")
    .AddClassFromAttributes(AdditionalAttributes);  
}