@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>
@if (Timestamp is not null)
{
  <div class="pf-c-notification-drawer__list-item-timestamp">@Timestamp</div>
}

@code {
  ///  List item timestamp.
  [Parameter] public RenderFragment Timestamp { get; set; }
  
  private CssBuilder CssClass => new CssBuilder("pf-c-notification-drawer__list-item-description")
    .AddClassFromAttributes(AdditionalAttributes);  
}