@namespace Blatternfly.Components
@inherits BaseComponent

<li @attributes="AdditionalAttributes" class="@CssClass">
  @if (Icon is not null)
  {
    <span class="pf-c-list__item-icon">@Icon</span>
  }
  @ChildContent
</li>

@code {
  [Parameter] public RenderFragment Icon { get; set; }

  private string CssClass => new CssBuilder()
    .AddClass("pf-c-list__item", Icon is not null)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}