@namespace Blatternfly.Components
@inherits BaseComponent

<li @attributes="AdditionalAttributes" class="@CssClass">
  @if (Icon != null)
  {
    <span class="pf-c-list__item-icon">@Icon</span>
  }
  @ChildContent
</li>

@code {
  [Parameter] public RenderFragment Icon { get; set; }
  
  private string CssClass { get => Icon is not null ? "pf-c-list__item" : null; }
}