@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass">
  @ChildContent
</div>

@code {
  [Parameter] public BannerVariant Variant { get; set; } = BannerVariant.Default;

  [Parameter] public bool IsSticky { get; set; }
  
  private CssBuilder CssClass => new CssBuilder("pf-c-banner")
    .AddClass("pf-m-sticky"  , when: IsSticky)
    .AddClass("pf-m-danger"  , when: Variant == BannerVariant.Danger)
    .AddClass("pf-m-info"    , when: Variant == BannerVariant.Info)
    .AddClass("pf-m-success" , when: Variant == BannerVariant.Success)
    .AddClass("pf-m-warning" , when: Variant == BannerVariant.Warning);
}