@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  /// Variant styles for the banner.
  [Parameter] public BannerVariant Variant { get; set; } = BannerVariant.Default;

  /// If set to true, the banner sticks to the top of its container.
  [Parameter] public bool IsSticky { get; set; }

  private string CssClass => new CssBuilder("pf-c-banner")
    .AddClass("pf-m-sticky"  ,  IsSticky)
    .AddClass("pf-m-danger"  ,  Variant is BannerVariant.Danger)
    .AddClass("pf-m-info"    ,  Variant is BannerVariant.Info)
    .AddClass("pf-m-success" ,  Variant is BannerVariant.Success)
    .AddClass("pf-m-warning" ,  Variant is BannerVariant.Warning)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}