@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass">
  @ChildContent
</div>

@code {
  [Parameter] public BannerVariant Variant { get; set; } = BannerVariant.Default;

  [Parameter] public bool IsSticky { get; set; }

  private CssBuilder CssClass => new CssBuilder("pf-c-banner")
    .AddClass("pf-m-sticky"  ,  IsSticky)
    .AddClass("pf-m-danger"  ,  Variant == BannerVariant.Danger)
    .AddClass("pf-m-info"    ,  Variant == BannerVariant.Info)
    .AddClass("pf-m-success" ,  Variant == BannerVariant.Success)
    .AddClass("pf-m-warning" ,  Variant == BannerVariant.Warning);
}