@namespace Blatternfly.Components

@if (!OtherControls)
{
  <div class="pf-c-data-list__item-control">
    @Check
  </div>
}
else
{
  @Check
}

@code {
  private RenderFragment Check =>
    @<div class="pf-c-data-list__check">
      <input
        @attributes="AdditionalAttributes"
        type="checkbox"
        @onchange="ChangeHandler"
        aria-invalid="@AriaInvalid"
        disabled="@IsDisabled"
        checked="@IsChecked"
      />
    </div>;
}