@page "/components/background-image"

<TextContent>
  <Title class="pf-u-mb-md">Background image</Title>
  <Text class="pf-u-mb-md">
    A <strong>background image</strong> allows you to place an image in the background of your page or area of a page.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/background-image/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>


<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="#basic" Title="Basic" Href="components/background-image/basic"></Snippet>
  </FlexItem>
</Flex>