@page "/components/helper-text"

<TextContent>
  <Title class="pf-u-mb-md">Helper text</Title>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/helper-text/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#static">Static</JumpLinksItem>
            <JumpLinksItem Href="#static-with-default-icons">Static with default icons</JumpLinksItem>
            <JumpLinksItem Href="#static-with-custom-icons">Static with custom icons</JumpLinksItem>
            <JumpLinksItem Href="#multiple-static">Multiple static</JumpLinksItem>
            <JumpLinksItem Href="#dynamic">Dynamic</JumpLinksItem>
            <JumpLinksItem Href="#dynamic-list">Dynamic list</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="static" Title="Static">
      <HelperTextStatic />
    </Snippet>

    <Snippet id="static-with-default-icons" Title="Static with default icons">
      <HelperTextStaticWithDefaultIcons />
    </Snippet>

    <Snippet id="static-with-custom-icons" Title="Static with custom icons">
      <HelperTextStaticWithCustomIcons />
    </Snippet>

    <Snippet id="multiple-static" Title="Multiple static">
      <HelperTextMultipleStatic />
    </Snippet>

    <Snippet id="dynamic" Title="Dynamic">
      <HelperTextDynamic />
    </Snippet>

    <Snippet id="dynamic-list" Title="Dynamic list">
      <HelperTextDynamicList />
    </Snippet>
  </FlexItem>
</Flex>