@page "/demos/primary-detail"

<TextContent>
  <Title class="pf-u-mb-md">Card view</Title>
  <Text class="pf-u-mb-md">
    A <strong>primary-detail layout</strong> is an interface that shows a list of items and the corresponding details of the selected item.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/demos/primary-detail/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Primary-detail full page</Title>

  <NavLink href="demos/primary-detail/basic" Match="NavLinkMatch.All">Open</NavLink>
</section>