@page "/components/overflow-menu"

<TextContent>
  <Title class="pf-u-mb-md">Overflow menu</Title>
  <Text class="pf-u-mb-md">
    An <strong>overflow menu</strong> groups a set of actions in a responsive horizontal list.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/overflow-menu/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#simple-responsive">Simple (responsive)</JumpLinksItem>
            <JumpLinksItem Href="#group-types">Group types</JumpLinksItem>
            <JumpLinksItem Href="#multiple-groups">Multiple groups</JumpLinksItem>
            <JumpLinksItem Href="#persistent">Persistent</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="simple-responsive" class="example-section">
      <Title Size="TitleSizes.Large">Simple (responsive)</Title>
      <OverflowMenuSimple />
    </section>

    <section id="group-types" class="example-section">
      <Title Size="TitleSizes.Large">Group types</Title>
      <OverflowMenuGroupTypes />
    </section>

    <section id="multiple-groups" class="example-section">
      <Title Size="TitleSizes.Large">Multiple groups</Title>
      <OverflowMenuMultipleGroups />
    </section>

    <section id="persistent" class="example-section">
      <Title Size="TitleSizes.Large">Persistent</Title>
      <OverflowMenuPersistent />
    </section>
  </FlexItem>
</Flex>