@page "/components/breadcrumb"

<TextContent>
  <Title class="pf-u-mb-md">Breadcrumb</Title>
  <Text class="pf-u-mb-md">
    A <strong>breadcrumb</strong> provides page context to help users navigate more efficiently and understand where they are in the application hierarchy.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/breadcrumb/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#simple-breadcrumb">Simple breadcrumb</JumpLinksItem>
            <JumpLinksItem Href="#breadcrumb-without-home-link">Breadcrumb without home link</JumpLinksItem>
            <JumpLinksItem Href="#vreadcrumb-with-heading">Breadcrumb with heading</JumpLinksItem>
            <JumpLinksItem Href="#with-dropdown">With dropdown</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="simple-breadcrumb" Title="Simple breadcrumb">
      <BreadcrumbSimple />
    </Snippet>

    <Snippet id="breadcrumb-without-home-link" Title="Breadcrumb without home link">
      <BreadcrumbWithoutHomeLink />
    </Snippet>

    <Snippet id="breadcrumb-with-heading" Title="Breadcrumb with heading">
      <BreadcrumbWithHeading />
    </Snippet>

    <Snippet id="with-dropdown" Title="With dropdown">
      <BreadcrumbWithDropdown />
    </Snippet>
  </FlexItem>
</Flex>