@page "/components/breadcrumb"

<TextContent>
  <Title class="pf-u-mb-md">Breadcrumb</Title>
  <Text class="pf-u-mb-md">
    A <strong>breadcrumb</strong> provides page context to help users navigate more efficiently and understand where they are in the application hierarchy.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/breadcrumb/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#simple-breadcrumb">Simple breadcrumb</JumpLinksItem>
            <JumpLinksItem Href="#breadcrumb-without-home-link">Breadcrumb without home link</JumpLinksItem>
            <JumpLinksItem Href="#vreadcrumb-with-heading">Breadcrumb with heading</JumpLinksItem>
            <JumpLinksItem Href="#with-dropdown">With dropdown</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="simple-breadcrumb" class="example-section">
      <Title Size="TitleSizes.Large">Simple breadcrumb</Title>
      <BreadcrumbSimple />
    </section>

    <section id="breadcrumb-without-home-link" class="example-section">
      <Title Size="TitleSizes.Large">Breadcrumb without home link</Title>
      <BreadcrumbWithoutHomeLink />
    </section>

    <section id="breadcrumb-with-heading" class="example-section">
      <Title Size="TitleSizes.Large">Breadcrumb with heading</Title>
      <BreadcrumbWithHeading />
    </section>

    <section id="with-dropdown" class="example-section">
      <Title Size="TitleSizes.Large">With dropdown</Title>
      <BreadcrumbWithDropdown />
    </section>
  </FlexItem>
</Flex>