@page "/components/accordion"

<TextContent>
  <Title class="pf-u-mb-md">Accordion</Title>
  <Text class="pf-u-mb-md">
    An <strong>accordion</strong> is an interactive container that expands and collapses to hide or reveal the nested content.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/accordion/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#definition-list">Definition list</JumpLinksItem>
            <JumpLinksItem Href="#single-expand-behavior">Single expand behavior</JumpLinksItem>
            <JumpLinksItem Href="#fixed-with-multiple-expand-behavior">Fixed with multiple expand behavior</JumpLinksItem>
            <JumpLinksItem Href="#bordered">Bordered</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="#definition-list" class="example-section">
      <Title Size="TitleSizes.Large">Definition list</Title>
      <AccordionAsDefinitionList />
    </section>

    <section id="#single-expand-behavior" class="example-section">
      <Title Size="TitleSizes.Large">Single expand behavior</Title>
      <AccordionSingleExpandBehavior />
    </section>

    <section id="fixed-with-multiple-expand-behavior" class="example-section">
      <Title Size="TitleSizes.Large">Fixed with multiple expand behavior</Title>
      <AccordionFixedWithMultipleExpandBehavior />
    </section>

    <section id="bordered" class="example-section">
      <Title Size="TitleSizes.Large">Bordered</Title>
      <AccordionBordered />
    </section>
  </FlexItem>
</Flex>
