@namespace Blatternfly.Components
@inherits BaseComponent

@if (IsBelowBreakpoint || HasAdditionalOptions)
{
  <div @attributes="AdditionalAttributes" class="@CssClass">@ChildContent</div>
}

@code {
  [CascadingParameter(Name = "IsBelowBreakpoint")] public bool IsBelowBreakpoint { get; set; }
  
  /// Triggers the overflow dropdown to persist at all viewport sizes.
  [Parameter] public bool HasAdditionalOptions { get; set; }
  
  private string CssClass => new CssBuilder("pf-c-overflow-menu__control")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}