@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <CascadingValue Value="@IsBelowBreakpoint" Name="IsBelowBreakpoint" IsFixed="true">
    @ChildContent
  </CascadingValue>
</div>