@namespace Blatternfly.Components

@if (IsPersistent || !IsBelowBreakpoint)
{
  <div @attributes="AdditionalAttributes" class="@CssClass">@ChildContent</div>
}

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  [CascadingParameter(Name = "IsBelowBreakpoint")] public bool IsBelowBreakpoint { get; set; }

  /// Modifies the overflow menu group visibility.
  [Parameter] public bool IsPersistent { get; set; }

  /// Indicates a button or icon group.
  [Parameter] public OverflowMenuGroupType? GroupType { get; set;  }

  private string CssClass => new CssBuilder("pf-c-overflow-menu__group")
    .AddClass("pf-m-button-group", GroupType is OverflowMenuGroupType.Button)
    .AddClass("pf-m-icon-button-group", GroupType is OverflowMenuGroupType.Icon)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}