@namespace Blatternfly.Components
@inherits BaseComponent

@if (!IsBelowBreakpoint || IsPersistent)
{
  <div class="@CssClass">@ChildContent</div>
}

@code {
  [CascadingParameter(Name = "IsBelowBreakpoint")] public bool IsBelowBreakpoint { get; set; }

  /// Modifies the overflow menu content visibility.
  [Parameter] public bool IsPersistent { get; set; }

  private string CssClass => new CssBuilder("pf-c-overflow-menu__content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}