<div role="listbox" aria-label="Tiles with subtext">
  <Tile Title="Default">Subtext goes here</Tile>
  <Tile Title="Selected" IsSelected>
    Subtext goes here
  </Tile>
  <Tile Title="Disabled" IsDisabled>
    Subtext goes here
  </Tile>
</div>