<div role="listbox" aria-label="Stacked tiles">
  <Tile Title="Default" IsStacked>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Selected" IsStacked IsSelected>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
  <Tile Title="Disabled" IsStacked IsDisabled>
    <Icon><BellIcon /></Icon>
    <ChildContent>Subtext goes here</ChildContent>
  </Tile>
</div>