@page "/components/checkbox"

<TextContent>
  <Title class="pf-u-mb-md">Checkbox</Title>
  <Text class="pf-u-mb-md">
    A <strong>checkbox</strong> is used to select a single item or multiple items, typically to choose elements to perform an action or to reflect a binary setting.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/checkbox/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#controlled-checkbox">Controlled checkbox</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="controlled-checkbox" Title="Controlled checkbox">
      <CheckboxControlled />
    </Snippet>
  </FlexItem>
</Flex>