<Checkbox id="check-11" Label="Checkbox with description and body" AriaLabel="Checkbox with body example">
  <Description>
    Single-tenant cloud service hosted and managed by Red Hat that offers high-availability enterprise-grade clusters in a virtual private cloud on AWS or GCP.
  </Description>
  <Body>
    This is where custom content goes.
  </Body>
</Checkbox>