@page "/components/modal"

<TextContent>
  <Title class="pf-u-mb-md">Modal</Title>
  <Text class="pf-u-mb-md">
    A <strong>modal</strong> displays important information to a user without requiring them to navigate to a new page.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/modal/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-description">With description</JumpLinksItem>
            <JumpLinksItem Href="#top-aligned">Top aligned</JumpLinksItem>
            <JumpLinksItem Href="#medium">Medium</JumpLinksItem>
            <JumpLinksItem Href="#large">Large</JumpLinksItem>
            <JumpLinksItem Href="#width">Width</JumpLinksItem>
            <JumpLinksItem Href="#custom-header-and-footer">Custom header and footer</JumpLinksItem>
            <JumpLinksItem Href="#no-header">No header</JumpLinksItem>
            <JumpLinksItem Href="#custom-Icon">Custom Icon</JumpLinksItem>
            <JumpLinksItem Href="#warning-Alert">Warning Alert</JumpLinksItem>
            <JumpLinksItem Href="#with-wizard">With wizard</JumpLinksItem>
            <JumpLinksItem Href="#with-form">With Form</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <ModalBasic />
    </section>

    <section id="with-description" class="example-section">
      <Title Size="TitleSizes.Large">With description</Title>
      <ModalWithDescription />
    </section>

    <section id="top-aligned" class="example-section">
      <Title Size="TitleSizes.Large">Top aligned</Title>
      <ModalTopAligned />
    </section>

    <section id="small" class="example-section">
      <Title Size="TitleSizes.Large">Small</Title>
      <ModalSmall />
    </section>

    <section id="medium" class="example-section">
      <Title Size="TitleSizes.Large">Medium</Title>
      <ModalMedium />
    </section>

    <section id="large" class="example-section">
      <Title Size="TitleSizes.Large">Large</Title>
      <ModalLarge />
    </section>

    <section id="width" class="example-section">
      <Title Size="TitleSizes.Large">Width</Title>
      <ModalWidth />
    </section>

    <section id="custom-header-and-footer" class="example-section">
      <Title Size="TitleSizes.Large">Custom header and footer</Title>
      <ModalCustomHeaderAndFooter />
    </section>

    <section id="no-header" class="example-section">
      <Title Size="TitleSizes.Large">No header</Title>
      <ModalNoHeader />
    </section>

    <section id="custom-Icon" class="example-section">
      <Title Size="TitleSizes.Large">Custom Icon</Title>
      <ModalCustomIcon />
    </section>

    <section id="warning-Alert" class="example-section">
      <Title Size="TitleSizes.Large">Warning Alert</Title>
      <ModalWarningAlert />
    </section>

    <section class="example-section">
      <Title Size="TitleSizes.Large">With wizard</Title>
      <ModalWithWizard />
    </section>

    <section class="example-section">
      <Title Size="TitleSizes.Large">With form</Title>
      <ModalWithForm />
    </section>
  </FlexItem>
</Flex>