@page "/components/number-input"

<TextContent>
  <Title class="pf-u-mb-md">Number input</Title>
  <Text class="pf-u-mb-md">
    A <strong>number input</strong> provides a quick and effective way for users to enter and modify a numeric value.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/number-input/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-unit">With unit</JumpLinksItem>
            <JumpLinksItem Href="#with-unit-and-thresholds">With unit and thresholds</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <NumberInputBasic />
    </section>

    <section id="with-unit" class="example-section">
      <Title Size="TitleSizes.Large">With unit</Title>
      <NumberInputWithUnit />
    </section>

    <section id="with-unit-and-thresholds" class="example-section">
      <Title Size="TitleSizes.Large">With unit and thresholds</Title>
      <NumberInputWithUnitAndThresholds />
    </section>
  </FlexItem>
</Flex>