@page "/components/expandable-section"

<TextContent>
  <Title class="pf-u-mb-md">Expandable section</Title>
  <Text class="pf-u-mb-md">
    An <strong>expandable section</strong> component is used to support progressive disclosure in a form or page by hiding additional content when you don’t want it to be shown by default.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/expandable-section/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#uncontrolled">Uncontrolled</JumpLinksItem>
            <JumpLinksItem Href="#uncontrolled-with-dynamic-toggle-text">Uncontrolled with dynamic toggle text</JumpLinksItem>
            <JumpLinksItem Href="#detached">Detached</JumpLinksItem>
            <JumpLinksItem Href="#disclosure-variation">Disclosure variation</JumpLinksItem>
            <JumpLinksItem Href="#indented">Indented</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <ExpandableSectionBasic />
    </section>

    <section id="uncontrolled" class="example-section">
      <Title Size="TitleSizes.Large">Uncontrolled</Title>
      <ExpandableSectionUncontrolled />
    </section>

    <section id="uncontrolled-with-dynamic-toggle-text" class="example-section">
      <Title Size="TitleSizes.Large">Uncontrolled with dynamic toggle text</Title>
      <ExpandableSectionUncontrolledWithDynamicToggleText />
    </section>

    <section id="detached" class="example-section">
      <Title Size="TitleSizes.Large">Detached</Title>
      <ExpandableSectionDetached />
    </section>

    <section id="disclosure-variation" class="example-section">
      <Title Size="TitleSizes.Large">Disclosure variation</Title>
      <ExpandableSectionDisclosureVariation />
    </section>

    <section id="indented" class="example-section">
      <Title Size="TitleSizes.Large">Indented</Title>
      <ExpandableSectionIndented />
    </section>
  </FlexItem>
</Flex>

