@namespace Blatternfly.Components

<div
  suppressContentEditableWarning="true"
  contentEditable="@IsContentEditable"
  @attributes="AdditionalAttributes"
  class="@CssClass"
  @oninput="@OnChange"
>
  @if (IsCode)
  {
    <pre>@ChildContent</pre>
  }
  else
  {
    @ChildContent
  }
</div>