@namespace Blatternfly.Components

<div
  suppressContentEditableWarning="true"
  contentEditable="@IsContentEditable"
  @attributes="AdditionalAttributes"
  class="@CssClass"
  @oninput="@OnChange"
>
  @if (IsCode)
  {
    <pre>@ChildContent</pre>
  }
  else
  {
    @ChildContent
  }
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  [Parameter] public EventCallback<ChangeEventArgs> OnChange { get; set; }
  [Parameter] public bool IsReadOnly { get; set; }
  [Parameter] public bool IsCode { get; set; }

  private string CssClass => new CssBuilder("pf-c-clipboard-copy__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string IsContentEditable { get => !IsReadOnly ? "true" : "false"; }
}