@page "/components/alert"

<TextContent>
  <Title class="pf-u-mb-md">Alert</Title>
  <Text class="pf-u-mb-md">
    An <b>alert</b> is a notification that provides brief information to the user without blocking their workflow.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/alert/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#types">Types</JumpLinksItem>
            <JumpLinksItem Href="#variations">Variations</JumpLinksItem>
            <JumpLinksItem Href="#inline-types">Inline Types</JumpLinksItem>
            <JumpLinksItem Href="#inline-variations">Inline variations</JumpLinksItem>
            <JumpLinksItem Href="#inline-plain-types">Inline plain types</JumpLinksItem>
            <JumpLinksItem Href="#inline-plain-variations">Inline plain variations</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#static-live-region-alert">Static live region alert</JumpLinksItem>
            <JumpLinksItem Href="#truncate">Truncate</JumpLinksItem>
            <JumpLinksItem Href="#custom-icons">Custom icons</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="types" class="example-section">
      <Title Size="TitleSizes.Large">Types</Title>
      <AlertTypes />
    </section>

    <section id="variations" class="example-section">
      <Title Size="TitleSizes.Large">Variations</Title>
      <AlertVariations />
    </section>

    <section id="inline-types" class="example-section">
      <Title Size="TitleSizes.Large">Inline Types</Title>
      <AlertInlineTypes />
    </section>

    <section id="inline-variations" class="example-section">
      <Title Size="TitleSizes.Large">Inline variations</Title>
      <AlertInlineVariations />
    </section>

    <section id="inline-plain-types" class="example-section">
      <Title Size="TitleSizes.Large">Inline plain types</Title>
      <AlertInlinePlainTypes />
    </section>

    <section id="inline-plain-variations" class="example-section">
      <Title Size="TitleSizes.Large">Inline plain variations</Title>
      <AlertInlinePlainVariations />
    </section>

    <section id="expandable" class="example-section">
      <Title Size="TitleSizes.Large">Expandable</Title>
      <AlertExpandable />
    </section>

    <section id="static-live-region-alert" class="example-section">
      <Title Size="TitleSizes.Large">Static live region alert</Title>
      <AlertStaticLiveRegionAlert />
    </section>

    <section id="truncate" class="example-section">
      <Title Size="TitleSizes.Large">Truncate</Title>
      <AlertTruncate />
    </section>

    <section id="custom-icons" class="example-section">
      <Title Size="TitleSizes.Large">Custom icons</Title>
      <AlertCustomIcons />
    </section>
  </FlexItem>
</Flex>