<Alert
  IsExpandable
  Variant="AlertVariant.Success"
  Title="Success alert title"
>
  <ActionClose>
    <AlertActionCloseButton />
  </ActionClose>
  <ActionLinks>
    <AlertActionLink>View details</AlertActionLink>
    <AlertActionLink>Ignore</AlertActionLink>
  </ActionLinks>
  <ChildContent>
    <p>Success alert description. This should tell the user more information about the alert.</p>
  </ChildContent>
</Alert>
<br/>
<Alert
  IsExpandable
  IsInline
  Variant="AlertVariant.Success"
  Title="Success alert title"
>
  <ActionClose>
    <AlertActionCloseButton />
  </ActionClose>
  <ActionLinks>
    <AlertActionLink>View details</AlertActionLink>
    <AlertActionLink>Ignore</AlertActionLink>
  </ActionLinks>
  <ChildContent>
    <p>Success alert description. This should tell the user more information about the alert.</p>
  </ChildContent>
</Alert>
