@page "/components/alert"

<TextContent>
  <Title class="pf-u-mb-md">Alert</Title>
  <Text class="pf-u-mb-md">
    An <b>alert</b> is a notification that provides brief information to the user without blocking their workflow.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/alert/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#types">Types</JumpLinksItem>
            <JumpLinksItem Href="#variations">Variations</JumpLinksItem>
            <JumpLinksItem Href="#inline-types">Inline Types</JumpLinksItem>
            <JumpLinksItem Href="#inline-variations">Inline variations</JumpLinksItem>
            <JumpLinksItem Href="#inline-plain-types">Inline plain types</JumpLinksItem>
            <JumpLinksItem Href="#inline-plain-variations">Inline plain variations</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#static-live-region-alert">Static live region alert</JumpLinksItem>
            <JumpLinksItem Href="#truncate">Truncate</JumpLinksItem>
            <JumpLinksItem Href="#custom-icons">Custom icons</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="types" Title="Types">
      <AlertTypes />
    </Snippet>

    <Snippet id="variations" Title="Variations">
      <AlertVariations />
    </Snippet>

    <Snippet id="inline-types" Title="Inline Types">
      <AlertInlineTypes />
    </Snippet>

    <Snippet id="inline-variations" Title="Inline variations">
      <AlertInlineVariations />
    </Snippet>

    <Snippet id="inline-plain-types" Title="Inline plain types">
      <AlertInlinePlainTypes />
    </Snippet>

    <Snippet id="inline-plain-variations" Title="Inline plain variations">
      <AlertInlinePlainVariations />
    </Snippet>

    <Snippet id="expandable" Title="Expandable">
      <AlertExpandable />
    </Snippet>

    <Snippet id="static-live-region-alert" Title="Static live region alert">
      <AlertStaticLiveRegionAlert />
    </Snippet>

    <Snippet id="truncate" Title="Truncate">
      <AlertTruncate />
    </Snippet>

    <Snippet id="custom-icons" Title="Custom icons">
      <AlertCustomIcons />
    </Snippet>
  </FlexItem>
</Flex>