@page "/components/text-input"

<TextContent>
  <Title class="pf-u-mb-md">Text input</Title>
  <Text class="pf-u-mb-md">
    A <strong>text</strong> input is used to gather free-form text from a user.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/text-input/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#read-only">Read only</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#icon-variants">Icon variants</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <TextInputBasic />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <TextInputDisabled />
    </Snippet>

    <Snippet id="read-only" Title="Read only">
      <TextInputReadOnly />
    </Snippet>

    <Snippet id="invalid" Title="Invalid">
     <TextInputInvalid />
    </Snippet>

    <Snippet id="icon-variants" Title="Icon variants">
      <TextInputWithIconVariants />
    </Snippet>
  </FlexItem>
</Flex>