@page "/components/badge"

<TextContent>
  <Title class="pf-u-mb-md">Badge</Title>
  <Text class="pf-u-mb-md">
    A <strong>badge</strong> is used to annotate other information like a label or an object name.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/badge/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>
<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#read">Read</JumpLinksItem>
            <JumpLinksItem Href="#unread">Unread</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="read" Title="Read">
      <BadgeRead />
    </Snippet>

    <Snippet id="unread" Title="Unread">
      <BadgeUnread />
    </Snippet>
  </FlexItem>
</Flex>