<Toolbar id="Toolbar">
  <ToolbarContent>
    <ToolbarItem>
      <InputGroup>
        <TextInput name="textInput1" id="textInput1" Type="TextInputTypes.Search" AriaLabel="search input example" />
        <Button Variant="ButtonVariant.Control" AriaLabel="search button for search input">
          <Icon>
            <SearchIcon />
          </Icon>
        </Button>
      </InputGroup>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem Variant="ToolbarItemVariant.Separator" />
    <ToolbarItem>
      <Button Variant="ButtonVariant.Primary">Action</Button>
    </ToolbarItem>
  </ToolbarContent>
</Toolbar>
