<Toolbar
  id="toolbar-spacers-2"
  Inset="@InsetMods"
>
  <ToolbarContent>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem Variant="ToolbarItemVariant.Separator"></ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Primary">Action</Button>
    </ToolbarItem>
    <ToolbarItem Variant="ToolbarItemVariant.Separator"></ToolbarItem>
    <ToolbarGroup>
      <ToolbarItem>
        <Button Variant="ButtonVariant.Secondary">Action</Button>
      </ToolbarItem>
      <ToolbarItem>
        <Button Variant="ButtonVariant.Secondary">Action</Button>
      </ToolbarItem>
    </ToolbarGroup>
  </ToolbarContent>
</Toolbar>

@code {
  public InsetModifiers InsetMods { get; set; } = new()
  {
    Default     = Inset.None,
    Medium      = Inset.Small,
    ExtraLarge  = Inset.ExtraLarge2,
    ExtraLarge2 = Inset.Large
  };
}