@namespace Blatternfly.Components
@inherits BaseComponent

<section
  @attributes="AdditionalAttributes"
  id="@Id"
  class="pf-c-data-list__expandable-content"
  hidden="@IsHidden"
  aria-label="@AriaLabel"
>
  <div class="@CssClass">
    @ChildContent
  </div>
</section>

@code {
  /// Identify the DataListContent item.
  [Parameter] public string Id { get; set; }
  
  /// Id for the row.
  [Parameter] public string Rowid { get; set; }
  
  /// Flag to show if the expanded content of the DataList item is visible.
  [Parameter] public bool IsHidden { get; set;  }
  
  /// Flag to remove padding from the expandable content.
  [Parameter] public bool HasNoPadding { get; set; }
  
  /// Adds accessible text to the DataList toggle.
  [Parameter] public string AriaLabel { get; set; }  
  
  private CssBuilder CssClass => new CssBuilder("pf-c-data-list__expandable-content-body")
    .AddClass("pf-m-no-padding", HasNoPadding);
}