@namespace Blatternfly.Components

<div class="@CssClass" style="@CssStyle" @attributes="@AdditionalAttributes">
  @if (!IsTickHidden) { <div class="pf-c-slider__step-tick" /> }
  @if (!IsLabelHidden && !string.IsNullOrEmpty(Label)) { <div class="pf-c-slider__step-label">@Label</div> }
</div>