@namespace Blatternfly.Components
@inherits BaseComponent

<a target="@Target" href="@Href" @attributes="AdditionalAttributes">@ChildContent</a>

@code {
  /// The URL of the Footer Link Item
  [Parameter] public string Href { get; set; } = "#";

  /// Specifies where to open the linked document
  [Parameter] public string Target { get; set; } = "_blank";
}