@namespace Blatternfly.Components
@inherits BaseComponent

<li class="pf-c-login__main-footer-links-item" @attributes="AdditionalAttributes">
  <a class="pf-c-login__main-footer-links-item-link" href="@Href" target="@Target">@ChildContent</a>
</li>

 @code {
  /// HREF for Footer Link Item.
  [Parameter] public string Href { get; set; }

  /// Target for Footer Link Item.
  [Parameter] public string Target { get; set; }
 }