@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
  @if (SocialMediaLoginContent is not null)
  {
  <ul class="pf-c-login__main-footer-links">@SocialMediaLoginContent</ul>
  }
  @if (SignUpForAccountMessage is not null || ForgotCredentials is not null)
  {
  <div class="pf-c-login__main-footer-band">
    @SignUpForAccountMessage
    @ForgotCredentials
  </div>
  }
</div>

@code {
  /// Content rendered inside the Login Main Footer as Social Media Links.
  [Parameter] public RenderFragment SocialMediaLoginContent { get; set; }

  /// Content rendered inside of Login Main Footer Band to display a sign up for account message
  [Parameter] public RenderFragment SignUpForAccountMessage { get; set; }

  /// Content rendered inside of Login Main Footer Band do display a forgot credentials link
  [Parameter] public RenderFragment ForgotCredentials { get; set; }

  private string CssClass => new CssBuilder("pf-c-login__main-footer")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}