@page "/components/about-modal"

<TextContent>
  <Title class="pf-u-mb-md">About modal</Title>
  <Text class="pf-u-mb-md">
    An <strong>about modal</strong> displays information about an application like product version number(s), as well as any appropriate legal text.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/about-modal/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#without-product-name">Without product name</JumpLinksItem>
            <JumpLinksItem Href="#complex-user-positioned-content">Complex user positioned content</JumpLinksItem>
            <JumpLinksItem Href="#custom-background-image">Custom background image</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <AboutModalBasic />
    </section>

    <section id="without-product-name" class="example-section">
      <Title Size="TitleSizes.Large">Without product name</Title>
      <AboutModalWithoutProductName />
    </section>

    <section id="complex-user-positioned-content" class="example-section">
      <Title Size="TitleSizes.Large">Complex user positioned content</Title>
      <AboutModalComplexUserPositionedContent />
    </section>

    <section id="custom-background-image" class="example-section">
      <Title Size="TitleSizes.Large">Custom background image</Title>
      <AboutModalCustomBackgroundImage />
    </section>
  </FlexItem>
</Flex>
