@namespace Blatternfly.Components

<div
  id="@SidebarId"
  @attributes="AdditionalAttributes"
  class="@CssClass"
  aria-hidden="@AriaHidden"
>
  <div class="pf-c-page__sidebar-body">
    @ChildContent
  </div>
</div>