@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass" tabindex="@TabIndex">
  @if (IsWidthLimited)
  {
    <div class="pf-c-page__main-body">@ChildContent</div>
  }
  else
  {
    @ChildContent
  }
</div>