@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  /// Visibility at various breakpoints.
  [Parameter] public Visibility Visibility { get; set; }

  private string CssClass => new CssBuilder("pf-c-page__header-tools-group")
    .AddClass(Visibility?.CssClass())
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}