@namespace Blatternfly.Components

<Button
  id="@ToggleButtonId"
  OnClick="@ToggleHandler"
  AriaLabel="@AriaLabelValue"
  aria-expanded="@AriaExpanded"
  Variant="ButtonVariant.Plain"
  @attributes="AdditionalAttributes"
>
  @ChildContent
</Button>