@namespace Blatternfly.Components

<Button
  id="nav-toggle"
  OnClick="@ToggleHandler"
  AriaLabel="@AriaLabelValue"
  aria-expanded="@AriaExpanded"
  Variant="ButtonVariant.Plain"
  @attributes="AdditionalAttributes"
>
  @ChildContent
</Button>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// True if the side nav is shown.
  [Parameter] public bool IsNavOpen { get; set; } = true;

  /// Adds accessible text to the button.
  [Parameter] public string AriaLabel { get; set; }

  /// Callback function to handle the side nav toggle button,
  /// managed by the Page component if the Page isManagedSidebar prop is set to true.
  [Parameter] public EventCallback<bool> OnNavToggle { get; set; }

  private string AriaExpanded { get => IsNavOpen ? "true" : "false"; }
  private string AriaLabelValue { get => string.IsNullOrEmpty(AriaLabel) ? "Side navigation toggle" : AriaLabel; }

  private async Task ToggleHandler(MouseEventArgs _)
  {
    IsNavOpen = !IsNavOpen;
    await OnNavToggle.InvokeAsync(IsNavOpen);
  }
}