<div style="margin: 100px">
  <Tooltip
    id="auto-placement-tooltip"
    Reference="auto-placement-tooltip-reference"
    Position="TooltipPosition.Auto"
  >
    <Content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id feugiat augue, nec fringilla turpis.
    </Content>
    <ChildContent>
      <button id="auto-placement-tooltip-reference">Tooltip</button>
    </ChildContent>
  </Tooltip>
</div>