<div style="margin: 100px">
  <Tooltip id="basic-tooltip" Reference="tooltip-reference" Position="TooltipPosition.Top" IsVisible="@IsTooltipVisible">
    <Content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id feugiat augue, nec fringilla turpis.
    </Content>
    <ChildContent>
      <button id="tooltip-reference" @onmouseenter="OnMouseEnter" @onmouseleave="OnMouseOut">Tooltip</button>
    </ChildContent>
  </Tooltip>
</div>

@code {
  public bool IsTooltipVisible { get; set; }

  public void OnMouseEnter(MouseEventArgs _)
  {
    IsTooltipVisible = true;
  }

  public void OnMouseOut(MouseEventArgs _)
  {
    IsTooltipVisible = false;
  }
}