<div style="margin: 100px">
  <Tooltip id="basic-tooltip" Reference="tooltip-reference" Position="TooltipPosition.Top">
    <Content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id feugiat augue, nec fringilla turpis.
    </Content>
    <ChildContent>
      <button id="tooltip-reference">Tooltip</button>
    </ChildContent>
  </Tooltip>
</div>