<div style="margin: 60px;">
  <Popover
    id="basic-popover"
    Reference="basic-popover-reference"
    AriaLabel="Basic popover"
  >
    <HeaderContent>
      <div>Popover header</div>
    </HeaderContent>
    <BodyContent>
      <div>Popovers are triggered by click rather than hover.</div>
    </BodyContent>
    <FooterContent>
      Popover footer
    </FooterContent>
    <ChildContent>
      <Button id="basic-popover-reference">Toggle popover</Button>
    </ChildContent>
  </Popover>
</div>