@page "/components/wizard"

<TextContent>
  <Title class="pf-u-mb-md">Wizard</Title>
  <Text class="pf-u-mb-md">
    A <strong>wizard</strong> provides a guided workflow that offers a path to complete a task, create an object or objects, or finish a series of steps for some other outcome.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/wizard/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#incrementally-enabled-steps">Incrementally enabled steps</JumpLinksItem>
            <JumpLinksItem Href="#finished">Finished</JumpLinksItem>
            <JumpLinksItem Href="#enabled-on-form-validation">Enabled on form validation</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <WizardBasic />
    </Snippet>

    <Snippet id="incrementally-enabled-steps" Title="Incrementally enabled steps">
      <WizardIncrementallyEnabledSteps />
    </Snippet>

    <Snippet id="finished" Title="Finished">
      <WizardFinished />
    </Snippet>

    <Snippet id="enabled-on-form-validation" Title="Enabled on form validation">
      <WizardEnabledOnFormValidation />
    </Snippet>
  </FlexItem>
</Flex>