<Wizard
  NavAriaLabel="@BasicNavAriaLabel"
  MainAriaLabel="@BasicMainAriaLabel"
  OnClose="@OnCloseWizard"
  Height="400"
>
  <WizardStep id="finished-step-1" Index="1" Name="First step"><p>Step 1 content</p></WizardStep>
  <WizardStep id="finished-step-2" Index="2" Name="Second step"><p>Step 2 content</p></WizardStep>
  <WizardStep id="finished-step-3" Index="3" Name="Third step"><p>Step 3 content</p></WizardStep>
  <WizardStep id="finished-step-4" Index="4" Name="Fourth step"><p>Step 4 content</p></WizardStep>
  <WizardStep id="finished-step-5" Index="5" Name="Review" NextButtonText="Finish"><p>Review step content</p></WizardStep>
  <WizardStep id="finished-step-6" Index="6" Name="Finish" IsFinishedStep="true"><FinishedStep OnClose="@OnCloseWizard" /></WizardStep>
</Wizard>

@code {
  public string BasicTitle         => "Basic wizard";
  public string BasicNavAriaLabel  => $"{BasicTitle} steps";
  public string BasicMainAriaLabel => $"{BasicTitle} content";

  public Task OnCloseWizard()
  {
		Console.WriteLine("close wizard");
    return Task.CompletedTask;
  }
}