@page "/components/card"

<TextContent>
  <Title class="pf-u-mb-md">Card</Title>
  <Text class="pf-u-mb-md">
    A <strong>card</strong> is a square or rectangular container that can contain any kind of content.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/card/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#modifiers">Modifiers</JumpLinksItem>
            <JumpLinksItem Href="#with-image-and-actions">With image and actions</JumpLinksItem>
            <JumpLinksItem Href="#card-header-in-card-head">Card header in card head</JumpLinksItem>
            <JumpLinksItem Href="#only-actions-in-card-head">Only actions in card head (no header/footer)</JumpLinksItem>
            <JumpLinksItem Href="#only-image-in-the-card-head">Only image in the card head</JumpLinksItem>
            <JumpLinksItem Href="#with-no-footer">With no footer</JumpLinksItem>
            <JumpLinksItem Href="#with-no-header">With no header</JumpLinksItem>
            <JumpLinksItem Href="#with-only-a-content-section">With only a content section</JumpLinksItem>
            <JumpLinksItem Href="#with-multiple-body-sections">With multiple body sections</JumpLinksItem>
            <JumpLinksItem Href="#with-only-one-body-that-fills">With only one body that fills</JumpLinksItem>
            <JumpLinksItem Href="#selectable-and-selected">Selectable and selected</JumpLinksItem>
            <JumpLinksItem Href="#with-heading-element">With heading element</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#expandable-with-icon">Expandable with icon</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <CardBasic />
    </section>

    <section id="modifiers" class="example-section">
      <Title Size="TitleSizes.Large">Modifiers</Title>
      <CardModifiers />
    </section>

    <section id="with-image-and-actions" class="example-section">
      <Title Size="TitleSizes.Large">With image and actions</Title>
      <CardWithImageAndActions />
    </section>

    <section id="card-header-in-card-head" class="example-section">
      <Title Size="TitleSizes.Large">Card header in card head</Title>
      <CardHeaderInCardHead />
    </section>

    <section id="only-actions-in-card-head" class="example-section">
      <Title Size="TitleSizes.Large">Only actions in card head (no header/footer)</Title>
      <CardOnlyActionsInCardHeadNoHeaderFooter />
    </section>

    <section id="only-image-in-the-card-head" class="example-section">
      <Title Size="TitleSizes.Large">Only image in the card head</Title>
      <CardOnlyImageInTheCardHead />
    </section>

    <section id="with-no-footer" class="example-section">
      <Title Size="TitleSizes.Large">With no footer</Title>
      <CardWithNoFooter />
    </section>

    <section id="with-no-header" class="example-section">
      <Title Size="TitleSizes.Large">With no header</Title>
      <CardWithNoHeader />
    </section>

    <section id="with-only-a-content-section" class="example-section">
      <Title Size="TitleSizes.Large">With only a content section</Title>
      <CardWithOnlyAContentSection />
    </section>

    <section id="with-multiple-body-sections" class="example-section">
      <Title Size="TitleSizes.Large">With multiple body sections</Title>
      <CardWithMultipleBodySections />
    </section>

    <section id="with-only-one-body-that-fills" class="example-section">
      <Title Size="TitleSizes.Large">With only one body that fills</Title>
      <CardWithOnlyOneBodyThatFills />
    </section>

    <section id="selectable-and-selected" class="example-section">
      <Title Size="TitleSizes.Large">Selectable and selected</Title>
      <CardSelectableAndSelected />
    </section>

    <section id="with-heading-element" class="example-section">
      <Title Size="TitleSizes.Large">With heading element</Title>
      <CardWithHeadingElement />
    </section>

    <section id="expandable" class="example-section">
      <Title Size="TitleSizes.Large">Expandable</Title>
      <CardExpandable />
    </section>

    <section id="expandable-with-icon" class="example-section">
      <Title Size="TitleSizes.Large">Expandable with icon</Title>
      <CardExpandableWithIcon />
    </section>
  </FlexItem>
</Flex>