@page "/components/card"

<TextContent>
  <Title class="pf-u-mb-md">Card</Title>
  <Text class="pf-u-mb-md">
    A <strong>card</strong> is a square or rectangular container that can contain any kind of content.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/card/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#modifiers">Modifiers</JumpLinksItem>
            <JumpLinksItem Href="#with-image-and-actions">With image and actions</JumpLinksItem>
            <JumpLinksItem Href="#card-header-in-card-head">Card header in card head</JumpLinksItem>
            <JumpLinksItem Href="#only-actions-in-card-head">Only actions in card head (no header/footer)</JumpLinksItem>
            <JumpLinksItem Href="#only-image-in-the-card-head">Only image in the card head</JumpLinksItem>
            <JumpLinksItem Href="#with-no-footer">With no footer</JumpLinksItem>
            <JumpLinksItem Href="#with-no-header">With no header</JumpLinksItem>
            <JumpLinksItem Href="#with-only-a-content-Snippet">With only a content Snippet</JumpLinksItem>
            <JumpLinksItem Href="#with-multiple-body-Snippets">With multiple body Snippets</JumpLinksItem>
            <JumpLinksItem Href="#with-only-one-body-that-fills">With only one body that fills</JumpLinksItem>
            <JumpLinksItem Href="#selectable-and-selected">Selectable and selected</JumpLinksItem>
            <JumpLinksItem Href="#with-heading-element">With heading element</JumpLinksItem>
            <JumpLinksItem Href="#expandable">Expandable</JumpLinksItem>
            <JumpLinksItem Href="#expandable-with-icon">Expandable with icon</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <CardBasic />
    </Snippet>

    <Snippet id="modifiers" Title="Modifiers">
      <CardModifiers />
    </Snippet>

    <Snippet id="with-image-and-actions" Title="With image and actions">
      <CardWithImageAndActions />
    </Snippet>

    <Snippet id="card-header-in-card-head" Title="Card header in card head">
      <CardHeaderInCardHead />
    </Snippet>

    <Snippet id="only-actions-in-card-head" Title="Only actions in card head (no header/footer)">
      <CardOnlyActionsInCardHeadNoHeaderFooter />
    </Snippet>

    <Snippet id="only-image-in-the-card-head" Title="Only image in the card head">
      <CardOnlyImageInTheCardHead />
    </Snippet>

    <Snippet id="with-no-footer" Title="With no footer">
      <CardWithNoFooter />
    </Snippet>

    <Snippet id="with-no-header" Title="With no header">
      <CardWithNoHeader />
    </Snippet>

    <Snippet id="with-only-a-content-Snippet" Title="With only a content section">
      <CardWithOnlyAContentSection />
    </Snippet>

    <Snippet id="with-multiple-body-sections" Title="With multiple body sections">
      <CardWithMultipleBodySections />
    </Snippet>

    <Snippet id="with-only-one-body-that-fills" Title="With only one body that fills">
      <CardWithOnlyOneBodyThatFills />
    </Snippet>

    <Snippet id="selectable-and-selected" Title="Selectable and selected">
      <CardSelectableAndSelected />
    </Snippet>

    <Snippet id="with-heading-element" Title="With heading element">
      <CardWithHeadingElement />
    </Snippet>

    <Snippet id="expandable" Title="Expandable">
      <CardExpandable />
    </Snippet>

    <Snippet id="expandable-with-icon" Title="Expandable with icon">
      <CardExpandableWithIcon />
    </Snippet>
  </FlexItem>
</Flex>