@namespace Blatternfly.Components
@inherits BaseComponent

<div class="pf-c-form__group pf-m-action">
  <div class="pf-c-form__group-control" @attributes="AdditionalAttributes">
    <div class="pf-c-form__actions">@ChildContent</div>
  </div>
</div>