@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-form__group-control">
    <div class="pf-c-form__actions">@ChildContent</div>
  </div>
</div>