@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-form__field-group-header-main">
    @if (!string.IsNullOrEmpty(TitleText))
    {
      <div class="pf-c-form__field-group-header-title">
        <div class="pf-c-form__field-group-header-title-text" id="@TitleTextId">
          @TitleText
        </div>
      </div>
    }
    @if (!string.IsNullOrEmpty(TitleDescription))
    {
      <div class="pf-c-form__field-group-header-description">@TitleDescription</div>
    }
  </div>
  <div class="pf-c-form__field-group-header-actions">
    @if (Actions is not null)
    {
      @Actions
    }
  </div>
</div>