@namespace Blatternfly.Components

<label>
  <input
    @attributes="AdditionalAttributes"
    type="@Variant"
    checked="@IsSelected"
    @onchange="ValueChanged"
    disabled="@DisableSelection"
  />
</label>
@ChildContent