@namespace Blatternfly.Components

<span
  @attributes="AdditionalAttributes"
  class="@CssClass"
  role="button"
  type="button"
  tabindex="0"
>
  @ChildContent
</span>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  private string CssClass => new CssBuilder("pf-c-description-list__text")
    .AddClass("pf-m-help-text")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}