@namespace Blatternfly.Components
@inherits BaseComponent

<span
  @attributes="AdditionalAttributes"
  class="@CssClass"
  role="button"
  type="button"
  tabindex="0"
>
  @ChildContent
</span>

@code {
  private string CssClass => new CssBuilder("pf-c-description-list__text")
    .AddClass("pf-m-help-text")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}