@namespace Blatternfly.Components

<dt @attributes="AdditionalAttributes" class="@CssClass">
  @if (Icon is not null)
  {
    <span class="pf-c-description-list__term-icon">@Icon</span>
  }
  <span class="pf-c-description-list__text">@ChildContent</span>
</dt>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Icon that is rendered inside of list term to the left side of the children.
  [Parameter] public RenderFragment Icon { get; set; }

  private string CssClass => new CssBuilder("pf-c-description-list__term")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}