@namespace Blatternfly.Components

<dt @attributes="AdditionalAttributes" class="@CssClass">
  @if (Icon is not null)
  {
    <span class="pf-c-description-list__term-icon">@Icon</span>
  }
  <span class="pf-c-description-list__text">@ChildContent</span>
</dt>