@namespace Blatternfly.Components

<a
  @attributes="AdditionalAttributes"
  class="@CssClass"
  href="@Href"
  @onclick="@ClickHandler"
  @onclick:preventDefault="true"
  @ref="Element"
>
  @ChildContent
</a>