@page "/demos/card"

<TextContent>
  <Title class="pf-u-mb-md">Card view</Title>
  <Text class="pf-u-mb-md">
    This demonstrates how you can assemble a full page view that contains a grid of equal sized cards that includes a toolbar for managing card grid contents.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/demos/card-view/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Card view</Title>

  <NavLink href="demos/cards/card-view" Match="NavLinkMatch.All">Open</NavLink>
</section>