@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  /// Removes the background color.
  [Parameter] public bool HasNoBackground { get; set; }

  private CssBuilder CssClass => new CssBuilder("pf-c-sidebar__content")
    .AddClass("pf-m-no-background", HasNoBackground);
}