@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass">@ChildContent</div>

@code {
  private CssBuilder CssClass => new CssBuilder("pf-c-description-list__group")
    .AddClassFromAttributes(AdditionalAttributes);
}