@namespace Blatternfly.Components
@inherits BaseComponent

<dt @attributes="AdditionalAttributes" class="@CssClass">
  <span class="pf-c-description-list__text">@ChildContent</span>
</dt>

@code {
  private string CssClass => new CssBuilder("pf-c-description-list__term")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}