@namespace Blatternfly.Components
@inherits BaseComponent

<span
  class="pf-c-description-list__text pf-m-help-text"
  role="button"
  type="button"
  tabindex="0"
  @attributes="AdditionalAttributes"
>
  @ChildContent
</span>