@namespace Blatternfly.Components
@inherits BaseComponent

<dd @attributes="AdditionalAttributes" class="pf-c-description-list__description @InternalCssClass">
  <div class="pf-c-description-list__text">@ChildContent</div>
</dd>