@page "/components/panel"

<TextContent>
  <Title class="pf-u-mb-md">Panel</Title>
  <Text class="pf-u-mb-md">
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/panel/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#header">Header</JumpLinksItem>
            <JumpLinksItem Href="#footer">Footer</JumpLinksItem>
            <JumpLinksItem Href="#header-and-footer">Header and footer</JumpLinksItem>
            <JumpLinksItem Href="#no-body">No body</JumpLinksItem>
            <JumpLinksItem Href="#raised">Raised</JumpLinksItem>
            <JumpLinksItem Href="#bordered">Bordered</JumpLinksItem>
            <JumpLinksItem Href="#scrollable">Scrollable</JumpLinksItem>
            <JumpLinksItem Href="#scrollable-with-header-and-footer">Scrollable with header and footer</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <PanelBasic />
    </Snippet>

    <Snippet id="header" Title="Header">
      <PanelWithHeader />
    </Snippet>

    <Snippet id="footer" Title="Footer">
      <PanelWithFooter />
    </Snippet>

    <Snippet id="header-and-footer" Title="Header and Footer">
      <PanelWithHeaderAndFooter />
    </Snippet>

    <Snippet id="no-body" Title="No body">
      <PanelNoBody />
    </Snippet>

    <Snippet id="raised" Title="Raised">
      <PanelRaised />
    </Snippet>

    <Snippet id="bordered" Title="Bordered">
      <PanelBordered />
    </Snippet>

    <Snippet id="scrollable" Title="Scrollable">
      <PanelScrollable />
    </Snippet>

    <Snippet id="scrollable-with-header-and-footer" Title="Scrollable with header and footer">
      <PanelScrollableWithHeaderAndFooter />
    </Snippet>
  </FlexItem>
</Flex>