@page "/components/list"

<TextContent>
  <Title class="pf-u-mb-md">List</Title>
  <Text class="pf-u-mb-md">
    A <strong>list</strong> component embeds a formatted list (bulleted or numbered list) into page content.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/list/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#inline">Inline</JumpLinksItem>
            <JumpLinksItem Href="#ordered">Ordered</JumpLinksItem>
            <JumpLinksItem Href="#plain">Plain</JumpLinksItem>
            <JumpLinksItem Href="#with-horizontal-rules">With horizontal rules</JumpLinksItem>
            <JumpLinksItem Href="#with-icons">With icons</JumpLinksItem>
            <JumpLinksItem Href="#with-large-icons">With large icons</JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <ListBasic />
    </section>

    <section id="inline" class="example-section">
      <Title Size="TitleSizes.Large">Inline</Title>
      <ListInline />
    </section>

    <section id="ordered" class="example-section">
      <Title Size="TitleSizes.Large">Ordered</Title>
      <ListOrdered />
    </section>

    <section id="plain" class="example-section">
      <Title Size="TitleSizes.Large">Plain</Title>
      <ListPlain />
    </section>

    <section id="with-horizontal-rules" class="example-section">
      <Title Size="TitleSizes.Large">With horizontal rules</Title>
      <ListWithHorizontalRules />
    </section>

    <section id="with-icons" class="example-section">
      <Title Size="TitleSizes.Large">With icons</Title>
      <ListWithIcons />
    </section>

    <section id="with-large-icons" class="example-section">
      <Title Size="TitleSizes.Large">With large icons</Title>
      <ListWithLargeIcons />
    </section>
  </FlexItem>
</Flex>

