@namespace Blatternfly.Components

<div class="@CssClass" @attributes="AdditionalAttributes">
  @if (OnExpand.HasDelegate && !IsToggleRightAligned)
  {
    @CardHeaderToggle
  }
  @ChildContent
  @if (OnExpand.HasDelegate && IsToggleRightAligned)
  {
    @CardHeaderToggle
  }
</div>

@code {
  private RenderFragment CardHeaderToggle =>
    @<div class="pf-c-card__header-toggle">
      <Button
        Variant="ButtonVariant.Plain"
        Type="ButtonType.Button"
        aria-expanded="@Parent.IsExpanded"
        OnClick="@OnExpand"
      >
        <span class="pf-c-card__header-toggle-icon">
          <AngleRightIcon aria-hidden="true"/>
        </span>
      </Button>
    </div>;
}