@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">@ChildContent</div>

@code {
  /// Flag indicating that the actions have no offset.
  [Parameter] public bool HasNoOffset { get; set; }

  private string CssClass => new CssBuilder("pf-c-card__actions")
    .AddClass("pf-m-no-offset", HasNoOffset)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}