@namespace Blatternfly.Components
@inherits BaseComponent

<div class="pf-c-card__actions @OffsetClass" @attributes="AdditionalAttributes">@ChildContent</div>

@code {
  /// Flag indicating that the actions have no offset.
  [Parameter] public bool HasNoOffset { get; set; }

  private string OffsetClass { get => HasNoOffset ? "pf-m-no-offset" : null; }
}