@namespace Blatternfly.Components

@if (Parent.IsExpanded)
{
  <div @attributes="AdditionalAttributes" class="@CssClass">
    @ChildContent
  </div>
}

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Parent card component.
  [CascadingParameter] public Card Parent { get; set; }

  private string CssClass => new CssBuilder("pf-c-card__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}