<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">4xl Title</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge3">3xl Title</Title>
<Title HeadingLevel="HeadingLevel.h3" Size="TitleSizes.ExtraLarge2">2xl Title</Title>
<Title HeadingLevel="HeadingLevel.h4" Size="TitleSizes.ExtraLarge">xl Title</Title>
<Title HeadingLevel="HeadingLevel.h5" Size="TitleSizes.Large">lg Title</Title>
<Title HeadingLevel="HeadingLevel.h6" Size="TitleSizes.Medium">md Title</Title>
