@page "/components/title"

<TextContent>
  <Title class="pf-u-mb-md">Title</Title>
  <Text class="pf-u-mb-md">
    A <strong>title</strong> component applies top and bottom margins, font-weight, font-size, and line-height to titles.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/title/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#title-sizes">Title sizes</JumpLinksItem>
            <JumpLinksItem Href="#default-size-mappings">Default size mappings</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="title-sizes" Title="Title sizes">
      <TitleSizesVariants />
    </Snippet>

    <Snippet id="default-size-mappings" Title="Default size mappings">
      <TitleDefaultSizeMappings />
    </Snippet>
  </FlexItem>
</Flex>

