<Title HeadingLevel="HeadingLevel.h1">h1 default to 2xl</Title>
<Title HeadingLevel="HeadingLevel.h2">h2 defaults to xl</Title>
<Title HeadingLevel="HeadingLevel.h3">h3 defaults to lg</Title>
<Title HeadingLevel="HeadingLevel.h4">h4 defaults to md</Title>
<Title HeadingLevel="HeadingLevel.h5">h5 defaults to md</Title>
<Title HeadingLevel="HeadingLevel.h6">h6 defaults to md</Title>
