@page "/demos/banner"

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic sticky banner</Title>

  <NavLink href="demos/banner/basic-sticky" Match="NavLinkMatch.All">Open</NavLink>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Top and bottom banner</Title>

  <NavLink href="demos/banner/top-bottom" Match="NavLinkMatch.All">Open</NavLink>
</section>