@namespace Blatternfly.Components
@inherits ImageComponentBase

<div class="pf-c-about-modal-box__brand" @attributes="AdditionalAttributes">
  <img class="pf-c-about-modal-box__brand-image" src="@Source" alt="@AlternateText" />
</div>
