@page "/components/chip-group"

<TextContent>
  <Title class="pf-u-mb-md">Chip group</Title>
  <Text class="pf-u-mb-md">
    A <strong>chip group</strong> represents an attribute that has been assigned one or more values.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/chip-group/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#simple-inline-chip-group">Simple inline chip group</JumpLinksItem>
            <JumpLinksItem Href="#chip-groups-with-categories">Chip groups with categories</JumpLinksItem>
            <JumpLinksItem Href="#chip-groups-with-categories-removable">Chip groups with categories removable</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="simple-inline-chip-group" Title="Simple inline chip group">
      <ChipGroupSimpleInline />
    </Snippet>

    <Snippet id="chip-groups-with-categories" Title="Chip groups with categories">
      <ChipGroupWithCategories />
    </Snippet>

    <Snippet id="chip-groups-with-categories-removable" Title="Chip groups with categories removable">
      <ChipGroupWithCategoriesRemovable />
    </Snippet>
  </FlexItem>
</Flex>