@page "/layouts/bullseye"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Bullseye</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Bullseye>
    <div>Bullseye ◎ layout</div>
  </Bullseye>
</section>