@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-code-block__header">
    <div class="pf-c-code-block__actions">@Actions</div>
  </div>
  <div class="pf-c-code-block__content">@ChildContent</div>
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Actions in the code block header. Should be wrapped with CodeBlockAction.
  [Parameter] public RenderFragment Actions { get; set; }

  private string CssClass => new CssBuilder("pf-c-code-block")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}