@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-code-block__header">
    <div class="pf-c-code-block__actions">@Actions</div>
  </div>
  <div class="pf-c-code-block__content">@ChildContent</div>
</div>