@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="{css('pf-c-code-block__actions-item', className)}">
  @ChildContent
</div>

@code {
  private string CssClass => new CssBuilder("pf-c-code-block__actions-item")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}