@namespace Blatternfly.Components

@if (Variant is EmptyStateIconVariant.Icon)
{
  <CascadingValue Value="@CssClass" Name="ClassName" IsFixed="true">
    <CascadingValue Value="@InternalId" Name="IconId" IsFixed="true">
      @ChildContent
    </CascadingValue>
  </CascadingValue>
}
else
{
  <div @attributes="AdditionalAttributes" class="@CssClass">
    @ChildContent
  </div>
}