@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  @ChildContent
</div>

@code {
  private string CssClass => new CssBuilder("pf-c-empty-state__body")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}