@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
>
  <pre class="pf-m-redhat-updated-font pf-m-redhatmono-font language-aspnet">
    <code class="pf-m-redhat-updated-font pf-m-redhatmono-font language-aspnet">@ChildContent</code>
  </pre>
</div>

@code {
  private string CssClass => new CssBuilder("pf-c-clipboard-copy__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}