@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  style="padding: 0 !important;"
>
  <pre class="pf-m-redhatmono-font language-aspnet" style="margin: 0 auto;">
    <code class="pf-m-redhatmono-font language-aspnet">@ChildContent</code>
  </pre>
</div>

@code {
  private string CssClass => new CssBuilder("pf-c-clipboard-copy__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}