<div style="margin-bottom:12px">
  <Checkbox
    id="isPlain"
    Label="Plain read only variant"
    @bind-Value="IsPlainChecked"
  />
</div>
<TextArea
  AriaLabel="read only text area example"
  @bind-Value="Value"
  ReadOnlyVariant="@ReadOnlyVariant"
/>

@code {
  public bool IsPlainChecked { get; set; }

  public string Value { get; set; } = "read only text area example";

  public InputReadOnlyVariants ReadOnlyVariant
  {
    get => IsPlainChecked ? InputReadOnlyVariants.Plain : InputReadOnlyVariants.Default;
  }
}