@page "/components/text-area"

<TextContent>
  <Title class="pf-u-mb-md">Text area</Title>
  <Text class="pf-u-mb-md">
    A <strong>text area</strong> component is used for entering a paragraph of text that is longer than one line.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/text-area/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#invalid">Invalid</JumpLinksItem>
            <JumpLinksItem Href="#validated">Validated</JumpLinksItem>
            <JumpLinksItem Href="#vertically-resizable-text-area">Vertically resizable text area</JumpLinksItem>
            <JumpLinksItem Href="#horizontally-resizable-text-area">Horizontally resizable text area</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <TextAreaBasic />
    </Snippet>

    <Snippet id="invalid" Title="Invalid">
      <TextAreaInvalid />
    </Snippet>

    <Snippet id="validated" Title="Validated">
      <TextAreaValidated />
    </Snippet>

    <Snippet id="vertically-resizable-text-area" Title="Vertically resizable text area">
      <TextAreaVerticallyResizableTextArea />
     </Snippet>

    <Snippet id="horizontally-resizable-text-area" Title="Horizontally resizable text area">
      <TextAreaHorizontallyResizableTextArea />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <TextAreaDisabled />
    </Snippet>
  </FlexItem>
</Flex>