@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
>
  @ChildContent
</div>

@code {
  /// Adds panel variant styles.
  [Parameter] public PanelVariant? Variant { get; set; }

  /// Flag to add scrollable styling to the panel.
  [Parameter] public bool IsScrollable { get; set; }

  private string CssClass => new CssBuilder("pf-c-panel")
    .AddClass("pf-m-raised"    , Variant is PanelVariant.Raised)
    .AddClass("pf-m-bordered"  , Variant is PanelVariant.Bordered)
    .AddClass("pf-m-scrollable", IsScrollable)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}