@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="pf-c-panel__main"
  style="@CssStyle"
>
  @ChildContent
</div>

@code {
  /// Max height of the panel main div as a string with the value and unit.
  [Parameter] public string MaxHeight { get; set; }

  private string CssStyle
  {
    get => !string.IsNullOrEmpty(MaxHeight) ? $"--pf-c-panel__main--MaxHeight: {MaxHeight}" : null;
  }
}