@namespace Blatternfly.Components
@inherits BaseComponent

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  style="@CssStyle"
>
  @ChildContent
</div>

@code {
  /// Max height of the panel main div as a string with the value and unit.
  [Parameter] public string MaxHeight { get; set; }

  private string CssStyle => new StyleBuilder()
    .AddStyle("--pf-c-panel__main--MaxHeight", MaxHeight, !string.IsNullOrEmpty(MaxHeight))
    .Build();

  private string CssClass => new CssBuilder("pf-c-panel__main")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}