@page "/components/drawer"

<TextContent>
  <Title class="pf-u-mb-md">Drawer</Title>
  <Text class="pf-u-mb-md">
    A <strong>drawer</strong> is a sliding panel that enters from the right edge of the viewport.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/drawer/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-right">Panel on right</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-left">Panel on left</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-bottom">Panel on bottom</JumpLinksItem>
            <JumpLinksItem Href="#basic-inline">Basic inline</JumpLinksItem>
            <JumpLinksItem Href="#inline-panel-on-right">Inline panel on right</JumpLinksItem>
            <JumpLinksItem Href="#inline-panel-on-left">Inline panel on left</JumpLinksItem>
            <JumpLinksItem Href="#stacked-content-body-elements">Stacked content body elements</JumpLinksItem>
            <JumpLinksItem Href="#modified-content-padding">Modified content padding</JumpLinksItem>
            <JumpLinksItem Href="#modified-panel-padding">Modified panel padding</JumpLinksItem>
            <JumpLinksItem Href="#additional-section-above-drawer-content">Additional section above drawer content</JumpLinksItem>
            <JumpLinksItem Href="#static-drawer">Static drawer</JumpLinksItem>
            <JumpLinksItem Href="#breakpoint">Breakpoint</JumpLinksItem>
            <JumpLinksItem Href="#panel-with-light-200-background">Panel with light-200 background</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <DrawerBasic />
    </section>

    <section id="panel-on-right" class="example-section">
      <Title Size="TitleSizes.Large">Panel on right</Title>
      <DrawerPanelOnRight />
    </section>

    <section id="panel-on-left" class="example-section">
      <Title Size="TitleSizes.Large">Panel on left</Title>
      <DrawerPanelOnLeft />
    </section>

    <section id="panel-on-bottom" class="example-section">
      <Title Size="TitleSizes.Large">Panel on bottom</Title>
      <DrawerPanelOnBottom />
    </section>

    <section id="basic-inline" class="example-section">
      <Title Size="TitleSizes.Large">Basic inline</Title>
      <DrawerBasicInline />
    </section>

    <section id="inline-panel-on-right" class="example-section">
      <Title Size="TitleSizes.Large">Inline panel on right</Title>
      <DrawerInlinePanelOnRight />
    </section>

    <section id="inline-panel-on-left" class="example-section">
      <Title Size="TitleSizes.Large">Inline panel on left</Title>
      <DrawerInlinePanelOnLeft />
    </section>

    <section id="stacked-content-body-elements" class="example-section">
      <Title Size="TitleSizes.Large">Stacked content body elements</Title>
      <DrawerStackedContentBodyElements />
    </section>

    <section id="modified-content-padding" class="example-section">
      <Title Size="TitleSizes.Large">Modified content padding</Title>
      <DrawerModifiedContentPadding />
    </section>

    <section id="modified-panel-padding" class="example-section">
      <Title Size="TitleSizes.Large">Modified panel padding</Title>
      <DrawerModifiedPanelPadding />
    </section>

    <section id="additional-section-above-drawer-content" class="example-section">
      <Title Size="TitleSizes.Large">Additional section above drawer content</Title>
      <DrawerAdditionalSectionAboveDrawerContent />
    </section>

    <section id="static-drawer" class="example-section">
      <Title Size="TitleSizes.Large">Static drawer</Title>
      <DrawerStaticDrawer />
    </section>

    <section id="breakpoint" class="example-section">
      <Title Size="TitleSizes.Large">Breakpoint</Title>
      <DrawerBreakpoint />
    </section>

    <section id="panel-with-light-200-background" class="example-section">
      <Title Size="TitleSizes.Large">Panel with light-200 background</Title>
      <DrawerPanelWithLight200Background />
    </section>
  </FlexItem>
</Flex>
