@page "/components/drawer"

<TextContent>
  <Title class="pf-u-mb-md">Drawer</Title>
  <Text class="pf-u-mb-md">
    A <strong>drawer</strong> is a sliding panel that enters from the right edge of the viewport.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/drawer/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-right">Panel on right</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-left">Panel on left</JumpLinksItem>
            <JumpLinksItem Href="#panel-on-bottom">Panel on bottom</JumpLinksItem>
            <JumpLinksItem Href="#basic-inline">Basic inline</JumpLinksItem>
            <JumpLinksItem Href="#inline-panel-on-right">Inline panel on right</JumpLinksItem>
            <JumpLinksItem Href="#inline-panel-on-left">Inline panel on left</JumpLinksItem>
            <JumpLinksItem Href="#stacked-content-body-elements">Stacked content body elements</JumpLinksItem>
            <JumpLinksItem Href="#modified-content-padding">Modified content padding</JumpLinksItem>
            <JumpLinksItem Href="#modified-panel-padding">Modified panel padding</JumpLinksItem>
            <JumpLinksItem Href="#additional-Snippet-above-drawer-content">Additional Snippet above drawer content</JumpLinksItem>
            <JumpLinksItem Href="#static-drawer">Static drawer</JumpLinksItem>
            <JumpLinksItem Href="#breakpoint">Breakpoint</JumpLinksItem>
            <JumpLinksItem Href="#panel-with-light-200-background">Panel with light-200 background</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <DrawerBasic />
    </Snippet>

    <Snippet id="panel-on-right" Title="Panel on right">
      <DrawerPanelOnRight />
    </Snippet>

    <Snippet id="panel-on-left" Title="Panel on left">
      <DrawerPanelOnLeft />
    </Snippet>

    <Snippet id="panel-on-bottom" Title="Panel on bottom">
      <DrawerPanelOnBottom />
    </Snippet>

    <Snippet id="basic-inline" Title="Basic inline">
      <DrawerBasicInline />
    </Snippet>

    <Snippet id="inline-panel-on-right" Title="Inline panel on right">
      <DrawerInlinePanelOnRight />
    </Snippet>

    <Snippet id="inline-panel-on-left" Title="Inline panel on left">
      <DrawerInlinePanelOnLeft />
    </Snippet>

    <Snippet id="stacked-content-body-elements" Title="Stacked content body elements">
      <DrawerStackedContentBodyElements />
    </Snippet>

    <Snippet id="modified-content-padding" Title="Modified content padding">
      <DrawerModifiedContentPadding />
    </Snippet>

    <Snippet id="modified-panel-padding" Title="Modified panel padding">
      <DrawerModifiedPanelPadding />
    </Snippet>

    <Snippet id="additional-Snippet-above-drawer-content" Title="Additional Snippet above drawer content">
      <DrawerAdditionalSectionAboveDrawerContent />
    </Snippet>

    <Snippet id="static-drawer" Title="Static drawer">
      <DrawerStaticDrawer />
    </Snippet>

    <Snippet id="breakpoint" Title="Breakpoint">
      <DrawerBreakpoint />
    </Snippet>

    <Snippet id="panel-with-light-200-background" Title="Panel with light-200 background">
      <DrawerPanelWithLight200Background />
    </Snippet>
  </FlexItem>
</Flex>
