@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="pf-c-backdrop">@ChildContent</div>

@code {
  private string CssClass => new CssBuilder("pf-c-backdrop")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}
