@page "/components/notification-badge"

<TextContent>
  <Title class="pf-u-mb-md">Notification badge</Title>
  <Text class="pf-u-mb-md">
    A <strong>notification</strong> badge is intended to be used with a <Text Component="TextVariants.a" href="components/notification-drawer">notification drawer</Text> as a visible indicator to alert the user about incoming notifications.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/notification-badge/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-count">With count</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <NotificationBadgeBasic />
    </Snippet>

    <Snippet id="with-count" Title="With count">
      <NotificationBadgeWithCount />
    </Snippet>
  </FlexItem>
</Flex>