@page "/layouts/bullseye"

<TextContent>
  <Title class="pf-u-mb-md">Bullseye</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Bullseye</strong> layout to center content, both vertically and horizontally within a container.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/bullseye/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Bullseye>
    <div>Bullseye ◎ layout</div>
  </Bullseye>
</section>