@page "/layouts/gallery"

<TextContent>
  <Title class="pf-u-mb-md">Gallery</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Gallery</strong> layout to arrange content in a responsive grid.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/gallery/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Gallery>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
  </Gallery>
</section>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">With gutters</Title>
  <Gallery HasGutter>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
  </Gallery>
</section>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Adjusting min widths</Title>
  <Gallery HasGutter MinWidths="@_minWidths">
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
  </Gallery>
</section>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Adjusting max widths</Title>
  <Gallery HasGutter MaxWidths="@_maxWidths">
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
  </Gallery>
</section>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Adjusting min and max widths</Title>
  <Gallery HasGutter MinWidths="@_minWidths1" MaxWidths="@_maxWidths1">
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
    <GalleryItem>Gallery Item</GalleryItem>
  </Gallery>
</section>

@code {

  private readonly GalleryBreakpoints _minWidths = new()
  {
    Medium      = "100px",
    Large       = "150px",
    ExtraLarge  = "200px",
    ExtraLarge2 = "300px"
  };

  private readonly GalleryBreakpoints _maxWidths = new()
  {
    Medium      = "280px",
    Large       = "320px",
    ExtraLarge2 = "400px"
  };

  private readonly GalleryBreakpoints _minWidths1 = new()
  {
    Default    = "100%",
    Medium     = "100px",
    ExtraLarge = "300px"
  };

  private readonly GalleryBreakpoints _maxWidths1 = new()
  {
    Medium     = "200px",
    ExtraLarge = "1fr"
  };
}