@page "/layouts/level"

<TextContent>
  <Title class="pf-u-mb-md">Level</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Level</strong> layout to evenly distribute content horizontally within a container.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/level/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Level>
    <LevelItem>Level Item</LevelItem>
    <LevelItem>Level Item</LevelItem>
    <LevelItem>Level Item</LevelItem>
  </Level>
</section>

<section class="example-section layout-section">
  <Title Size="TitleSizes.Large">With gutters</Title>
  <Level HasGutter>
    <LevelItem>Level Item</LevelItem>
    <LevelItem>Level Item</LevelItem>
    <LevelItem>Level Item</LevelItem>
  </Level>
</section>
