<ClipboardCopy
  HoverTip="Copy"
  ClickTip="Copied"
  Variant="ClipboardCopyVariant.InlineCompact"
  Text="2.3.4-2-redhat"
>
  <AdditionalActions>
    <ClipboardCopyAction>
      <Button Variant="ButtonVariant.Plain" aria-label="Run in web terminal">
        <PlayIcon aria-hidden />
      </Button>
    </ClipboardCopyAction>
  </AdditionalActions>
</ClipboardCopy>
