@page "/icons"

<TextContent>
  <Title class="pf-u-mb-md">Icon</Title>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/guidelines/icons/">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Gallery</Title>

  <NavLink href="icons/gallery" Match="NavLinkMatch.All">Open</NavLink>
</section>