@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <div
    @attributes="AdditionalAttributes"
    class="@CssClass"
    role="group"
    aria-label="@AriaLabel"
  >
    @ChildContent
  </div>
</CascadingValue>