@page "/components/divider"

<TextContent>
  <Title class="pf-u-mb-md">Divider</Title>
  <Text class="pf-u-mb-md">
    A <strong>divider</strong> is a horizontal or vertical line that is placed between screen elements to create visual divisions and content groupings.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/divider/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#using-hr">Using hr</JumpLinksItem>
            <JumpLinksItem Href="#using-li">Using li</JumpLinksItem>
            <JumpLinksItem Href="#using-div">Using div</JumpLinksItem>
            <JumpLinksItem Href="#inset-medium">Inset medium</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="using-hr" class="example-section">
      <Title Size="TitleSizes.Large">Using hr</Title>
      <Divider />
    </section>

    <section id="using-li" class="example-section">
      <Title Size="TitleSizes.Large">Using li</Title>
      <ul>
        <li>List item one</li>
        <Divider Component="DividerVariant.li"/>
        <li>List item two</li>
      </ul>
    </section>

    <section id="using-div" class="example-section">
      <Title Size="TitleSizes.Large">Using div</Title>
      <Divider Component="DividerVariant.div"/>
    </section>

    <section id="inset-medium" class="example-section">
      <Title Size="TitleSizes.Large">Inset medium</Title>
      <Divider Inset="@(new Inset { Default = Insets.Medium })" />
    </section>
  </FlexItem>
</Flex>