@page "/"

<PageSection>
  <TextContent>
    <Title class="pf-u-mb-md">Blatternfly</Title>
    <Text class="pf-u-mb-md">
      Blatternfly is a Blazor implementation of PatternFly.
    </Text>
    <Text class="pf-u-mb-md">
      To get a quick overview what this is all about, take a look at the <a href="components/about-modal">components</a> and <a href="layouts/bullseye">layouts</a>.
    </Text>
  </TextContent>
</PageSection>

<PageSection IsFilled="true">

</PageSection>