@page "/components/dropdown"

<TextContent>
  <Title class="pf-u-mb-md">Dropdown</Title>
  <Text class="pf-u-mb-md">
    A <strong>dropdown</strong> presents a menu of actions or links in a constrained space that will trigger a process or navigate to a new location.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/dropdown/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-groups">With groups</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#primary-toggle">Primary toggle</JumpLinksItem>
            <JumpLinksItem Href="#secondary-toggle">Secondary toggle</JumpLinksItem>
            <JumpLinksItem Href="#plain-with-text-toggle">Plain with text toggle</JumpLinksItem>
            <JumpLinksItem Href="#alignments-on-different-breakpoints">Alignments on different breakpoints</JumpLinksItem>
            <JumpLinksItem Href="#direction-up">Direction up</JumpLinksItem>
            <JumpLinksItem Href="#with-kebab">With kebab</JumpLinksItem>
            <JumpLinksItem Href="#with-badge">With badge</JumpLinksItem>
            <JumpLinksItem Href="#dropdown-with-descriptions">Dropdown with descriptions</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <DropdownBasic />
    </section>

    <section id="with-groups" class="example-section">
      <Title Size="TitleSizes.Large">With groups</Title>
      <DropdownWithGroups />
    </section>

    <section id="disabled" class="example-section">
      <Title Size="TitleSizes.Large">Disabled</Title>
      <DropdownDisabled />
    </section>

    <section id="primary-toggle" class="example-section">
      <Title Size="TitleSizes.Large">Primary toggle</Title>
      <DropdownPrimaryToggle />
    </section>

    <section id="secondary-toggle" class="example-section">
      <Title Size="TitleSizes.Large">Secondary toggle</Title>
      <DropdownSecondaryToggle />
    </section>

    <section id="plain-with-text-toggle" class="example-section">
      <Title Size="TitleSizes.Large">Plain with text toggle</Title>
      <DropdownPlainWithTextToggle />
    </section>

    <section id="alignments-on-different-breakpoints" class="example-section">
      <Title Size="TitleSizes.Large">Alignments on different breakpoints</Title>
      <DropdownAlignmentsOnDifferentBreakpoints />
    </section>

    <section id="direction-up" class="example-section">
      <Title Size="TitleSizes.Large">Direction up</Title>
      <DropdownDirectionUp />
    </section>

    <section id="with-kebab" class="example-section">
      <Title Size="TitleSizes.Large">With kebab</Title>
      <DropdownWithKebab />
    </section>

    <section id="with-badge" class="example-section">
      <Title Size="TitleSizes.Large">With badge</Title>
      <DropdownWithBadge />
    </section>

    <section id="dropdown-with-descriptions" class="example-section">
      <Title Size="TitleSizes.Large">Dropdown with descriptions</Title>
      <DropdownWithDescriptions />
    </section>
  </FlexItem>
</Flex>