@page "/components/dropdown"

<TextContent>
  <Title class="pf-u-mb-md">Dropdown</Title>
  <Text class="pf-u-mb-md">
    A <strong>dropdown</strong> presents a menu of actions or links in a constrained space that will trigger a process or navigate to a new location.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/dropdown/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-groups">With groups</JumpLinksItem>
            <JumpLinksItem Href="#disabled">Disabled</JumpLinksItem>
            <JumpLinksItem Href="#primary-toggle">Primary toggle</JumpLinksItem>
            <JumpLinksItem Href="#secondary-toggle">Secondary toggle</JumpLinksItem>
            <JumpLinksItem Href="#plain-with-text-toggle">Plain with text toggle</JumpLinksItem>
            <JumpLinksItem Href="#alignments-on-different-breakpoints">Alignments on different breakpoints</JumpLinksItem>
            <JumpLinksItem Href="#direction-up">Direction up</JumpLinksItem>
            <JumpLinksItem Href="#with-kebab">With kebab</JumpLinksItem>
            <JumpLinksItem Href="#with-badge">With badge</JumpLinksItem>
            <JumpLinksItem Href="#dropdown-with-descriptions">Dropdown with descriptions</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic">
      <DropdownBasic />
    </Snippet>

    <Snippet id="with-groups" Title="With groups">
      <DropdownWithGroups />
    </Snippet>

    <Snippet id="disabled" Title="Disabled">
      <DropdownDisabled />
    </Snippet>

    <Snippet id="primary-toggle" Title="Primary toggle">
      <DropdownPrimaryToggle />
    </Snippet>

    <Snippet id="secondary-toggle" Title="Secondary toggle">
      <DropdownSecondaryToggle />
    </Snippet>

    <Snippet id="plain-with-text-toggle" Title="Plain with text toggle">
      <DropdownPlainWithTextToggle />
    </Snippet>

    <Snippet id="alignments-on-different-breakpoints" Title="Alignments on different breakpoints">
      <DropdownAlignmentsOnDifferentBreakpoints />
    </Snippet>

    <Snippet id="direction-up" Title="Direction up">
      <DropdownDirectionUp />
    </Snippet>

    <Snippet id="with-kebab" Title="With kebab">
      <DropdownWithKebab />
    </Snippet>

    <Snippet id="with-badge" Title="With badge">
      <DropdownWithBadge />
    </Snippet>

    <Snippet id="dropdown-with-descriptions" Title="Dropdown with descriptions">
      <DropdownWithDescriptions />
    </Snippet>
  </FlexItem>
</Flex>