@page "/components/login-page"

<TextContent>
  <Title class="pf-u-mb-md">Login page</Title>
  <Text class="pf-u-mb-md">
    A <strong>login page</strong> allows a user to gain access to an application by entering their username and password or by authenticating using a social media login.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/login-page/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#show-hide-password">Show/hide password</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="Basic" Title="Basic" Href="components/login-page/basic" />

    <Snippet id="show-hide-password" Title="Show/hide password" Href="components/login-page/show-hide-password" />
  </FlexItem>
</Flex>