@page "/layouts/grid"

<TextContent>
  <Title class="pf-u-mb-md">Grid</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Grid</strong> to layout content on a fixed-size 12 column grid.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/grid/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-gutters">With gutters</JumpLinksItem>
            <JumpLinksItem Href="#ordering">Ordering</JumpLinksItem>
            <JumpLinksItem Href="#responsive-ordering">Responsive ordering</JumpLinksItem>
            <JumpLinksItem Href="#grouped-ordering">Grouped ordering</JumpLinksItem>
            <JumpLinksItem Href="#alternative-components">Alternative components</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic" IsLayoutSection>
      <GridBasic />
    </Snippet>

    <Snippet id="with-gutters" Title="With gutters" IsLayoutSection>
      <GridWithGutters />
    </Snippet>

    <Snippet id="with-overrides" Title="With overrides" IsLayoutSection>
      <GridWithOverrides />
    </Snippet>

    <Snippet id="ordering" Title="Ordering" IsLayoutSection>
      <GridOrdering />
    </Snippet>

    <Snippet id="responsive-ordering" Title="Responsive ordering" IsLayoutSection>
      <GridResponsiveOrdering />
    </Snippet>

    <Snippet id="grouped-ordering" Title="Grouped ordering" IsLayoutSection>
      <GridGroupedOrdering />
    </Snippet>

    <Snippet id="alternative-components" Title="Alternative components" IsLayoutSection>
      <GridAlternativeComponents />
    </Snippet>
  </FlexItem>
</Flex>