@namespace Blatternfly.Components
@inherits BaseComponent

<Button @attributes="AdditionalAttributes" class="@CssClass" Variant="ButtonVariant.Link" OnClick="@OnClick" IsInline>
  @ChildContent
</Button>

@code {
  [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

  private string CssClass => new CssBuilder()
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}