@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  @if (CustomIcon is not null)
  {
    @CustomIcon
  }
  else
  {
    @if (Variant is AlertIconVariants.Success)
    {
      <CheckCircleIcon />
    }
    else if (Variant is AlertIconVariants.Danger)
    {
      <ExclamationCircleIcon />
    }
    else if (Variant is AlertIconVariants.Warning)
    {
      <ExclamationTriangleIcon />
    }
    else if (Variant is AlertIconVariants.Info)
    {
      <InfoCircleIcon />
    }
    else if (Variant is AlertIconVariants.Default)
    {
      <BellIcon />
    }
  }
</div>