@namespace Blatternfly.Components

<Button
  Variant="ButtonVariant.Plain"
  OnClick="@OnToggleExpand"
  aria-expanded="@IsExpanded"
  AriaLabel="@AriaLabelValue"
  @attributes="AdditionalAttributes"
>
  <span class="pf-c-alert__toggle-icon">
    <AngleRightIcon aria-hidden="true" />
  </span>
</Button>