@page "/layouts/level"

<TextContent>
  <Title class="pf-u-mb-md">Level</Title>
  <Text class="pf-u-mb-md">
    Use a <strong>Level</strong> layout to evenly distribute content horizontally within a container.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/layouts/level/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-gutters">With gutters</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <Snippet id="basic" Title="Basic" IsLayoutSection>
      <LevelBasic />
    </Snippet>

    <Snippet id="with-gutters" Title="With gutters" IsLayoutSection>
      <LevelWithGutters />
    </Snippet>
  </FlexItem>
</Flex>