@namespace Blatternfly.Components
@inherits BaseComponent

<button
  @attributes="AdditionalAttributes"
  class="@CssClass"
  disabled="@DisabledValue"
  aria-disabled="@DisabledValue"
  @onclick="OnClick"
  @onclick:stopPropagation="true"
>
  @ChildContent
</button>

@code {
  // Flag to show if the action button is disabled.
  [Parameter] public bool IsDisabled { get; set; }

  /// A callback for when the action button is clicked.
  [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

  private string CssClass => new CssBuilder("pf-c-dropdown__toggle-button")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string DisabledValue { get => IsDisabled ? "true" : null; }
}