@namespace Blatternfly.Components

<section @attributes="AdditionalAttributes" class="@CssClass">
  @if (!string.IsNullOrEmpty(Label))
  {
  <h1 class="pf-c-dropdown__group-title" aria-hidden="true">@Label</h1>
  }
  <ul role="none">@ChildContent</ul>
</section>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Group label.
  [Parameter] public string Label { get; set; }

  private string CssClass => new CssBuilder("pf-c-dropdown__group")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();
}