@namespace Blatternfly.Components

<button
  @attributes="AdditionalAttributes"
  class="@CssClass"
  disabled="@DisabledValue"
  aria-disabled="@DisabledValue"
  @onclick="OnClick"
  @onclick:stopPropagation="true"
>
  @ChildContent
</button>