@namespace Blatternfly.Components
@inherits BaseComponent

<section @attributes="AdditionalAttributes" class="@CssClass">
    @if (!string.IsNullOrEmpty(Label))
    {
    <h1 class="pf-c-dropdown__group-title" aria-hidden="true">@Label</h1>
    }
    <ul role="none">@ChildContent</ul>
</section>

@code {
  [Parameter] public string Label { get; set; }

  private CssBuilder CssClass => new CssBuilder("pf-c-dropdown__group")
    .AddClassFromAttributes(AdditionalAttributes);
}