@namespace Blatternfly.Components

<section @attributes="AdditionalAttributes" class="@CssClass">
  @if (!string.IsNullOrEmpty(Label))
  {
  <h1 class="pf-c-dropdown__group-title" aria-hidden="true">@Label</h1>
  }
  <ul role="none">@ChildContent</ul>
</section>