<Menu ActiveItemId="@ActiveItem" OnSelect="@OnSelect" IsPlain="@IsPlain">
  <MenuContent>
    <MenuList>
      <MenuItem ItemId="0">Action</MenuItem>
      <MenuItem
        ItemId="1"
        To="#default-link2"
      >
        Link
      </MenuItem>
      <MenuItem IsDisabled>Disabled action</MenuItem>
      <MenuItem IsDisabled To="#default-link4">
        Disabled link
      </MenuItem>
    </MenuList>
  </MenuContent>
</Menu>
<div style="margin-top: 20px">
  <Checkbox
    Label="Plain menu"
    @bind-Value="@IsPlain"
    AriaLabel="plain menu checkbox"
    id="toggle-plain"
    name="toggle-plain"
  />
</div>

@code {
  public string ActiveItem { get; set; }
  public bool IsPlain      { get; set; }

  private void OnSelect((EventArgs args, string itemId) input)
  {
    Console.WriteLine($"clicked {input.itemId}");
    ActiveItem = input.itemId;
  }
}